<main id="main__body">
  <div class="container">

    <div class="row mb-5">
        <div class="mainContent">
      <div class="col-md-10">
        <article>
            <div class="row">
                <div class="col-8">
                    <h1 class="page-header--xl">Health and Wellness Fair</h1>
                    </div>
                    <!-- SharePoint Content Area Begin -->
                     <div class="row">
                    <div class="col-md-4">
                      <ul class="fa-ul">
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary"></span></span>Thursday, Oct. 10, 2024
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock text-cprimary"></span></span>8 a.m.-2 p.m.
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span><a href="https://www.dallascollege.edu/maps/bhc/pages/default.aspx">Dallas College Brookhaven Campus</a>, S064
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span><a href="https://www.dallascollege.edu/maps/cvc/pages/default.aspx">Dallas College Cedar Valley Campus</a>, M064
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span><a href="https://www.dallascollege.edu/maps/efc/pages/default.aspx">Dallas College Eastfield Campus</a>, E064
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope text-cprimary"></span></span>Tony Jay Henderson<br>
                          <a href="mailto:TonyHenderson@DallasCollege.edu">TonyHenderson@DallasCollege.edu</a>
                        </li>
                      </ul>
                      <a href="#" class="button button-mn cprimary">Download Event to Outlook</a>
                    </div>

                <div class="col-md-4">
                  <img src="https://dallascollege.github.io/TerminalBS/assets/img/students2.jpg" class="img-fluid" alt="Students walking across campus">
                </div>

            </div>
          </div>

            <div class="row my-5">
        
                <div class="col-12 offset-sm-2 col-sm-6"> 
                    <p class="lead">This is the summary of the event. Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity.</p>
                    <p>Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity and emotional awareness, and learn how to support a fitness and wellness lifestyle through nutrition, competition and entertainment.</p>

                    <a href="#" class="button csecondary">Register Now</a>
                

              

</div>
<div class="row my-4">
  <div class="col-12 offset-sm-2 col-sm-6">
    <h2>Map</h2>
    <a href="https://map.concept3d.com/?id=2044#!m/675437?share" target="_blank"><img src="https://staticmap.concept3d.com/map/static-map/?map=2044&loc=675437&scale=1&zoom=17&label" alt="Static Map of location"/></a>
  </div>
</div>
<div class="row my-4">
  <div class="col-12 offset-sm-2 col-sm-6 border-bottom">
    <div class="cb-title mb-2 text-end">Event Type:</div>
      <ul class="inline-list text-end">
      <li class="inline-list-item badge bg-success">Student Life</li>
      <li class="inline-list-item badge bg-success">Community</li>
      </ul>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-12 col-sm-8">
    <div class="row">
      <h2>Related Events</h2> 
      <div class="col-6 col-sm-4">
        <h3 class="h4"><a href="#">Event That's Really Really Cool</a></h3>
        <div class="event-date p-2 my-2"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary"></span> Thursday, Oct. 10, 2024<br>
          <span aria-hidden="true" class="ico fas fa-clock text-cprimary"></span></span> 8 a.m.-2 p.m.</div>
        <img src="https://samplesite-01-us-east-1.terminalfour.net/media/sample-site/site-content/images/maria-teneva-M4b_usCBIWw-unsplash.jpg" class="img-fluid" alt="Students watching film">

      </div>

      <div class="col-6 col-sm-4">
        <h3 class="h4"><a href="#">Event That's Really Really Cool</a></h3>
        <div class="event-date p-2 my-2"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary"></span> Thursday, Oct. 10, 2024<br>
          <span aria-hidden="true" class="ico fas fa-clock text-cprimary"></span></span> 8 a.m.-2 p.m.</div>
        <img src="https://samplesite-01-us-east-1.terminalfour.net/media/sample-site/site-content/images/maria-teneva-M4b_usCBIWw-unsplash.jpg" class="img-fluid" alt="Students watching film">

      </div>

      <div class="col-6 col-sm-4">
        <h3 class="h4"><a href="#">Event That's Really Really Cool</a></h3>
        <div class="event-date p-2 my-2"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary"></span> Thursday, Oct. 10, 2024<br>
          <span aria-hidden="true" class="ico fas fa-clock text-cprimary"></span></span> 8 a.m.-2 p.m.</div>
        <img src="https://samplesite-01-us-east-1.terminalfour.net/media/sample-site/site-content/images/maria-teneva-M4b_usCBIWw-unsplash.jpg" class="img-fluid" alt="Students watching film">

      </div>
      <a class="pgs-action-link" href="calendar-search.html"><span class="ico fas fa-chevron-right mt-4"></span>View the Full Calendar</a>

    </div>
  </div>
</div>


        </article>
      </div>
    </div>
  </div>
</main>
