<main id="main__body">
  <div class="container">
    <div class="mainContent">
    <div class="row">

      <div class="col-md-8 order-md-first">
        <article>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-header--xl">Health and Wellness Fair</h1>
                    <!-- SharePoint Content Area Begin -->
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li"><span aria-hidden="true" class="ico fas fa-calendar"></span></span>Thursday, Oct. 10, 2024</li>
                    <li>
                        <span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span>8 a.m.-2 p.m.</li>
                    </ul>
                    <a href="#" class="button button-mn cprimary">Download Event to Outlook</a>
                </div>

                <div class="col-md-6">
                <img src="https://samplesite-01-us-east-1.terminalfour.net/media/sample-site/site-content/images/maria-teneva-M4b_usCBIWw-unsplash.jpg" class="img-fluid" alt="Students watching film">

                </div>

            </div>



               



            <div class="row my-4">
                <div class="col-12 col-sm-7">

                </div>
        
                <div class="col-12 col-sm-6">
                    <span aria-hidden="true" class="ico fas fa-map-marker-alt"></span> Dallas College Brookhaven Campus<br>
                    S064<br>
                    3939 Valley View Lane<br>
                        Farmers Branch TX 75244
                </div>
                
                <div class="col-12 col-sm-6">
        
                    <span aria-hidden="true" class="ico fas fa-envelope"></span> Tony Jay Henderson<br>
        <a href="mailto:TonyHenderson@DallasCollege.edu">TonyHenderson@DallasCollege.edu</a>
        </div>
        
                </div>

            <div class="news-content my-5">
                <p class="lead">This is the summary of the event. Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity.</p>
            <p>Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity and emotional awareness, and learn how to support a fitness and wellness lifestyle through nutrition, competition and entertainment.</p>
                

              

</div>
<div class="row my-4">
<h2>Map</h2>
<div class="col-6">
            <a href="https://map.concept3d.com/?id=2044#!m/675437?share" target="_blank"><img src="https://staticmap.concept3d.com/map/static-map/?map=2044&loc=675437&scale=1&zoom=18&label" alt="Static Map of location"/></a>
</div>
</div>
</div>
                  <div class="cb-title mb-2">Event Type:</div>
                  <ul class="inline-list">
                  <li class="inline-list-item badge bg-success">Student Life</li>
                    <li class="inline-list-item badge bg-success">Community</li>
                  </ul>
                </div>


        </div>
    </div>



        </article>
      </div>
    </div>
  </div>
</main>
