<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">
    <!-- Begin Calendar -->
    <div class="event-list" id="calendar_box">

        <div id="mini_cal_header_inner">
            <div id="current_month">
                <h2 class="h3"><span aria-hidden="true"
                        class="ico fas fa-arrow-left me-2"></span>October<span> 2024</span><span
                        aria-hidden="true" class="ico fas fa-arrow-right ms-2"></span></h2>
            </div>
        </div>
        <div class="table-wrap">
            <div class="table-wrapper">
                <table class="cal-table mb-4 mb-sm-0">
                    <thead>
                        <tr class="calendar-dayhead">
                            <th id="heading-0" scope="col"><span>Su</span></th>
                            <th id="heading-1" scope="col"><span>Mo</span></th>
                            <th id="heading-2" scope="col"><span>Tu</span></th>
                            <th id="heading-3" scope="col"><span>We</span></th>
                            <th id="heading-4" scope="col"><span>Th</span></th>
                            <th id="heading-5" scope="col"><span>Fr</span></th>
                            <th id="heading-6" scope="col"><span>Sa</span></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="calendar-dayrow">
                            <td class="fillday outperiodday" headers="heading-0" id="day2024_09_30"><span>30</span></td>
                            <td class="thismonth viewrange periodday hasEvents NotInFilter" headers="heading-1"
                                id="day2024_10_01">
                                <a href="/events-calendar/?day=01&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">01</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-2" id="day2024_10_02">
                                <span>02</span>
                            </td>
                            <td class="thismonth viewrange periodday today hasEvents inFilter" headers="heading-3"
                                id="day2024_10_03">
                                <a href="/events-calendar/?day=03&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">03</a>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-4"
                                id="day2024_10_04">
                                <a href="/events-calendar/?day=04&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">04</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-5" id="day2024_10_05">
                                <span>05</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-6" id="day2024_10_06">
                                <span>06</span>
                            </td>
                        </tr>
                        <tr class="calendar-dayrow">
                            <td class="thismonth viewrange periodday" headers="heading-0" id="day2024_10_07">
                                <span>07</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-1" id="day2024_10_08">
                                <span>08</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-2" id="day2024_10_09">
                                <span>09</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-3" id="day2024_10_10">
                                <span>10</span>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-4"
                                id="day2024_10_11">
                                <a href="/events-calendar/?day=11&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">11</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-5" id="day2024_10_12">
                                <span>12</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-6" id="day2024_10_13">
                                <span>13</span>
                            </td>
                        </tr>
                        <tr class="calendar-dayrow">
                            <td class="thismonth viewrange periodday" headers="heading-0" id="day2024_10_14">
                                <span>14</span>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-1"
                                id="day2024_10_15">
                                <a href="/events-calendar/?day=15&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">15</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-2" id="day2024_10_16">
                                <span>16</span>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-3"
                                id="day2024_10_17">
                                <a href="/events-calendar/?day=17&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">17</a>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-4"
                                id="day2024_10_18">
                                <a href="/events-calendar/?day=18&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">18</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-5" id="day2024_10_19">
                                <span>19</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-6" id="day2024_10_20">
                                <span>20</span>
                            </td>
                        </tr>
                        <tr class="calendar-dayrow">
                            <td class="thismonth viewrange periodday" headers="heading-0" id="day2024_10_21">
                                <span>21</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-1" id="day2024_10_22">
                                <span>22</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-2" id="day2024_10_23">
                                <span>23</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-3" id="day2024_10_24">
                                <span>24</span>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-4"
                                id="day2024_10_25">
                                <a href="/events-calendar/?day=25&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">25</a>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-5" id="day2024_10_26">
                                <span>26</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-6" id="day2024_10_27">
                                <span>27</span>
                            </td>
                        </tr>
                        <tr class="calendar-dayrow">
                            <td class="thismonth viewrange periodday" headers="heading-0" id="day2024_10_28">
                                <span>28</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-1" id="day2024_10_29">
                                <span>29</span>
                            </td>
                            <td class="thismonth viewrange periodday" headers="heading-2" id="day2024_10_30">
                                <span>30</span>
                            </td>
                            <td class="thismonth viewrange periodday hasEvents inFilter" headers="heading-3"
                                id="day2024_10_31">
                                <a href="/events-calendar/?day=31&amp;month=10&amp;year=2024&amp;search=day"
                                    class="ajax-load-link">31</a>
                            </td>
                            <td class="fillday outperiodday" headers="heading-4" id="day2024_11_01"><span>01</span></td>
                            <td class="fillday outperiodday" headers="heading-5" id="day2024_11_02"><span>02</span></td>
                            <td class="fillday outperiodday" headers="heading-6" id="day2024_11_03"><span>03</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="minical-nav text-center mt-2"><a href="#">Year</a> | <a href="#">Month</a> | <a
                        href="#">Week</a> | <a href="#">Range</a> | <a href="#">All</a></div>
            </div>
        </div>
    </div>
        <!-- End Calendar -->


        <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
                <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    Calendar Filter Options
                    <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </button>



                <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

                    <div class="nav navbar-nav flex-column">
                        <h2>Filter Your Results</h2>
                            <label for="Search_ddlCategory">Filter by Category</label>
                            <select id="Search_ddlCategory" name="Search_ddlCategory" class="form-select">
                                <option selected="selected" value="">Select</option>
                                <option value="ac">Academic Calendar</option>
                                <option value="arts">Arts and Culture</option>
                                <option value="art-gallery">-Art Galleries</option>
                                <option value="dance">-Dance</option>
                                <option value="music">-Music</option>
                                <option value="theater">-Theater</option>
                                <option value="athletics">Athletics</option>
                                <option value="board">Board of Trustees</option>
                                <option value="business">Business Office</option>
                                <option value="career">Career Events/Job Fairs</option>
                                <option value="counseling">Counseling and Psychological Services</option>
                                <option value="espanol">Espanol</option>
                                <option value="fa">Financial Aid</option>
                                <option value="other">Other</option>
                                <option value="pd">Professional Development</option>
                                <option value="seminars">Seminars and Speakers</option>
                                <option value="special">Special Events</option>
                                <option value="slife">Student Life</option>
                                <option value="sustainability">Sustainability</option>
                                <option value="transfer">University Recruiting/Transfer Events</option>
                            </select>
                        <hr>
                        <h3>Filter by Location</h3>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="bjp" name="bjp" class="form-check-input">
                                <label class="form-check-label" for="bjp">Bill J. Priest</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_brookhaven" id="chkdc_brookhaven"
                                    name="chkdc_brookhaven" class="form-check-input">
                                <label class="form-check-label" for="chkdc_brookhaven">Brookhaven</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="chc" name="chc" class="form-check-input">
                                <label class="form-check-label" for="chc">Cedar Hill</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_cedar_valley" id="chkdc_cedar_valley"
                                    name="chkdc_cedar_valley" class="form-check-input">
                                <label class="form-check-label" for="chkdc_cedar_valley">Cedar Valley</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="cc" name="cc" class="form-check-input">
                                <label class="form-check-label" for="cc">Coppell</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="cph" name="cph" class="form-check-input">
                                <label class="form-check-label" for="cph">Culinary, Pastry and Hospitality</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="dhs" name="dhs" class="form-check-input">
                                <label class="form-check-label" for="dhs">Downtown Health Sciences</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_eastfield" id="chkdc_eastfield" name="chkdc_eastfield"
                                    class="form-check-input">
                                <label class="form-check-label" for="chkdc_eastfield">Eastfield</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_el_centro" id="chkdc_el_centro" name="chkdc_el_centro"
                                    class="form-check-input">
                                <label class="form-check-label" for="chkdc_el_centro">El Centro</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="ic" name="ic" class="form-check-input">
                                <label class="form-check-label" for="ic">Irving</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="lwd" name="lwd" class="form-check-input">
                                <label class="form-check-label" for="lwd">Lancaster Workforce Development</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_mountain_view" id="chkdc_mountain_view"
                                    name="chkdc_mountain_view" class="form-check-input">
                                <label class="form-check-label" for="chkdc_mountain_view">Mountain View</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_north_lake" id="chkdc_north_lake"
                                    name="chkdc_north_lake" class="form-check-input">
                                <label class="form-check-label" for="chkdc_north_lake">North Lake</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="pgc" name="pgc" class="form-check-input">
                                <label class="form-check-label" for="pgc">Pleasant Grove</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc_richland" id="chkdc_richland" name="chkdc_richland"
                                    class="form-check-input">
                                <label class="form-check-label" for="chkdc_richland">Richland</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="sdc" name="sdc" class="form-check-input">
                                <label class="form-check-label" for="sdc">South Dallas Training</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="wdc" name="wdc" class="form-check-input">
                                <label class="form-check-label" for="wdc">West Dallas</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="dc" id="wrb" name="wrb" class="form-check-input">
                                <label class="form-check-label" for="wrb">Workforce Center at RedBird</label>
                            </div>
                    </div>

                </div>
            </div>
        </nav>
        <a href="#" class="button button-mn bg-cprimary">Submit</a>
        <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>
        <div id="scnbox" class="text-success border border-success height-sm-100 text-align-center p-3">
            <div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an
                "ad" on
                pages based on tags.
            </div>
        </div>
</aside>