<main id="main__body">
  <div class="container">

    <div class="row mb-5">
        <div class="mainContent">
      <div class="col-md-10">
        <article>
            <div class="row">
                <div class="col-12">
                    <h1 class="page-header--xl">Health and Wellness Fair</h1>
                    </div>
                    <!-- SharePoint Content Area Begin -->
                     <div class="row">

                      <div class="col-md-8">
                        <img src="https://dallascollege.github.io/TerminalBS/assets/img/students2.jpg" class="img-fluid img-400x350" alt="Students walking across campus">
                      </div>
                      <ul class="fa-ul mt-4">
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary"></span></span>Thursday, Oct. 10, 2024
                        </li>
                        <li>
                          <span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock text-cprimary"></span></span>8 a.m.-2 p.m.
                        </li>
                        </ul>
      

                    <div class="col-md-4">
      
                        <h2>Location</h2>
                        <div class="accordion pgs-accordion pgs-accordion--quiet pgs-accordion--sm" id="accordionLocations">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="ico fas fa-map-marker-alt text-cprimary me-2"></span> Multiple Locations
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionLocations">
                              <div class="accordion-body">
                                <ul class="fa-ul">
                                  <li>
                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>
                                    <a href="https://www.dallascollege.edu/maps/bhc/pages/default.aspx">Dallas College Brookhaven Campus</a>, S064<br>
                                    3939 Valley View Lane, Farmers Branch TX 75244
                                  </li>
                                  <li>
                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>
                                    <a href="https://www.dallascollege.edu/maps/cvc/pages/default.aspx">Dallas College Cedar Valley Campus</a>, M064<br>
                                    3030 N. Dallas Ave., Lancaster TX 75134
                                  </li>
                                  <li>
                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>
                                    <a href="https://www.dallascollege.edu/maps/efc/pages/default.aspx">Dallas College Eastfield Campus</a>, E064<br>
                                    3737 Motley Drive, Mesquite TX 75150
                                  </li>

                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <h2>Location</h2>

                        <ul class="fa-ul">
                          <li>
                            <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>
                            <a href="https://www.dallascollege.edu/maps/bhc/pages/default.aspx">Dallas College Brookhaven Campus</a>, S064<br>
                            3939 Valley View Lane, Farmers Branch TX 75244
                          </li>
                          </ul>
                        <!-- <div class="row">
                          <div class="col-md-4"> -->
                        
                            <h2>Contact Info</h2>
                            <ul class="fa-ul">
                            <li>
                              <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope text-cprimary"></span></span>
                              Tony Jay Henderson
                                <br><span><a class="" href="mailto:TonyHenderson@DallasCollege.edu">TonyHenderson@DallasCollege.edu</a></span>
                              </a>
                            </li>
                          </ul>
                          <!-- </div>
                          </div> -->
                     
                        
                      <a href="#" class="button button-mn cprimary">Download Event to Outlook</a>
                    </div>


            </div>
          </div>

            <div class="row my-5">
        
                <div class="col-12 offset-sm-2 col-sm-6"> 
                    <p class="lead">This is the summary of the event. Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity.</p>
                    <p>Join Dallas College Fitness Centers for a Health and Wellness Fair on campus. Find resources that promote physical activity and emotional awareness, and learn how to support a fitness and wellness lifestyle through nutrition, competition and entertainment.</p>

                    <a href="#" class="button csecondary">Register Now</a>
                

              

</div>
<div class="row my-4">
  <div class="col-12 offset-sm-2 col-sm-6">
    <h2>Map</h2>
    <a href="https://map.concept3d.com/?id=2044#!m/675437?share" target="_blank"><img src="https://staticmap.concept3d.com/map/static-map/?map=2044&loc=675437&scale=1&zoom=17&label" alt="Static Map of location"/></a>
  </div>
</div>
<div class="row my-4">
  <div class="col-12 offset-sm-2 col-sm-6 border-bottom">
    <div class="cb-title mb-2 text-end">Event Type:</div>
      <ul class="inline-list text-end">
      <li class="inline-list-item badge bg-success">Student Life</li>
      <li class="inline-list-item badge bg-success">Community</li>
      </ul>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-12 col-sm-8">
    <div class="row">
      <h2>Related Events</h2> 
      <a class="pgs-action-link" href="calendar-search.html"><span class="ico fas fa-chevron-right mt-4"></span>View the Full Calendar</a>

 <!-- calendar item -->
 <div class="row">
  <div class="col-4 event-thumb">
      <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" alt="" class="img-fluid mt-3 rounded-2">
  </div>
  <div class="col-8">
          <h3 class="date h5">
              <div class="date-stamp t4-e right"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary me-2"></span>
                  <span class="month">Oct</span>
                  <span class="day">03,</span>
                  <span class="year">2024</span>
                  <span class="date-stamp smaller"> – </span>
                  <span class="date-stamp2 date-stamp">
                  <span class="month">Oct</span>
                  <span class="day">04,</span>
                  <span class="year">2024</span>
                  </span> 
              </div>
          </h3>
          <h4 class="h2 cal-header title mt-1">      
                  <a href="calendar-event.html">Event 1: Multi Day</a>
              </p>
          </h4>
          <div class="cal-summary">
          <p>Event re-occurring 2 weeks. This event will give an overview of the whole week's plans, as well as introductions to all the 'people-to-know' on campus.</p>
      </div>
          <div class="mb-2">
              <span aria-hidden="true" class="ico fas fa-clock text-cprimary me-2"></span><span class="datelisting">6:50 a.m.</span> - <span class="datelisting">1:20 p.m.</span>
          <br>
          </div>
          <div class="location">
              <div class="mb-2">
                  <span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary me-2"></span>Off-Campus
              </div>
              <ul class="inline-list ps-0">
                  <li class="inline-list-item badge bg-success">Student Life</li>
                  <li class="inline-list-item badge bg-success">Community</li>
              </ul>
          </div>
      </div>
  </div>


<!-- calendar item -->
<div class="row">
  <div class="col-4 event-thumb">
      <img src="https://dallascollege.github.io/TerminalBS/assets/img/dallas-college-dmark-300x300.jpg" alt="" class="img-fluid mt-3 rounded-2">

  </div>
  <div class="col-8">
          <h3 class="date h5">
              <div class="date-stamp t4-e right"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary me-2"></span>
                  <span class="month">Oct</span>
                  <span class="day">04,</span>
                  <span class="year">2024</span>
                  </span> 
              </div>
          </h3>
          <h4 class="h2 cal-header title mt-1">      
                  <a href="calendar-event.html">Event 2 Is Cool With No Picture</a>
              </p>
          </h4>
          <div class="cal-summary">
          <p>Event re-occurring 2 weeks. This event will give an overview of the whole week's plans, as well as introductions to all the 'people-to-know' on campus.</p>
      </div>
          <div class="mb-2">
              <span aria-hidden="true" class="ico fas fa-clock text-cprimary me-2"></span><span class="datelisting">Noon</span> - <span class="datelisting">3:30 p.m.</span>
          <br>
          </div>
          <div class="location">
              <div class="mb-2">
                  <span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary me-2"></span>Brookhaven, Eastfield, El Centro
              </div>
              <ul class="inline-list ps-0">
                  <li class="inline-list-item badge bg-success">Student Life</li>
                  <li class="inline-list-item badge bg-success">Community</li>
              </ul>
          </div>
      </div>
  </div>


<!-- calendar item -->
<div class="row">
  <div class="col-4 event-thumb">
      <img src="https://dallascollege.github.io/TerminalBS/assets/img/students2.jpg" alt="" class="img-fluid mt-3 rounded-2">
  </div>
  <div class="col-8">
          <h3 class="date h5">
              <div class="date-stamp t4-e right"><span aria-hidden="true" class="ico fas fa-calendar text-cprimary me-2"></span>
                  <span class="month">Oct</span>
                  <span class="day">04,</span>
                  <span class="year">2024</span>
                  </span> 
              </div>
          </h3>
          <h4 class="h2 cal-header title mt-1">      
                  <a href="calendar-event.html">Event 3</a>
              </p>
          </h4>
          <div class="cal-summary">
          <p>Event re-occurring 2 weeks. This event will give an overview of the whole week's plans, as well as introductions to all the 'people-to-know' on campus.</p>
      </div>
          <div class="mb-2">
              <span aria-hidden="true" class="ico fas fa-clock text-cprimary me-2"></span><span class="datelisting">Noon</span> - <span class="datelisting">3:30 p.m.</span>
          <br>
          </div>
          <div class="location">
              <div class="mb-2">
                  <span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary me-2"></span>All Locations
              </div>
              <ul class="inline-list ps-0">
                  <li class="inline-list-item badge bg-success">Student Life</li>
                  <li class="inline-list-item badge bg-success">Community</li>
              </ul>
          </div>
      </div>
  </div>
</div>







    </div>
  </div>
</div>


        </article>
      </div>
    </div>
  </div>
</main>
