<div class="row">
  <div class="offset-md-1 col-md-10">

<h2 class="text-center">Enroll Today in Government 1101: Understanding American Government at Dallas College</h2>
<p class="lead text-center"><strong>Taught by Josh Lyman, former chief of staff for President Matthew Santos.</strong></p>
<p class="lead text-center">Dive into the intricacies of American government and politics at Dallas College's Eastfield Campus!</p>
  </div>

</div>

<div class="row">
<div class="offset-md-3 col-md-6">
  <figure>
    <blockquote>
        <p>We hold these truths to be self-evident, that all men are created equal..."</p>
    </blockquote>
    <figcaption class="blockquote-footer">Declaration of Independence</cite>
    </figcaption>
</figure>

</div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">

<div class="content-image-box bg-cprimary">
  <div class="col-sm-8 cib-left cib-content">
    <h2>Don't Miss This Unique Opportunity</h2>
    <ul>
      <li><strong>Unique Perspective:</strong> Learn from Josh Lyman, known for his deep understanding of political strategy and governance.</li>
      <li><strong>Evening Classes:</strong> Convenient evening classes at the Eastfield Campus, perfect for working students.</li>
      <li><strong>Engaging Curriculum:</strong> Explore the foundations of American government, including the Constitution, civil rights, and the electoral process.</li>
      <li><strong>Interactive Learning:</strong> Participate in discussions, debates, and simulations that bring government concepts to life.</li>
      <li><strong>Networking Opportunities:</strong> Connect with fellow students and professionals in the field of political science.</li>
  </ul>

  <a href="/admissions/pages/default.aspx" class="button button-lg bg-csecondary shadow-2">Enroll Today</a>
  </div>
  <div class="col-sm-4 cib-right cib-img">
      <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" class="cib-image" alt="Insert Alt Description">
  </div>
</div>



<div class="content-image-box bg-cprimary-lt">

  <div class="col-sm-8 cib-right cib-content">
    <h2>Who is Josh Lyman?</h2>
    <p>Josh Lyman is a highly regarded political strategist with an impressive resume:</p>
    <ul>
        <li>Graduated cum laude from Harvard University and earned a law degree from Yale Law School.</li>
                <li>Chief of Staff for President Matt Santos.</li>
                <li>Deputy Chief of Staff for President Jed Bartlet.</li>
                <li>Campaign Manager for Santos/McGarry for a Brighter America.</li>
                <li>Legislative Director in the House of Representatives.</li>
                <li>Floor Manager to the House Minority Whip.</li>
            </ul>
        </li>
        <p>Lyman is well known for his sharp political mind, strategic thinking, and ability to navigate complex political landscapes. He has also played a key role in significant legislative victories and was instrumental in the presidential campaigns of John Hoynes, Jed Bartlet and Matthew Santos.</p>
    </ul>
  </div>
  <div class="col-sm-4 cib-left cib-img">
    <img src="https://dallascollege.github.io/TerminalBS/assets/img/josh-lyman-lg.jpg" class="cib-image" alt="Josh Lyman">
</div>

</div>

</div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">


<h3>Course Details</h3>
<p>This course is designed for anyone interested in understanding the mechanics of government and the role of citizens in a democracy. Whether you're pursuing a degree in political science or just want to be an informed citizen, this class is for you!</p>

</div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-6">

<figure>
  <blockquote>
      <p>"The Constitution is the guide which I never will abandon."</p>
  </blockquote>
  <figcaption class="blockquote-footer">President George Washington</cite>
  </figcaption>
</figure>

</div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
      <div class="pgs-cta bg-cgrey-05 border-cprimary mt-3 mb-5">
          <p class="pgs-cta__headline text-cprimary-dk">Winter/Spring registration opens Nov. 16 for continuing students and Nov. 22 for all students.<br></p>
          <a href="/admissions/pages/default.aspx" class="button button-lg bg-csecondary shadow-2 button-off">Get Started Now</a>
     </div>
  </div>
</div>



</div>
