<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3 offset-md-1 order-md-last">
  <div class="sidebar-img">
    <img alt="An older woman and a younger woman reading a book together" src="https://www.dallascollege.edu/resources/accessibility-services/PublishingImages/services-disability-ada-464x464.jpg" style="BORDER:0px solid;">
  </div>



    <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
     <div class="container-fluid" style="padding:0 !important"> 


<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
  [Site] Menu
  <span class="ico fas fa-chevron-circle-down"></span>
</button>
    
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">
        <ul class="nav navbar-nav flex-column" role="menu">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Interior Layouts</a>
          </li>
          <li role="menuitem" class="nav-item"><a href="pegasus/typography.html">Typography</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/action-links.html">Action Links</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/accordion.html">Accordions</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/award-cards.html">Award Card</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/buttons.html">Buttons</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/cta.html">Calls to Action Stripe</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/colors.html">Colors</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/cib.html">Content & Image Boxes</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/data-box.html">Data Boxes</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/dept-cards.html">Department Card</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/dropdowns.html">Dropdowns</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/event-cards.html">Event Cards</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/feature-cards.html">Feature Cards</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/flexbox-card.html">Flexbox Cards</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/grand-buttons.html">Grand Buttons</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/image-caption.html">Images With Caption</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/org-cards.html">Org Cards</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/people-cards.html">People Cards</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/related-news.html">Related News</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/site-notices.html">Site Notices</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/testimonial.html">Testimonials</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/tiles.html">Tiles</a></li>
          <li role="menuitem" class="nav-item"><a href="pegasus/video.html">Video Embeds</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div id="scnbox" class="text-success border border-success height-sm-100 text-align-center p-3" style="">
    <div id="scnboxtext" class="h6 text-success no-margin p-5git">Here's a place for HTML content to be setup as an "ad" on pages based on tags.</div>
  </div>
</aside>