<div class="l-breadcrumb-bar">
  <div class="container">
    <div class="row">
    <nav aria-label="Breadcrumb" class="col-9 pgs-breadcrumb">
      <ol>
        <li><a href="index.html">
            <span class="ico fas fa-home" aria-hidden="true"></span><span class="sr-only">Home</span></a></li>
        <li><a href="interior-featured.html">
            Interior Layout</a></li>
        <li><a href="pegasus-elements.html">
            Pegasus Elements</a></li>
      </ol>
    </nav>
    <div class="col-3 pgs-shortcut d-none d-lg-block text-end">
      <span>Shortcut: </span>dallascollege.edu/ContactHS
    </div>
    </div>
  </div>
</div>
