<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3 offset-md-1 order-md-last">
  <div class="sidebar-img">
    <img alt="An older woman and a younger woman reading a book together" src="https://www.dallascollege.edu/resources/accessibility-services/PublishingImages/services-disability-ada-464x464.jpg" style="BORDER:0px solid;">
  </div>



    <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
     <div class="container-fluid" style="padding:0 !important"> 


      <!-- <div class="navbar-header">  -->


<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
  Pegasus Elements Menu
  <span class="ico fas fa-chevron-circle-down"></span>
</button>


      <!-- <button class="navbar-toggler col-12" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  -->
    
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">
        <ul class="nav navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Interior Layouts</a>
          </li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#typography">Typography</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#action-links">Action Links</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#accordions">Accordions</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#award-card">Award Card</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#buttons">Buttons</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link level1 selected static" tabindex="-1" href="#dept-card" aria-current="page">Department Card</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#dropdowns">Dropdowns</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#event-cards">Event Cards</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#feature-cards">Feature Cards</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#full-width-row">Full Width Row</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#people-cards">People Cards</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#site-notices">Site Notices</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div id="scnbox" class="text-success border-success" style=""><div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on pages based on tags.</div>
</aside>