<!-- Sidebar Begin -->
<aside id="sidebar" class="sidebar col-md-3 offset-1 order-md-last">






  <nav class="navbar pgs-navbar pgs-navbar--sidebar navbar-expand-md">
    <div class="container-fluid">


      <div class="navbar-header">

<!--
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pgs-navbar--sidebar__collapse" aria-expanded="false">Health Services and Promotion Menu<span aria-hidden="true" class="ico fas fa-chevron-circle-down"></span></button>
-->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">
        <ul class="nav navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Interior Layouts</a>
          </li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#typography">Typography</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#action-links">Action Links</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#accordions">Accordions</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#award-card">Award Card</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link level1 selected static" tabindex="-1" href="#dept-card" aria-current="page">Department Card</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#buttons">Buttons</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#event-cards">Event Cards</a></li>
          <li role="menuitem" class="nav-item"><a class="nav-link" tabindex="-1" href="#feature-cards">Feature Cards</a></li>

        </ul>
      </div>
    </div>
  </nav>
<!--
  <div class="ms-core-sideNavBox-removeLeftMargin">
    <nav class="navbar pgs-navbar pgs-navbar--sidebar" aria-label="Secondary">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pgs-navbar--sidebar__collapse" aria-expanded="false">Health Services and Promotion Menu<span aria-hidden="true"
            class="ico fas fa-chevron-circle-down"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

        <div id="zz1_V4QuickLaunchMenu" style="float: left;">
          <ul class="level1 nav nav-stacked static" tabindex="0" role="menu" style="position: relative; width: auto; float: left;">
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/default.aspx" tabindex="-1">Health Services and Promotion</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/immunizations.aspx" tabindex="-1">Immunizations and Insurance</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/tb-resources.aspx" tabindex="-1">Tuberculosis Testing and Resources</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/free-prescriptions.aspx" tabindex="-1">Free Prescriptions</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/health-promotion/Pages/default.aspx" tabindex="-1">Health Promotion</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/events.aspx" tabindex="-1">Health and Well-Being Events</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 selected static" href="/resources/health-centers/Pages/contact.aspx" tabindex="-1" aria-current="page">Contact Health Services</a></li>
            <li role="menuitem" class="static" style="position: relative;"><a class="level1 static" href="/resources/health-centers/Pages/nurses.aspx" tabindex="-1">Meet the Health Services &amp; Promotion Team</a></li>
          </ul>
        </div>
        <div style="clear: left;"></div>

      </div>
    </nav>
  </div>
-->
</aside>
<!-- Sidebar End -->
