<main id="main__body" class="left-sidebar">
    <div class="container">
        <div class="row">
            <h1 class="page-header--xl">Ted Lasso</h1>
            <p class="lead">Soccer Coach, Eastfield</p>

            <article>
                <!-- Content Area Begin -->
                <div class="mainContent" id="emp-profile">




                    <!-- results-->
                    <div class="row mt-2">

                        <div class="col-12">

                            <div class="pgs-people-card--quiet pgs-people-card--compact">
                                <div class="row">
                                    <div class="col-12 col-md-3 ps-0 pgs-people-card__col pgs-people-profile__img">
                                        <img src="https://dallascollege.github.io/TerminalBS/assets/img/tlasso-100x100.jpg"
                                            alt="">
                                    </div>

                                    <div class="col-12 col-md-4 p-2">
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><span aria-hidden="true"
                                                        class="ico fas fa-university"></span></span>Eastfield Campus,
                                                W101</li>
                                            <li><span class="fa-li"><span aria-hidden="true"
                                                        class="ico fas fa-phone"></span></span>214-555-1234</li>
                                            <li><span class="fa-li"><span aria-hidden="true"
                                                        class="ico fas fa-envelope"></span></span><a
                                                    href="mailto:tedlasso@dallascollege.edu">Email Ted</a></li>
                                            <li><span class="fa-li"><span aria-hidden="true"
                                                        class="ico fab fa-linkedin icon"></span></span><a
                                                    href="https://www.linkedin.com/in/jdblundell/">LinkedIn</a></li>
                                            <li><a href="https://dallascollege.campusconcourse.com/view_profile?user_id=4"><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-id-card"></span></span><span
                                                        class="sr-only"></span>Credentials</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4 p-2">
                                        <h2 class="m-0">Office Hours</h2>
                                            <ul class="fa-ul">
                                              <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span><strong>Remote Day: </strong>Thurs, 8 a.m.-5 p.m.</li>
                                              <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span><strong>Late Days: </strong>Mon, 10 a.m.-7 p.m.</li>
                                              <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span><strong>Reg. Days: </strong>Tues, Wed &amp; Fri, 8 a.m.-5 p.m.</li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                      <div class="col-12">
                            <h2>Specialities</h2>
                            <ul>
                                <li>political strategy</li>
                                <li>legislative affairs</li>
                                <li>labor management</li>
                                <li>leadership</li>
                                <li>public speaking</li>
                              </ul>
                            <h2>Interests</h2>
                                <ul>
                                <li>history</li>
                                <li>sports</li>
                                <li>fine dining</li>
                              </ul>
                        </div>

                    </div>
                    </div>
                    </div> <!-- end results -->


                </div>
        </div>
        </article>
    </div>
    </div>
    </div>
</main>