<main id="main__body">
  <div class="container">
    <div class="row">

      {% include interior/content_featured-sidebar.html %}

      <div class="col-md-8 order-md-first">
        <article>
          <h1 class="page-header--xl">Community Colleges: The Best Choice</h1>
          <!-- Content Area Begin -->
          <div class="mainContent">
            <p>Your health is important. To schedule a time to meet with someone in the Health Center, use the options
              below. Walk-ins are welcome, but appointments are preferred.<br></p>
           
            <p>Our campus health center's regular business hours are
              <strong>Monday-Friday, 8 a.m. - 5 p.m.</strong> Their contact information is below.<br>
            </p>
            <p>Dallas College Health Services offers a Nurse Help Line to all students and employees seeking health
              advice and information.</p>
            <div class="pgs-people-card__col">
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8970
                </li>
                <li>
                  <span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span> Monday-Thursday,
                  8 a.m.-8:30 p.m. and Friday, 8 a.m.-5 p.m.<br>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>