<div class="l-breadcrumb-bar">
  <div class="container">
    <div class="row">
    <nav aria-label="Breadcrumb" class="col-12 col-lg-9 pgs-breadcrumb">
      <ol>
        <li><a href="/TerminalBS/index.html">
            <span class="ico fas fa-home" aria-hidden="true"></span><span class="sr-only">Home</span></a></li>
        <li><a href="/TerminalBS/interior-featured.html">
            Interior Layouts</a></li>
        <li><a href="/TerminalBS/landing-page.html">
            Landing Pages</a></li>
        <li><a href="/TerminalBS/pegasus-elements.html">
            Pegasus Elements</a></li>
        <li><a href="/TerminalBS/functional-layouts.html">
            Functional Layouts</a></li>


      </ol>
    </nav>
    <div class="col-lg-3 pgs-shortcut d-none d-lg-block text-end">
      <span>Shortcut: </span>dallascollege.edu/ContactHS
    </div>
    </div>
  </div>
</div>
