<main id="main__body">
    <div class="container">
        <div class="row">

            {% include interior/content_featured-sidebar.html %}

            <div class="col-md-8 order-md-first">
                <article>
                    <!-- Content Area Begin -->
                    <div class="mainContent">
                        <h2 class="text-center">Discover the Art of Basket Weaving</h2>
                        <p class="lead text-center">
                            Basket weaving is not just a craft; it's a journey into creativity and tradition. Join us to
                            learn the techniques of this timeless art form, where you can create beautiful, functional
                            pieces for your home or as gifts for loved ones.
                        </p>


                        <div class="content-image-box cprimary-lt mb-0">
                            <div class="col-sm-5 cib-left cib-img">
                                <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg"
                                    class="cib-image" alt="Insert Alt Description">
                            </div>
                            <div class="col-sm-7 cib-right cib-content">
                                <h2>Why Choose Basket Weaving?</h2>
                                <ul class="list-unstyled">
                                    <li><strong>Creative Expression</strong>: Unleash your creativity and make unique
                                        pieces.</li>
                                    <li><strong>Relaxation</strong>: Enjoy a calming and meditative crafting experience.
                                    </li>
                                    <li><strong>Sustainable Craft</strong>: Use natural materials and promote
                                        eco-friendly practices.</li>
                                    <li><strong>Community</strong>: Join a community of fellow crafters and share your
                                        passion.</li>
                                    <li><strong>Perfect Gifts</strong>: Create handmade gifts that are personal and
                                        meaningful.</li>
                                </ul>
                            </div>
                        </div>


                        <h2 class="text-center mt-5">Get Started Today!</h2>
                        <div class="row">
                            <p class="text-center">
                                Ready to dive into the world of basket weaving? Sign up for our workshops or purchase a
                                starter kit to begin your crafting journey!
                            </p>
                            <div class="text-center">
                                <ul class="button-group list-inline">
                                    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Sign Up for
                                            Classes</a></li>
                                    <li class="list-inline-item"><a class="button bg-csecondary" href="#">View the
                                            Schedule</a></li>
                                </ul>
                            </div>
                        </div>


                        <h2 class="text-center mt-5">Contact Us for More Info</h2>
                        <div class="row">
                            <div class="col-12 d-flex">
                                <div
                                    class="pgs-people-card pgs-people-card--quiet pgs-people-card--compact d-flex flex-column w-100">
                                    <div class="row flex-grow-1">
                                        <div
                                            class="col-2 p-0 d-none d-sm-block pgs-people-card__col pgs-people-card__img">
                                            <img src="https://www.dallascollege.edu/about/style/documents/pegasus/assets/tzieglar-100x100.jpg"
                                                class="pgs-people-card__photo mx-auto rounded-circle width-50" alt="">
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-5 pgs-people-card__col d-flex flex-column">
                                            <h3 class="pgs-people-card__name">Toby Ziegler</h3>
                                            <ul class="list-unstyled flex-grow-1">
                                                <li>White House Communications Director</li>
                                            </ul>
                                        </div>
                                        <div
                                            class="col-6 col-sm-4 col-md-5 pgs-people-card__col d-flex flex-column flex-grow-1">
                                            <ul class="fa-ul flex-grow-1">
                                                <li><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-university"></span></span>White House,
                                                    West Wing</li>
                                                <li><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-phone"></span></span>202-555-6543</li>
                                                <li><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:tziegler@whitehouse.gov">Email Toby</a></li>
                                                <li><a href="#"><span class="fa-li"><span aria-hidden="true"
                                                                class="ico fas fa-id-card"></span></span><span
                                                            class="sr-only"></span>Credentials</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </div>
</main>