<main id="main__body">
  <div class="container">
    <div class="row">

      {% include interior/content_featured-sidebar.html %}

      <div class="col-md-8 order-md-first">
        <article>
          <!-- Content Area Begin -->
          <div class="mainContent">
            <p>Your health is important. To schedule a time to meet with someone in the Health Center, use the options
              below. Walk-ins are welcome, but appointments are preferred.<br></p>
            <h2 class="text-center">Visit Us<br></h2>
            <div class="row">
              <div class="offset-0 col-sm-6 col-md-5 offset-md-1">
                <div class="pgs-org-card bg-cgrey-05 height-md-225">
                  <h2 class="pgs-org-card__heading bg-cprimary text-center">Drop-in Service</h2>
                  <div class="pgs-org-card__body">
                    <p style="text-align:center;">
                      <strong>Walk-ins are welcome!</strong>
                    </p>
                    <br class="hidden-xs">
                    <div class="text-center">
                      <a href="#contact" class="button button-mn bg-cprimary">Find campus Health Center locations</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-6">
                <div class="pgs-org-card bg-cgrey-05 height-md-225">
                  <h2 class="pgs-org-card__heading bg-csecondary text-center">Appointments</h2>
                  <div class="pgs-org-card__body">
                    <p style="text-align:center;">
                      <strong>Current students</strong> can schedule an appointment using Navigate.<br>
                    </p>
                    <div class="text-center">
                      <a href="/resources/pages/appointment.aspx" class="button button-mn bg-csecondary">Schedule an
                        Appointment</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p>Our campus health center’s regular business hours are
              <strong>Monday-Friday, 8 a.m. – 5 p.m.</strong> Their contact information is below.<br>
            </p>
            <p>Dallas College Health Services offers a Nurse Help Line to all students and employees seeking health
              advice and information.</p>
            <div class="pgs-people-card__col">
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8970​​<br>
                </li>
                <li>
                  <span class="fa-li"><span aria-hidden="true" class="ico fas fa-clock"></span></span> Monday-Thursday,
                  8 a.m.-8:30 p.m. and Friday, 8 a.m.-5 p.m.<br>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>