<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=10; IE=11" >
  <meta property="og:locale" content="en_US" >
  <meta property="og:type" content="website" >
  <meta name="facebook-domain-verification" content="my3b6tigkq656bbfv3zx8w0wqx71q9" >
  <meta property="og:site_name" content="Dallas College" >
  <meta name="twitter:card" content="summary_large_image" >
  <meta name="twitter:site" content="@dallascollegetx" >
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta http-equiv="Expires" content="0" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script type="text/javascript">
    dataLayer = []; //for Google Analytics
    g_wsaEnabled = false;
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TDGX39L');
  </script>

  <title>
    Dallas College: Education That Works in Dallas County
  </title>
  <!--
  <link id="bootstrap_style_0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap/bootstrap.min.css" >
  <link id="bootstrap_style_1" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap/spoverwrites.css" >
  -->
  <link id="fontawesome_fonts__0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fontawesome/all.min.css" >
  <!--
  <link id="siteStyles" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" >
  <link id="tempStyles" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/temp.css" >
  -->

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dcstyles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/newstyles.css">

  <!--
    <script type="text/javascript" src="/Style%20Library/dcccd/frameworks/jquery/jquery-3.4.1.min.js"></script>
  -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  <!--
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/masterpage_scripts.js"></script>
  -->

  <!--
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicons/apple-icon-57x57.png" >
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicons/apple-icon-60x60.png" >
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicons/apple-icon-72x72.png" >
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-icon-76x76.png" >
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicons/apple-icon-114x114.png" >
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicons/apple-icon-120x120.png" >
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicons/apple-icon-144x144.png" >
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicons/apple-icon-152x152.png" >
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicons/apple-icon-180x180.png" >
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/favicons/android-icon-192x192.png" >
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png" >
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicons/favicon-96x96.png" >
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png" >
  <link rel="manifest" href="/icons/favicons/manifest.json" >
  <meta name="msapplication-TileColor" content="#ffffff" >
  <meta name="msapplication-TileImage" content="/icons/favicons/ms-icon-144x144.png" >
  <meta name="theme-color" content="#ffffff" >
-->

  <link rel="shortcut icon" type="image/x-icon" href="https://www.dallascollege.edu/icons/favicons/favicon.ico" >
  <meta property="og:title" content="Dallas College: Education That Works" >
  <meta property="og:url" content="https://www.dallascollege.edu/pages/default.aspx" >
  <meta property="og:image" content="https://www.dallascollege.edu/PublishingImages/banner-1600x512/2024-spring-1200x630.jpg" >
  <meta property="og:description" content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!" >

  <meta name="keywords" content="Dallas College, Dallas College Home, Home, Homepage" >
  <meta name="description" content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!" >

</head>

<body>

