<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">


    <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
     <div class="container-fluid" style="padding:0 !important"> 

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
  Staff Directory Filter Options
  <span class="ico fas fa-chevron-circle-down"></span>
</button>


   
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

        <ul class="nav navbar-nav flex-column">       
            <h2>Filter Your Results</h2>
            <fieldset>
                <legend style="font-size: 18px; font-weight: 700;">Filter by Category</legend>
                <select name="Search_ddlCategory" class="form-select">
                    <option selected="selected" value="">Select</option>
                    <option value="ac">Academic Calendar</option>
                    <option value="arts">Arts and Culture</option>
                    <option value="art-gallery">-Art Galleries</option>
                    <option value="dance">-Dance</option>
                    <option value="music">-Music</option>
                    <option value="theater">-Theater</option>
                    <option value="athletics">Athletics</option>
                    <option value="board">Board of Trustees</option>
                    <option value="business">Business Office</option>
                    <option value="career">Career Events/Job Fairs</option>
                    <option value="counseling">Counseling and Psychological Services</option>
                    <option value="espanol">Espanol</option>
                    <option value="fa">Financial Aid</option>
                    <option value="other">Other</option>
                    <option value="pd">Professional Development</option>
                    <option value="seminars">Seminars and Speakers</option>
                    <option value="special">Special Events</option>
                    <option value="slife">Student Life</option>
                    <option value="sustainability">Sustainability</option>
                    <option value="transfer">University Recruiting/Transfer Events</option>
                
                </select>
                <!-- <hr>

                <legend style="font-size: 18px; font-weight: 700;">Filter by Location</legend>
                <legend style="font-size: 16px; font-weight: 600;">Campuses:</legend>
                <div class="form-check">
                    <input type="checkbox" value="dc_dallas_college" id="chkdc_dallas_college" name="chkdc_dallas_college" class="form-check-input">
                    <label class="form-check-label" for="chkdc_dallas_college">Dallas College</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_brookhaven" id="chkdc_brookhaven" name="chkdc_brookhaven" class="form-check-input">
                    <label class="form-check-label" for="chkdc_brookhaven">Brookhaven</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_cedar_valley" id="chkdc_cedar_valley" name="chkdc_cedar_valley" class="form-check-input">
                    <label class="form-check-label" for="chkdc_cedar_valley">Cedar Valley</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_eastfield" id="chkdc_eastfield" name="chkdc_eastfield" class="form-check-input">
                    <label class="form-check-label" for="chkdc_eastfield">Eastfield</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_el_centro" id="chkdc_el_centro" name="chkdc_el_centro" class="form-check-input">
                    <label class="form-check-label" for="chkdc_el_centro">El Centro</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_mountain_view" id="chkdc_mountain_view" name="chkdc_mountain_view" class="form-check-input">
                    <label class="form-check-label" for="chkdc_mountain_view">Mountain View</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_north_lake" id="chkdc_north_lake" name="chkdc_north_lake" class="form-check-input">
                    <label class="form-check-label" for="chkdc_north_lake">North Lake</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" value="dc_richland" id="chkdc_richland" name="chkdc_richland" class="form-check-input">
                    <label class="form-check-label" for="chkdc_richland">Richland</label>
                </div>
                <hr>
                <legend style="font-size: 16px; font-weight: 600;">Centers:</legend>
                <div class="form-check">
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Bill J. Priest</label>
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Cedar Hill</label>
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Coppell</label>
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Culinary, Pastry and Hospitality</label>		
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Downtown Health Sciences</label>	
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Irving</label>
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Lancaster Workforce Development</label>		
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Pleasant Grove</label>	
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">South Dallas Training</label>		
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">West Dallas</label>
                    <input type="checkbox" value="dc" id="chkdc" name="chkdc" class="form-check-input">
                    <label class="form-check-label"for="chkdc">Workforce Center at RedBird</label>
            </fieldset>
        </ul> -->

      </div>
    </div>
  </nav>
  <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>
  <div id="scnbox" class="text-success border-success"><div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on pages based on tags.</div>
</aside>