<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">


  <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
    <div class="container-fluid" style="padding:0 !important">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        News Filter Options
        <span class="ico fas fa-chevron-circle-down"></span>
      </button>

      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">
        <div class="nav navbar-nav flex-column">
          <h2>Filter Your Results</h2>
          <fieldset>
            <legend>Filter by Category</legend>
            <select name="Search_ddlCategory" class="form-select">
              <option selected="selected" value="">Select</option>
              <option value="ac">Academic Calendar</option>
              <option value="arts">Arts and Culture</option>
              <option value="art-gallery">-Art Galleries</option>
              <option value="dance">-Dance</option>
              <option value="music">-Music</option>
              <option value="theater">-Theater</option>
              <option value="athletics">Athletics</option>
              <option value="board">Board of Trustees</option>
              <option value="business">Business Office</option>
              <option value="career">Career Events/Job Fairs</option>
              <option value="counseling">Counseling and Psychological Services</option>
              <option value="espanol">Espanol</option>
              <option value="fa">Financial Aid</option>
              <option value="other">Other</option>
              <option value="pd">Professional Development</option>
              <option value="seminars">Seminars and Speakers</option>
              <option value="special">Special Events</option>
              <option value="slife">Student Life</option>
              <option value="sustainability">Sustainability</option>
              <option value="transfer">University Recruiting/Transfer Events</option>
            </select>
          </fieldset>
          <fieldset>
            <legend>Filter by Year</legend>
            <select name="Search_ddlCategory" class="form-select">
              <option selected="selected" value="">Select</option>
              <option value="2025">2025</option>
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
            </select>
          </fieldset>
        </div>
      </div>
  </nav>
  <a href="#" class="button button-mn bg-cprimary">Submit</a>
  <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>
  <div id="scnbox" class="text-success border border-success height-sm-100 text-align-center p-3">
    <div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on
      pages based on tags.
    </div>
  </div>
</aside>