<main id="main__body">
  <div class="container">   
    <div class="row">
        <h1 class="page-header--xl">Dallas College News</h1>

      {% include interior/news-search-sidebar.html %}

      <div class="col-md-8 offset-md-1 my-5">
        <article>

            <!-- Content Area Begin -->
            <div class="mainContent">
                <div class="container">
                    <div class="row">        
                      <div class="col-md-12">
                        <!-- search form -->
                        <form role="search" style="display:inline;">

                            <div class="input-group input-group-lg">
                                <label class="sr-only" for="masterPage_searchTxt">Search News and Updates</label>
                                <input type="text" class="form-control shadow-2" placeholder="Search News and Updates">
                                <button class="btn bg-cprimary shadow-2" type="button" id="button-addon2">Search</button>
                            </div>
                        </form>    
                    </div>
                      
                    


                    <!-- results-->
                    <div class="row mt-5">
                        <!-- calendar item -->
                        <div class="row news-search-results">
                            <div class="col-lg-4 news-search-thumbnail">
                                <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" alt="" class="img-fluid mt-3 rounded-2">
                            </div>
                            <div class="col-lg-8">
                                <h2 class="h3 news-header title mt-3">
                                    <a href="news-article.html">Women's Wellness Mobile Clinic</a>
                                </h2>

                                    <h3 class="date h5">
                                        <div class="date-stamp t4-e right">
                                            <span class="month">Oct</span>
                                            <span class="day">03,</span>
                                            <span class="year">2024</span>

                                        </div>
                                    </h3>
                                    <div class="news-summary">
                                    <p>Take care of your health (and your family) with the Women’s Wellness Mobile Clinic on your Dallas College campus!</p>
                                </div>
                                    <div class="category">

                                        <ul class="inline-list ps-0">
                                            <li class="inline-list-item badge bg-info">Student Life</li>
                                            <li class="inline-list-item badge bg-info">Community</li>
                                            <li class="inline-list-item badge bg-info">Registration</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                   

                        <!-- calendar item -->
                        <div class="row news-search-results">
                            <div class="col-lg-4 news-search-thumbnail">
                                <img src="https://dallascollege.github.io/TerminalBS/assets/img/dallas-college-dmark-450x300.jpg" alt="" class="img-fluid mt-3 rounded-2">

                            </div>
                                    <div class="col-lg-8">
                                        <h2 class="h3 news-header title mt-3">
                                            <a href="news-article.html">Dallas College’s Roberto Reyes Selected for HACU Leadership Academy</a>
                                    </h2>
                                    <h3 class="date h5">
                                        <div class="date-stamp t4-e right">
                                            <span class="month">Oct</span>
                                            <span class="day">04,</span>
                                            <span class="year">2024</span>
                                            </span> 
                                        </div>
                                    </h3>
                                    <div class="news-summary">
                                    <p>​Reyes is one of 45 fellows from across the country chosen to prepare for leadership roles in institutions of higher learning, emphasizing Hispanic-Serving Institutions (HSIs) and emerging HSIs.</p>
                                </div>

                                    <div class="category">
                                        <ul class="inline-list ps-0">
                                            <li class="inline-list-item badge bg-info">Student Life</li>
                                            <li class="inline-list-item badge bg-info">Community</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        

                         <!-- calendar item -->
                         <div class="row news-search-results">
                            <div class="col-lg-4 news-search-thumbnail">
                                <img src="https://dallascollege.github.io/TerminalBS/assets/img/students2.jpg" alt="" class="img-fluid mt-3 rounded-2">
                            </div>
                            <div class="col-lg-8">
                                <h2 class="h3 news-header title mt-3">
                                    <a href="news-article.html">New Programs Create Opportunities for Students Who Have Intellectual and Developmental Disabilities</a>
                                </h2>
                                <h3 class="date h5">
                                    <div class="date-stamp t4-e right">
                                            <span class="month">Oct</span>
                                            <span class="day">04,</span>
                                            <span class="year">2024</span>
                                            </span> 
                                        </div>
                                    </h3>

                                    <div class="news-summary">
                                    <p>Event re-occurring 2 weeks. This event will give an overview of the whole week's plans, as well as introductions to all the 'people-to-know' on campus.</p>
                                </div>
                                    <div class="category">

                                        <ul class="inline-list ps-0">
                                            <li class="inline-list-item badge bg-info">Employees</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </div>
                    <!-- end results -->

<!-- pagination -->
                        <div class="row text-center my-5">
                            <div class="pagination-box">
                                <div class="pagination-pages">
                                    <span class="results">Results 1 - 8 of 24</span>
                                    
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center my-4">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end pagination -->

                    </div>                    
                </div>
            </div>
        </article>
      </div>
    </div>
  </div>
</main>
