<main id="main__body" class="left-sidebar">
    <div class="container">
        <div class="row">
            <h1 class="page-header--xl">Compare Areas of Study</h1>

            <div class="col-12">
                <article>
                    <!-- Content Area Begin -->
                    <div class="mainContent program-compare">
                        <div class="row">
                            <div class="col-md-4 mb-4 d-flex flex-column">
                                <div class="program-compare-box p-3 shadow-1 flex-grow-1 d-flex flex-column">
                                    <a href="#" class="button button-mn button-ghost border-cprimary"
                                        aria-pressed="true" aria-label="Remove Acting And Performance from Compare"
                                        role="button">
                                        Remove from Compare <span aria-hidden="true">&times;</span>
                                    </a>
                                    <div class="program-compare-title">
                                        <h2><a href="/pop-sandbox">Digital Experience</a></h2>
                                    </div>
                                    <div class="program-compare-details">

                                        <h3>School</h3>
                                        <span>Creative Arts, Entertainment and Design</span>

                                        <h3>Goal Focus</h3>
                                        <span>Career Training, Degree/Cert, Transfer</span>
                                        <h3>Learning Modes</h3>
                                        <span>In Person, Hybrid</span>
                                        <div class="program-compare-locations">
                                            <h3>Available At</h3>
                                            <span>Bill J. Priest, Brookhaven, Cedar Hill, Cedar Valley, Eastfield, El
                                                Centro, Irving, Mountain View, North Lake, Pleasant Grove, Richland,
                                                West Dallas, Workforce Center at RedBird<sup>3</sup></span>
                                        </div>
                                        <div class="program-compare-summary mt-auto">
                                            <h3>Overview</h3>The Digital Experience program at our college offers a
                                            comprehensive curriculum designed to equip students with the skills needed
                                            for the digital age. Courses cover web development, UX/UI design, digital
                                            marketing, and data analytics. Students gain hands-on experience through
                                            projects and internships, preparing them for successful careers in the
                                            digital industry.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 d-flex flex-column">
                                <div class="program-compare-box p-3 shadow-1 flex-grow-1 d-flex flex-column">
                                    <a href="#" class="button button-mn button-ghost border-cprimary"
                                        aria-pressed="true" aria-label="Remove Acting And Performance from Compare"
                                        role="button">
                                        Remove from Compare <span aria-hidden="true">&times;</span>
                                    </a>
                                    <div class="program-compare-title">
                                        <h2><a href="/pop-sandbox">Organic Gardening</a></h2>
                                    </div>

                                    <div class="program-compare-details">

                                        <h3>School</h3>
                                        <span>Business, Hospitality and Global Trade</span>
                                        <h3>Goal Focus</h3>
                                        <span>Life Skills and Interests</span>
                                        <h3>Learning Modes</h3>
                                        <span>In Person</span>
                                        <div class="program-compare-locations">
                                            <h3>Available At</h3>
                                            <span>Cedar Valley, Eastfield<sup>3</sup></span>
                                        </div>
                                    </div>
                                    <div class="program-compare-summary mt-auto">
                                        <h3>Overview</h3>The Organic Gardening program offers students a comprehensive
                                        understanding of sustainable gardening practices. The curriculum covers soil
                                        health, composting, pest management, and plant selection. Through hands-on
                                        projects and workshops, students learn to grow their own organic produce,
                                        promoting a healthier lifestyle and environmental stewardship. This program
                                        prepares students to create and maintain their own organic gardens, fostering a
                                        deeper connection with nature.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4 d-flex flex-column">
                                <div class="program-compare-box p-3 shadow-1 flex-grow-1 d-flex flex-column">
                                    <a href="#" class="button button-mn button-ghost border-cprimary"
                                        aria-pressed="true" aria-label="Remove Acting And Performance from Compare"
                                        role="button">
                                        Remove from Compare <span aria-hidden="true">&times;</span>
                                    </a>
                                    <div class="program-compare-title">
                                        <h2><a href="/pop-sandbox">Air Conditioning and Refrigeration Technology</a></h2>
                                    </div>
                                    <div class="program-compare-details">

                                        <h3>School</h3>
                                        <span>Creative Arts, Entertainment and Design</span>

                                        <h3>Goal Focus</h3>
                                        <span>Career Training, Degree/Cert, Transfer</span>
                                        <h3>Learning Modes</h3>
                                        <span>In Person, Hybrid</span>
                                        <div class="program-compare-locations">
                                            <h3>Available At</h3>
                                            <span>Cedar Valley, Eastfield, North Lake, Online<sup>3</sup></span>
                                        </div>
                                    </div>
                                    <div class="program-compare-summary mt-auto">
                                        <h3>Overview</h3>The Digital Experience program at our college offers a
                                        comprehensive curriculum
                                        designed to equip students with the skills needed for the digital age. Courses
                                        cover
                                        web development, UX/UI design, digital marketing, and data analytics. Students
                                        gain
                                        hands-on experience through projects and internships, preparing them for
                                        successful
                                        careers in the digital industry.
                                    </div>
                                </div>
                            </div>

                            <p class="small"><sup>1</sup>Length of time is based on catalog degree plans. Prerequisites may be required, which are not included in this estimate. For credit programs, full-time student status is assumed, a minimum of 12 credit hours per semester.</p>
                            <p class="small"><sup>2</sup>Cost is based on tuition rates for program hours for Dallas County residents. The price of most required learning materials (books, software, supplies, etc.) is included with the price of tuition. Visit our <a href="https://www.dallascollege.edu/paying-for-college/pages/default.aspx">Paying for College site</a> to learn more about cost, finaincial aid, scholarships and more.</p>
                            <p class="small"><sup>3</sup>Each location offers a unique combination of certificate and degree options. Not all degree and certificate offerings are available for admission/start at all campuses every semester.</p>

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>