<main id="main__body" class="left-sidebar">
    <div class="container">
        <div class="row">
            <h1 class="page-header--xl">Find an Area of Study</h1>

            {% include interior/program-search-sidebar.html %}

            <div class="col-md-8 offset-md-1 my-5">
                <article>
                    <!-- Content Area Begin -->
                    <div class="mainContent">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- search form -->
                                <form role="search" class="t4-functional-search">

                                    <div class="input-group input-group-lg">
                                        <label class="sr-only" for="ProgramSearch">Search Areas of
                                            Study</label>
                                        <input type="text" id="ProgramSearch" class="form-control shadow-2"
                                            placeholder="Search Areas of Study">
                                        <button class="btn bg-cprimary shadow-2" type="button"
                                            id="button-addon2">Search</button>
                                    </div>


                                </form>

                            </div>

                            <!-- results-->
                            <div class="row mt-5">
                                <!-- item -->
                                <div class="row program-search-results">
                                    <div class="col-12">
                                        <h2 class="h3 news-header title mt-3">
                                            <a href="../pop-sandbox/">Accounting</a>
                                        </h2>
                                        <p>Whether you’re an entrepreneur, CEO or employee looking for a better
                                            financial future, every type of business needs trained personnel to make
                                            sure financial transactions are handled properly and accurate records
                                            are kept.</p>


                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span class="ico fas fa-briefcase text-cprimary" aria-hidden="true"></span></span>Workforce Training</li>
                                            <li><span class="fa-li"><span class="ico fas fa-graduation-cap text-cprimary" aria-hidden="true"></span></span>Credit</li>
                                        </ul>
                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>Brookhaven</li>
                                            <li>Cedar Valley</li>
                                            <li>Eastfield</li>
                                            <li>El Centro</li>
                                            <li>Mountain View</li>
                                            <li>North Lake</li>
                                            <li>Richland</li>
                                            <li>Online</li>
                                        </ul>

                                        <a class="button button-mn border-cprimary button-ghost"><span
                                                class="visually-hidden">Accounting </span>Saved</a> <a class="button button-mn bg-cprimary" href="../pop-sandbox">Get More Info<span class="visually-hidden"> About Accounting</span></a>
                                    </div>
                                </div>
                                <!-- end item -->


                                <!-- item -->
                                <div class="row program-search-results">
                                    <div class="col-12">
                                        <h2 class="h3 news-header title mt-3">
                                            <a href="../pop-sandbox/">Agriculture</a>
                                        </h2>
                                        <p>Studying agriculture at El Centro gives you an innovative and
                                            interdisciplinary approach to agricultural sciences. Our courses
                                            highlight a variety of topics from an overview of the American
                                            agricultural system to technological applications to food and animal
                                            sciences, all while giving you hands-on training and field experience.
                                        </p>

                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span class="ico fas fa-briefcase text-cprimary" aria-hidden="true"></span></span>Workforce Training</li>
                                            <li><span class="fa-li"><span class="ico fas fa-graduation-cap text-cprimary" aria-hidden="true"></span></span>Credit</li>

                                        </ul>
                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span class="ico fas fa-chalkboard-teacher text-cprimary" aria-hidden="true"></span></span>In Person</li>
                                            <li>Online</li>
                                            </ul>
                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>Bill J. Priest</li>
                                            <li>Brookhaven</li>
                                            <li>Cedar Hill</li>
                                            <li>Cedar Valley</li>
                                            <li>Eastfield</li>
                                            <li>El Centro</li>
                                            <li>Irving</li>
                                            <li>Mountain View</li>
                                            <li>North Lake</li>
                                            <li>Pleasant Grove</li>
                                            <li>Richland</li>
                                            <li>West Dallas</li>
                                            <li>Workforce Center at RedBird</li>
                                        </ul>


                                        <a class="button button-mn bg-cprimary">Compare<span class="visually-hidden">
                                                Agriculture</span></a> <a class="button button-mn bg-cprimary" href="../pop-sandbox">Get More Info<span class="visually-hidden"> About Agriculture</span></a>
                                    </div>
                                </div>
                                <!-- end item -->

                                <!-- item -->
                                <div class="row program-search-results">
                                    <div class="col-12">
                                        <h2 class="h3 news-header title mt-3">
                                            <a href="../pop-sandbox/">Air Conditioning and Refrigeration
                                                Technology</a>
                                        </h2>
                                        <p>Studying agriculture at El Centro gives you an innovative and
                                            interdisciplinary approach to agricultural sciences. Our courses
                                            highlight a variety of topics from an overview of the American
                                            agricultural system to technological applications to food and animal
                                            sciences, all while giving you hands-on training and field experience.
                                        </p>


                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span class="ico fas fa-briefcase text-cprimary" aria-hidden="true"></span></span>Workforce Training</li>
                                            <li><span class="fa-li"><span class="ico fas fa-graduation-cap text-cprimary" aria-hidden="true"></span></span>Credit</li>
                                        </ul>
                                        <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                            <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>Brookhaven</li>
                                            <li>Cedar Valley</li>
                                            <li>North Lake</li>
                                            <li>Richland</li>
                                            <li>Online</li>
                                        </ul>

                                        <a class="button button-mn border-cprimary button-ghost"><span
                                                class="visually-hidden">Air Conditioning and Refrigeration
                                                Technology</span>Saved</a> <a class="button button-mn bg-cprimary" href="../pop-sandbox">Get
                                            More Info<span class="visually-hidden"> About Air Conditioning and
                                                Refrigeration
                                                Technology</span></a>
                                    </div>
                                </div>
                                <!-- end item -->


                                <!-- item -->
                                <div class="row program-search-results">
                                    <div class="col-12">
                                        <h2 class="h3 news-header title mt-3">
                                            <a href="../pop-sandbox/">American Sign Language</a>
                                        </h2>
                                        <p>By learning another language, you will expand your social and cultural
                                            horizons, boost your intelligence, and make yourself more marketable in
                                            today’s globalized economy.</p>


                                            <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                                <li><span class="fa-li"><span class="ico fas fa-briefcase text-cprimary" aria-hidden="true"></span></span>Workforce Training</li>
                                                <li><span class="fa-li"><span class="ico fas fa-graduation-cap text-cprimary" aria-hidden="true"></span></span>Credit</li>    
                                            </ul>
                                            <ul class="list-inline fa-ul pgs-program-card__meta mb-2">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt text-cprimary"></span></span>Brookhaven</li>
                                                <li>Cedar Valley</li>
                                                <li>Eastfield</li>
                                                <li>El Centro</li>
                                                <li>Richland</li>
                                                <li>Online</li>
                                            </ul>

                                        <a class="button button-mn bg-cprimary">Compare<span class="visually-hidden">
                                                American Sign Language</span></a> <a class="button button-mn bg-cprimary" href="../pop-sandbox">Get More Info<span class="visually-hidden"> About American Sign Language</span></a>
                                    </div>
                                </div>
                                <!-- end item -->




                                <!-- end results -->

                                <!-- pagination -->
                                <div class="row text-center my-5">
                                    <div class="pagination-box">
                                        <div class="pagination-pages">
                                            <span class="results">Results 1 - 20 of 24</span>

                                            <nav aria-label="Page navigation">
                                                <ul class="pagination justify-content-center my-4">
                                                    <li class="page-item"><a href="#">Previous</a></li>
                                                    <li class="page-item"><a href="#">1</a></li>
                                                    <li class="page-item"><a href="#">2</a></li>
                                                    <li class="page-item"><a href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end pagination -->
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>