<main id="main__body" class="left-sidebar">
    <div class="container">
        <div class="row">
            <h1 class="page-header--xl">Compare Areas of Study</h1>

            <div class="col-12">
                <article>
                    <!-- Content Area Begin -->
                    <div class="mainContent program-compare">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="program-compare-box p-3 shadow-1">
                                    <a href="#" class="button button-mn button-ghost border-cprimary" aria-pressed="true" aria-label="Remove Acting And Performance from Compare" role="button">
                                        Remove from Compare <span aria-hidden="true">&times;</span>
                                      </a>
                                <h2>Digital Experience</h2>
                                <div class="program-compare-summary">The Digital Experience program at our college offers a comprehensive curriculum designed to equip students with the skills needed for the digital age. Courses cover web development, UX/UI design, digital marketing, and data analytics. Students gain hands-on experience through projects and internships, preparing them for successful careers in the digital industry.</div>
                                <div class="program-compare-details">
                                <h3>Time to Completion</h3>
                                <span>Six weeks-Two years</span>
                                <h3>School</h3>
                                <span>Creative Arts, Entertainment and Design</span>

                                <h3>Goal Focus</h3>
                                <span>Career Training, Degree/Cert, Transfer</span>
                                <h3>Learning Modes</h3>
                                <span>In Person, Hybrid</span>
                                <h3>Available At</h3>
                                <span>Cedar Valley, Eastfield, North Lake, Cedar Valley, Eastfield, North Lake, Online</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="program-compare-box p-3 shadow-1">
                                <a href="#" class="button button-mn button-ghost border-cprimary" aria-pressed="true" aria-label="Remove Acting And Performance from Compare" role="button">
                                    Remove from Compare <span aria-hidden="true">&times;</span>
                                  </a>
                                <h2>Organic Gardening</h2>
                                <div class="program-compare-summary">The Organic Gardening program offers students a comprehensive understanding of sustainable gardening practices. The curriculum covers soil health, composting, pest management, and plant selection. Through hands-on projects and workshops, students learn to grow their own organic produce, promoting a healthier lifestyle and environmental stewardship. This program prepares students to create and maintain their own organic gardens, fostering a deeper connection with nature.</div>
                                <div class="program-compare-details">
                                <h3>Time to Completion</h3>
                                <span>Six weeks</span>
                                <h3>School</h3>
                                <span>Business, Hospitality and Global Trade</span>
                                <h3>Goal Focus</h3>
                                <span>Life Skills and Interests</span>
                                <h3>Learning Modes</h3>
                                <span>In Person</span>
                                <h3>Available At</h3>
                                <span>Cedar Valley, Eastfield</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="program-compare-box p-3 shadow-1">
                                <a href="#" class="button button-mn button-ghost border-cprimary" aria-pressed="true" aria-label="Remove Acting And Performance from Compare" role="button">
                                    Remove from Compare <span aria-hidden="true">&times;</span>
                                  </a>
                                <h2>Program Name</h2>
                                <div class="program-compare-summary">The Digital Experience program at our college offers a comprehensive curriculum
                                    designed to equip students with the skills needed for the digital age. Courses cover
                                    web development, UX/UI design, digital marketing, and data analytics. Students gain
                                    hands-on experience through projects and internships, preparing them for successful
                                    careers in the digital industry.</div>
                                    <div class="program-compare-details">
                                <h3>Time to Completion</h3>
                                <span>Six weeks-Two years</span>
                                <h3>School</h3>
                                <span>Creative Arts, Entertainment and Design</span>

                                <h3>Goal Focus</h3>
                                <span>Career Training, Degree/Cert, Transfer</span>
                                <h3>Learning Modes</h3>
                                <span>In Person, Hybrid</span>
                                <h3>Available At</h3>
                                <span>Cedar Valley, Eastfield, North Lake, Online</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>