<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">


  <div id="compare-feature">
    <h2>Compare Areas of Study</h2>
    <p>You may select three areas of study to compare.</p>
    <fieldset class="mb-5">
      <legend>Select Your Interests</legend>
    
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="value-1">
        <label class="form-check-label" for="value1">
          Accounting
        </label>
      </div>
    
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="value-2">
        <label class="form-check-label" for="value2">
          Air Conditioning and Refrigeration Technology
        </label>
      </div>
    
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="value-3">
        <label class="form-check-label" for="value3">
          American Sign Language
        </label>
      </div>
      </fieldset>
      <a href="#" class="button button-mn bg-cprimary">Compare</a> <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>                                
</div>


  <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
    <div class="container-fluid p-0"> 

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        Areas of Study Filter Options
        <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
      </button>



      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

        <div class="nav navbar-nav flex-column">
          <h2>Filter Your Results</h2>

          <fieldset class="mb-5">
            <legend>Select Your Interests</legend>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="business">
              <label class="form-check-label" for="business">
                Business, Hospitality and Global Trade
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="creative-arts">
              <label class="form-check-label" for="creative-arts">
                Creative Arts, Entertainment and Design
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="education">
              <label class="form-check-label" for="education">
                Education
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="engineering">
              <label class="form-check-label" for="engineering">
                Engineering, Technology, Mathematics and Sciences
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="health-sciences">
              <label class="form-check-label" for="health-sciences">
                Health Sciences
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="law-public-service">
              <label class="form-check-label" for="law-public-service">
                Law and Public Service
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="manufacturing">
              <label class="form-check-label" for="manufacturing">
                Manufacturing and Industrial Technology
              </label>
            </div>
          </fieldset>

          <fieldset class="mb-5">
            <legend>Select Your Goals</legend>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="transfer">
              <label class="form-check-label" for="transfer">
                Transfer
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="career-training">
              <label class="form-check-label" for="career-training">
                Career Training
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="degree-cert">
              <label class="form-check-label" for="degree-cert">
                Degree/Certificate
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="life-skills">
              <label class="form-check-label" for="life-skills">
                Life Skills and Interests
              </label>
            </div>


            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="none">
              <label class="form-check-label" for="none">
                None
              </label>
            </div>
          </fieldset>


          <fieldset class="mb-5">
            <legend>Select Your Preferred Mode of Learning</legend>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="in_person" id="in_person">
              <label class="form-check-label" for="in_person">
                In Person
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="hybrid" id="hybrid">
              <label class="form-check-label" for="hybrid">
                Hybrid
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="online" id="online">
              <label class="form-check-label" for="online">
                100% Online
              </label>
            </div>
          </fieldset>

          <div class="mb-5">
            <label for="timePeriodSelect" class="form-label t4-functional">How Soon Would
              You Like to Complete Your Credential?</label>
            <select class="form-select" id="timePeriodSelect" aria-label="Select a Time Period">
              <option value="0_months">Select a Length of Time</option>
              <option value="3_months">Less than 3 months</option>
              <option value="4_6_months">4-6 months</option>
              <option value="7_9_months">7-9 months</option>
              <option value="10_12_months">10-12 months</option>
              <option value="13_15_months">13-15 months</option>
              <option value="16_18_months">16-18 months</option>
              <option value="19_21_months">19-21 months</option>
              <option value="22_24_months">2 years</option>
            </select>
          </div>




          <div class="mb-5">
            <label for="locationSelect" class="form-label t4-functional">Filter by
              Location</label>
            <select class="form-select" id="locationSelect" aria-label="Filter by Location">
              <optgroup label="Campuses">
                <option value="dc_dallas_college">Select a Location</option>
                <option value="dc_brookhaven">Brookhaven</option>
                <option value="dc_cedar_valley">Cedar Valley</option>
                <option value="dc_eastfield">Eastfield</option>
                <option value="dc_el_centro">El Centro</option>
                <option value="dc_mountain_view">Mountain View</option>
                <option value="dc_north_lake">North Lake</option>
                <option value="dc_richland">Richland</option>
              </optgroup>
              <optgroup label="Centers">
                <option value="dc_bill_priest">Bill J. Priest</option>
                <option value="dc_cedar_hill">Cedar Hill</option>
                <option value="dc_coppell">Coppell</option>
                <option value="dc_culinary">Culinary, Pastry and Hospitality</option>
                <option value="dc_health_sciences">Downtown Health Sciences</option>
                <option value="dc_irving">Irving</option>
                <option value="dc_lancaster">Lancaster Workforce Development</option>
                <option value="dc_pleasant_grove">Pleasant Grove</option>
                <option value="dc_south_dallas">South Dallas Training</option>
                <option value="dc_west_dallas">West Dallas</option>
                <option value="dc_redbird">Workforce Center at RedBird</option>
              </optgroup>
            </select>
          </div>

          <a href="#" class="button button-mn bg-cprimary">Submit</a>
          <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>

        </div>

      </div>
    </div>
  </nav>

  <div id="scnbox" class="text-success border border-success height-sm-100 text-align-center p-3">
    <div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on
      pages based on tags.
    </div>
  </div>
</aside>