<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">

    <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
     <div class="container-fluid" style="padding:0 !important"> 

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse" aria-expanded="false" aria-label="Toggle navigation">
  Staff Directory Filter Options
  <span class="ico fas fa-chevron-circle-down"></span>
</button>


   
      <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

        <ul class="nav navbar-nav flex-column">       
            <h2>Filter Your Results</h2>
            <fieldset>
                <legend style="font-size: 18px; font-weight: 700;">Filter by Position</legend>
                <div><input type="checkbox" value="facutly" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkdc">&nbsp;Faculty</label></div>
                <div><input type="checkbox" value="staff" id="chkbhc" name="chkbhc" class="filterLocationChk my-3"><label for="chkbhc">&nbsp;Staff</label></div>
                <hr>

                <legend style="font-size: 18px; font-weight: 700;">Filter by Location</legend>
                <legend style="font-size: 16px; font-weight: 600;">Campuses:</legend>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkdc">&nbsp;Dallas College</label></div>
                <div><input type="checkbox" value="bhc" id="chkbhc" name="chkbhc" class="filterLocationChk my-3"><label for="chkbhc">&nbsp;Brookhaven</label></div>
                <div><input type="checkbox" value="cvc" id="chkcvc" name="chkcvc" class="filterLocationChk my-3"><label for="chkcvc">&nbsp;Cedar Valley</label></div>
                <div><input type="checkbox" value="efc" id="chkefc" name="chkefc" class="filterLocationChk my-3"><label for="chkefc">&nbsp;Eastfield</label></div>
                <div><input type="checkbox" value="ecc" id="chkecc" name="chkecc" class="filterLocationChk my-3"><label for="chkecc">&nbsp;El Centro</label></div>
                <div><input type="checkbox" value="nlc" id="chknlc" name="chknlc" class="filterLocationChk my-3"><label for="chknlc">&nbsp;North Lake</label></div>
                <div><input type="checkbox" value="mvc" id="chkmvc" name="chkmvc" class="filterLocationChk my-3"><label for="chkmvc">&nbsp;Mountain View</label></div>
                <div><input type="checkbox" value="rlc" id="chkrlc" name="chkrlc" class="filterLocationChk my-3"><label for="chkrlc">&nbsp;Richland</label></div>
                <hr>
                <legend style="font-size: 16px; font-weight: 600;">Centers:</legend>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkbjp">&nbsp;Bill J. Priest</label></div>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkchc">&nbsp;Cedar Hill</label></div>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkcc">&nbsp;Coppell</label></div>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkpcp">&nbsp;Culinary, Pastry and Hospitality</label></div>		
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkdhc">&nbsp;Downtown Health Sciences</label></div>		
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkic">&nbsp;Irving</label></div>	
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chklwdc">&nbsp;Lancaster Workforce Development</label></div>		
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkpg">&nbsp;Pleasant Grove</label></div>		
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chksdtc">&nbsp;South Dallas Training</label></div>		
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkwdc">&nbsp;West Dallas</label></div>
                <div><input type="checkbox" value="dc" id="chkdc" name="chkdc" class="filterLocationChk my-3"><label for="chkwrb">&nbsp;Workforce Center at RedBird</label></div>
            </fieldset>


            


        </ul>
      </div>
    </div>
  </nav>
  <div id="scnbox" class="text-success border-success"><div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on pages based on tags.</div>
</aside>