<!-- Sidebar Begin -->

<aside id="sidebar" class="sidebar col-md-3">

    <nav class="navbar pgs-navbar--sidebar navbar-expand-md">
        <div class="container-fluid p-0">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#pgs-navbar--sidebar__collapse" aria-controls="pgs-navbar--sidebar__collapse"
                aria-expanded="false" aria-label="Toggle navigation">
                Staff Directory Menu
                <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
            </button>



            <div class="collapse navbar-collapse" id="pgs-navbar--sidebar__collapse">

                <div class="nav navbar-nav flex-column">
                    <h2>Filter Your Results</h2>
                    <fieldset>
                        <legend>Filter by Position</legend>
                        <div class="form-check">
                            <input type="checkbox" value="dc_dallas_college" id="chkdc_dallas_admin"
                                name="chkdc_dallas_admin" class="form-check-input">
                            <label class="form-check-label" for="chkdc_dallas_admin">Administrator</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_dallas_college" id="chkdc_dallas_faculty"
                                name="chkdc_dallas_faculty" class="form-check-input">
                            <label class="form-check-label" for="chkdc_dallas_faculty">Faculty</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_dallas_college" id="chkdc_dallas_staff"
                                name="chkdc_dallas_staff" class="form-check-input">
                            <label class="form-check-label" for="chkdc_dallas_staff">Staff</label>
                        </div>

                    </fieldset>
                    <hr>
                    <h3>Filter by Location</h3>
                    <fieldset>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="bjp" name="bjp" class="form-check-input">
                            <label class="form-check-label" for="bjp">Bill J. Priest</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_brookhaven" id="chkdc_brookhaven"
                                name="chkdc_brookhaven" class="form-check-input">
                            <label class="form-check-label" for="chkdc_brookhaven">Brookhaven</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="chc" name="chc" class="form-check-input">
                            <label class="form-check-label" for="chc">Cedar Hill</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_cedar_valley" id="chkdc_cedar_valley"
                                name="chkdc_cedar_valley" class="form-check-input">
                            <label class="form-check-label" for="chkdc_cedar_valley">Cedar Valley</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="cc" name="cc" class="form-check-input">
                            <label class="form-check-label" for="cc">Coppell</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="cph" name="cph" class="form-check-input">
                            <label class="form-check-label" for="cph">Culinary, Pastry and Hospitality</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="dhs" name="dhs" class="form-check-input">
                            <label class="form-check-label" for="dhs">Downtown Health Sciences</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_eastfield" id="chkdc_eastfield" name="chkdc_eastfield"
                                class="form-check-input">
                            <label class="form-check-label" for="chkdc_eastfield">Eastfield</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_el_centro" id="chkdc_el_centro" name="chkdc_el_centro"
                                class="form-check-input">
                            <label class="form-check-label" for="chkdc_el_centro">El Centro</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="ic" name="ic" class="form-check-input">
                            <label class="form-check-label" for="ic">Irving</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="lwd" name="lwd" class="form-check-input">
                            <label class="form-check-label" for="lwd">Lancaster Workforce Development</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_mountain_view" id="chkdc_mountain_view"
                                name="chkdc_mountain_view" class="form-check-input">
                            <label class="form-check-label" for="chkdc_mountain_view">Mountain View</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_north_lake" id="chkdc_north_lake"
                                name="chkdc_north_lake" class="form-check-input">
                            <label class="form-check-label" for="chkdc_north_lake">North Lake</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="pgc" name="pgc" class="form-check-input">
                            <label class="form-check-label" for="pgc">Pleasant Grove</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc_richland" id="chkdc_richland" name="chkdc_richland"
                                class="form-check-input">
                            <label class="form-check-label" for="chkdc_richland">Richland</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="sdc" name="sdc" class="form-check-input">
                            <label class="form-check-label" for="sdc">South Dallas Training</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="wdc" name="wdc" class="form-check-input">
                            <label class="form-check-label" for="wdc">West Dallas</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" value="dc" id="wrb" name="wrb" class="form-check-input">
                            <label class="form-check-label" for="wrb">Workforce Center at RedBird</label>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </nav>
    <a href="#" class="button button-mn bg-cprimary">Submit</a>
    <a href="#" class="button button-mn bg-cprimary">Clear Filters</a>
    <div id="scnbox" class="text-success border border-success height-sm-100 text-align-center p-3">
        <div id="scnboxtext" class="h6 text-success no-margin">Here's a place for HTML content to be setup as an "ad" on
            pages based on tags.
        </div>
    </div>
</aside>