<div class="acalog" data-acalog-data="programs" data-acalog-catalog-legacy-id="2" data-acalog-program-id="425">Loading...</div>

<div class="acalog" data-acalog-data="programs" data-acalog-catalog-legacy-id="2" data-acalog-program-id="413">Loading...</div>
 
 
<div class="acalog" data-acalog-data='courses' data-acalog-catalog-legacy-id="2" data-acalog-course-prefix='DSAE' data-acalog-course-code='2264'>Loading...</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://catalog.dallascollege.edu/widget-api/widget-api.min.js"></script>
<script>
    $('.acalog').acalogWidgetize({
        gateway: 'https://catalog.dallascollege.edu',
    });
</script>