<div class="acalog" data-acalog-data="programs" data-acalog-catalog-filter="2" data-acalog-program-id="366">Loading...</div>

<div class="acalog" data-acalog-data="programs" data-acalog-catalog-filter="2" data-acalog-program-legacy-id="335">Loading...</div>


<!-- <div class="acalog" data-acalog-data='courses' data-acalog-course-prefix='DSAE' data-acalog-course-code='2264' data-acalog-catalog-id='2'>Loading...</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://catalog.dallascollege.edu/widget-api/widget-api.min.js"></script>
<script>
    $('.acalog').acalogWidgetize({
        gateway: 'https://catalog.dallascollege.edu',
        data: 'programs',
    });
</script>
