<header id="l-header-desktop" class="ms-dialogHidden l-header-desktop--microsite" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>
    <div id="l-nav-utility" class="bg-cprimary-dk navbar navbar--utility-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#resources-for" aria-expanded="false">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="ico fas fa-bars fa-lg" aria-hidden="true"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="resources-for">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="track-header" href="/future-students/pages/default.aspx">Future Students</a></li>
                            <li><a class="track-header" href="/students/pages/default.aspx">Current Students</a></li>
                            <li><a class="track-header" href="/admissions/international/pages/default.aspx">International Students</a></li>
                            <li><a class="track-header" href="/high-school-students/pages/default.aspx">High School Students &amp; Parents</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a class="track-header" href="/alumni/pages/default.aspx">Alumni</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community &amp; Business<span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="track-header" href="/community/pages/default.aspx">Community</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a class="track-header" href="/business-industry/pages/default.aspx">Business &amp; Industry</a></li>
                            <li><a class="track-header" href="/business-industry/pages/do-business-with-us.aspx">Suppliers</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a class="track-header" href="https://foundation.dallascollege.edu">Donate</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="dropdown locations lm-seperator">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Locations<span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="BH"><a class="track-header" href="/about/bhc/pages/default.aspx"><strong>Brookhaven</strong> &ndash; Farmers Branch</a></li>
                            <li class="CV"><a class="track-header" href="/about/cvc/pages/default.aspx"><strong>Cedar Valley</strong> &ndash; Lancaster</a></li>
                            <li class="EF"><a class="track-header" href="/about/efc/pages/default.aspx"><strong>Eastfield</strong> &ndash; Mesquite</a></li>
                            <li class="EC"><a class="track-header" href="/about/ecc/pages/default.aspx"><strong>El Centro</strong> &ndash; Downtown Dallas</a></li>
                            <li class="MV"><a class="track-header" href="/about/mvc/pages/default.aspx"><strong>Mountain View</strong> &ndash; Oak Cliff</a></li>
                            <li class="NL"><a class="track-header" href="/about/nlc/pages/default.aspx"><strong>North Lake</strong> &ndash; Irving</a></li>
                            <li class="RL"><a class="track-header" href="/about/rlc/pages/default.aspx"><strong>Richland</strong> &ndash; North Dallas</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a href="/maps/pages/locations.aspx">View all locations...</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>

    <!-- Banner section -->
    <div class="pgs-banner pgs-banner--compact pgs-banner--microsite">
        <div class="pgs-banner__title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="h1 pgs-banner__h1">
                            <a class="d-none d-sm-block" href="/pages/default.aspx">
                                <img class="logo-bar-slot__img" src="https://www.dallascollege.edu/publishingimages/logos/dc-logo-master-white.svg" alt="Dallas College">
                            </a>
                            <a class="underline-inv text-cwhite site-title" href="default.aspx"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 text-end">
                        <div class="nav-secondary">
                            <a class="btn btn-light track-header" href="about.aspx"><span aria-hidden="true" class="ico fas fa-info-circle"></span>About</a>
                            <a class="btn btn-light track-header" href="contact.aspx"><span aria-hidden="true" class="ico fas fa-phone"></span>Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pgs-banner__sub-nav bg-cprimary-lt">
        <div class="container-fluid">
            <nav class="pgs-navbar--banner">
                <div class="d-flex justify-content-center">
                    <!-- Desktop submenu -->
                    <ul class="level1 nav navbar-nav list-inline" role="menubar">
                        <li role="list-inline-item" class="static">
                            <a class="level1 selected static" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/training.aspx">PLA Training</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/resources.aspx">Resources</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--Mobile Header -->
<header id="l-header-mobile" class="ms-dialogHidden mobile_master" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>
    <nav class="navbar navbar-default navbar-utility bg-cprimary-dk" aria-label="Utility">
        <!-- Brand and toggle get grouped for better mobile display -->
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown--people text-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore Dallas College<span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
                <ul class="dropdown-menu text-right">
                    <li><a href="/students/pages/default.aspx">For Students</a></li>
                    <li><a href="/community/pages/default.aspx">For Community</a></li>
                    <li><a href="/business-industry/pages/default.aspx">For Business or Workforce Partners</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/business-industry/pages/default.aspx">Locations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- logo and submenu -->
    <nav id="dc_mobileNavbar" class="navbar navbar-inverse shadow-nav pgs-banner bg-cprimary" aria-label="Primary">
        <div class="container-fluid">
            <a class="navbar-brand mobile-logo" href="default.aspx">
                <img src="https://www.dallascollege.edu/publishingimages/logos/dc-logo-dmark-white.svg" alt="Dallas College">
                PLA Portal Project
            </a>

            <button class="navbar-toggler bg-cprimary-dk" type="button" data-bs-toggle="collapse" data-bs-target="#l-header-mobile__menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- <button class="hamburger hamburger--squeeze navbar-toggler bg-cprimary-dk" type="button" data-bs-toggle="collapse" data-bs-target="#l-header-mobile__menu" aria-expanded="false" aria-label="Toggle Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button> -->
        </div>
    
        <div class="collapse navbar-collapse bg-cprimary" id="l-header-mobile__menu">
            <ul id="mblNav" class="navbar-nav bg-cprimary text-center">
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/training.aspx">PLA Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/resources.aspx">Resources</a>
                </li>
            </ul>
    

            <ul class="navbar-nav navbar-secondary bg-cprimary-dk">
                <li class="nav-item">
                    <a class="nav-link level2" href="about.aspx">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level2" href="contact.aspx">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
</header>