<!--Mobile Header -->
<header id="l-header-mobile" class="ms-dialogHidden mobile_master" aria-hidden="false">
  <div class="skiptocontent">
    <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
    <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
  </div>
  <nav class="navbar navbar-default navbar-utility bg-cprimary-lt" aria-label="Utility">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav">
      <li class="dropdown dropdown--people">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">I am a... <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="dropdown-menu">
          <li><a class="track-header" href="/future-students/pages/default.aspx">Future Student</a></li>
          <li><a class="track-header" href="/students/pages/default.aspx">Current Student</a></li>
          <li><a class="track-header" href="/alumni/pages/default.aspx">Former Student (Alumni)</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="track-header" href="/employees/pages/default.aspx">Employee</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="track-header" href="/community/pages/default.aspx">Community Member</a></li>
          <li><a class="track-header" href="/business-industry/pages/default.aspx">Business or Industry Partner</a></li>
          <li><a class="track-header" href="/business-industry/pages/do-business-with-us.aspx">Supplier or Vendor</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown dropdown--tools">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Online Tools <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="dropdown-menu row">
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://econnect.dcccd.edu"><span class="ico fas fa-network-wired" aria-hidden="true"></span>eConnect</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://selfsrv.dcccd.edu/student"><span class="ico fas fa-laptop" aria-hidden="true"></span>Self Service</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://ecampus.dallascollege.edu/"><span class="ico fas fa-chalkboard-teacher" aria-hidden="true"></span>eCampus</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://dcccd.sharepoint.com/"><span class="ico fab fa-microsoft" aria-hidden="true"></span>SharePoint</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="http://outlook.dcccd.edu/"><span class="ico fas fa-envelope" aria-hidden="true"></span>Email</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://www.myworkday.com/dallascollege/login-saml2.htmld"><span class="ico tools-workday" aria-hidden="true"></span>Workday</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="/staff-directory/pages/default.aspx"><span class="ico fas fa-address-book" aria-hidden="true"></span><span class="hidden-ip5">Employee </span>Directory</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://dallascollege.navigate.eab.com/"><span class="ico fas fa-compass" aria-hidden="true"></span>Navigate</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://teams.microsoft.com"><span class="ico fas fa-users" aria-hidden="true"></span>Microsoft Teams</a></li>
          <li role="separator" class="divider"></li>
          <li class="col-xs-12"><a class="track-header" href="http://myapps.dcccd.edu">View more online tools...</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav id="dc_mobileNavbar" class="navbar navbar-inverse shadow-nav bg-cprimary" data-spy="affix" data-offset-top="45" aria-label="Primary Navigation">
    <!-- Hamburger Menu -->
    <div class="navbar-header bg-cprimary-gr">
      <a class="mobile-logo" href="/"><img src="{{ site.baseurl }}/assets/img/logos/dc-logo-master-white.svg" alt="Dallas College"></a>
      <button class="hamburger hamburger--squeeze navbar-toggle collapsed bg-cprimary-dk navbar-primary-toggle" type="button" data-toggle="collapse" data-target="#l-header-mobile__menu" aria-expanded="false" aria-haspopup="true">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span><span class="sr-only">Toggle Menu</span>
        </span>
      </button>
    </div>
    <!-- Mobile Primary Nav -->
    <div class="collapse navbar-collapse" id="l-header-mobile__menu">
      <form>
        <div class="input-group search-component l-header-mobile__menu__search">
          <label for="srchBox" class="sr-only">Search this website</label>
          <input type="text" class="form-control bg-cwhite" placeholder="Search this website" id="srchBox">
          <span class="input-group-btn">
            <button class="bg-cwhite text-cprimary track-header" type="button" id="mobileSrchBtn"><span class="ico fas fa-search" aria-label="Search"></span></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-primary">
        <li id="_m_Admissions"><a class="track-header" href="/admissions/pages/default.aspx">Admissions</a></li>
        <li id="_m_PayingForCollege"><a class="track-header" href="/paying-for-college/pages/default.aspx">Paying for College</a></li>
        <li id="_m_ClassesAndDegrees"><a class="track-header" href="/cd/pages/default.aspx">Classes &amp; Degrees</a></li>
        <li id="_m_StudentResources"><a class="track-header" href="/resources/pages/support.aspx">Student Resources</a></li>
        <li id="_m_StudentLife"><a class="track-header" href="/slife/pages/default.aspx">Student Life</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-secondary bg-cprimary-dk">
        <li><a class="track-header" href="/about/pages/default.aspx">About</a></li>
        <li><a class="track-header" href="/contact/pages/default.aspx">Contact</a></li>
        <li lang="es"><a class="track-header" href="/espanol/pages/default.aspx">Español</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</header>
