<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="facebook-domain-verification" content="my3b6tigkq656bbfv3zx8w0wqx71q9">
  <meta property="og:site_name" content="Dallas College">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dallascollegetx">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>
    Dallas College: Education That Works in Dallas County
  </title>

  <link id="fontawesome_fonts__0" rel="stylesheet" type="text/css"
    href="{{ site.baseurl }}/assets/css/fontawesome/all.min.css">


  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dcstyles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/newstyles.css">


  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>



  <link rel="apple-touch-icon" sizes="57x57" href="https://www.dallascollege.edu/icons/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.dallascollege.edu/icons/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.dallascollege.edu/icons/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.dallascollege.edu/icons/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.dallascollege.edu/icons/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dallascollege.edu/icons/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.dallascollege.edu/icons/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.dallascollege.edu/icons/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://www.dallascollege.edu/icons/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://www.dallascollege.edu/icons/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <link rel="shortcut icon" type="image/x-icon" href="https://www.dallascollege.edu/icons/favicons/favicon.ico">
  <meta property="og:title" content="Dallas College: Education That Works">
  <meta property="og:url" content="https://www.dallascollege.edu/pages/default.aspx">
  <meta property="og:image"
    content="https://www.dallascollege.edu/PublishingImages/banner-1600x512/2024-spring-1200x630.jpg">
  <meta property="og:description"
    content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!">

  <meta name="keywords" content="Dallas College, Dallas College Home, Home, Homepage">
  <meta name="description"
    content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!">

  <!-- Please contact jblundell@dallascollege.edu before making changes to the code below. -->
  <script type='application/ld+json'>
  {
    "@context": "http://schema.org/",
    "@type": "CollegeOrUniversity",
    "name": "Dallas College",
    "url": "https://www.dallascollege.edu/",
    "address": [{
        "name": "Dallas College Administrative Office",
        "@type": "PostalAddress",
        "addressLocality": "Dallas",
        "addressRegion": "TX",
        "postalCode": "75215",
        "streetAddress": "1601 Botham Jean Blvd."
      },
      {
        "name": "Dallas College Brookhaven Campus",
        "@type": "PostalAddress",
        "addressLocality": "Farmers Branch",
        "addressRegion": "TX",
        "postalCode": "75244",
        "streetAddress": "3939 Valley View Lane"
      },
      {
        "name": "Dallas College Cedar Valley Campus",
        "@type": "PostalAddress",
        "addressLocality": "Lancaster",
        "addressRegion": "TX",
        "postalCode": "75134",
        "streetAddress": "3030 N. Dallas Ave."
      },
      {
        "name": "Dallas College Eastfield Campus",
        "@type": "PostalAddress",
        "addressLocality": "Mesquite",
        "addressRegion": "TX",
        "postalCode": "75150",
        "streetAddress": "3737 Motley Drive"
      },
      {
        "name": "Dallas College El Centro Campus",
        "@type": "PostalAddress",
        "addressLocality": "Dallas",
        "addressRegion": "TX",
        "postalCode": "75202",
        "streetAddress": "801 Main St."
      },
      {
        "name": "Dallas College Mountain View Campus",
        "@type": "PostalAddress",
        "addressLocality": "Dallas",
        "addressRegion": "TX",
        "postalCode": "75211",
        "streetAddress": "4849 W. Illinois Ave."
      },
      {
        "name": "Dallas College North Lake Campus",
        "@type": "PostalAddress",
        "addressLocality": "Irving",
        "addressRegion": "TX",
        "postalCode": "75038",
        "streetAddress": "5001 N. MacArthur Blvd."
      },
      {
        "name": "Dallas College Richland Campus",
        "@type": "PostalAddress",
        "addressLocality": "Dallas",
        "addressRegion": "TX",
        "postalCode": "75243",
        "streetAddress": "12800 Abrams Rd."
      }
    ],
    "foundingDate": "April 3, 1965",
    "telephone": "+1-214-378-1500",
    "alternateName": "DCCCD",
    "logo": "https://www.dallascollege.edu/PublishingImages/logos/dc-logo-master.png",
    "sameAs": [
      "https://www.facebook.com/dallascollegetx",
      "https://x.com/dallascollegetx",
      "https://www.instagram.com/dallascollegetx/",
      "https://www.youtube.com/dallascollegetx",
      "https://www.linkedin.com/company/dallascollege/"
    ]
  }
</script>


</head>

<body>