<header id="l-header-desktop" class="ms-dialogHidden l-header-desktop--microsite" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>
  <!-- Top Nav Bar -->
    <nav id="l-nav-utility" class="navbar navbar-expand-sm navbar-dark bg-cprimary-lt navbar--utility-nav" aria-label="Top navigation bar">
        <div class="container-fluid">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DCtopnavbar" aria-controls="DCtopnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="DCtopnavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Students
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a class="track-header" href="#">Future Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">Current Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">International Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">High School Students &amp; Parents</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Alumni</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Community &amp; Business
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item track-header" href="#">Community</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Business &amp; Industry</a></li>
                  <li><a class="dropdown-item track-header" href="#">Suppliers</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Donate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Employees
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item track-header" href="#">Current Employees</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Retirees</a></li>
                </ul>
              </li>
              <li class="nav-item navbar-nav--seperator" lang="es">
                <a class="nav-link" href="#">Español</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 dcflex-end">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Online Tools
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item track-header" href="https://econnect.dcccd.edu">
                      <span class="ico fas fa-network-wired" aria-hidden="true"></span>
                      eConnect
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://selfsrv.dcccd.edu/Student/courses">
                      <span class="ico fas fa-laptop" aria-hidden="true"></span>
                      Self Service
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://ecampus.dallascollege.edu/">
                      <span class="ico fas fa-chalkboard-teacher" aria-hidden="true"></span>
                      eCampus
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://dcccd.sharepoint.com/">
                      <span class="ico fab fa-microsoft" aria-hidden="true"></span>
                      SharePoint
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="http://outlook.dcccd.edu/">
                      <span class="ico fas fa-envelope" aria-hidden="true"></span>
                      Email
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://www.myworkday.com/wday/authgwy/dallascollege/login.htmld">
                      <span class="ico tools-workday" aria-hidden="true"></span>
                      Workday
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="/staff-directory/pages/default.aspx">
                      <span class="ico fas fa-address-book" aria-hidden="true"></span>
                      Employee Directory
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://dallascollege.navigate.eab.com/">
                      <span class="ico fas fa-compass" aria-hidden="true"></span>
                      Navigate
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item track-header" href="https://teams.microsoft.com">
                      <span class="ico fas fa-users" aria-hidden="true"></span>
                      Microsoft Teams
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="http://myapps.dcccd.edu">View more online tools...</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Locations
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu navbar-right">
                  <li class="BH">
                    <a class="dropdown-item track-header" href="/about/bhc/pages/default.aspx">
                      <strong>Brookhaven</strong> - Farmers Branch
                    </a>
                  </li>
                  <li class="CV">
                    <a class="dropdown-item track-header" href="/about/cvc/pages/default.aspx">
                      <strong>Cedar Valley</strong> - Lancaster
                    </a>
                  </li>
                  <li class="EF">
                    <a class="dropdown-item track-header" href="/about/efc/pages/default.aspx">
                      <strong>Eastfield</strong> - Mesquite
                    </a>
                  </li>
                  <li class="EC">
                    <a class="dropdown-item track-header" href="/about/ecc/pages/default.aspx">
                      <strong>El Centro</strong> - Downtown Dallas
                    </a>
                  </li>
                  <li class="MV">
                    <a class="dropdown-item track-header" href="/about/mvc/pages/default.aspx">
                      <strong>Mountain View</strong> - Oak Cliff
                    </a>
                  </li>
                  <li class="NL">
                    <a class="dropdown-item track-header" href="/about/nlc/pages/default.aspx">
                      <strong>North Lake</strong> - Irving
                    </a>
                  </li>
                  <li class="RL">
                    <a class="dropdown-item track-header" href="/about/rlc/pages/default.aspx">
                      <strong>Richland</strong> - North Dallas
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item track-header" href="/about/pages/locations.aspx">View all locations...</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- End Top Nav Bar -->


    <!-- Banner section -->
    <div class="pgs-banner pgs-banner--compact pgs-banner--microsite">
        <div class="pgs-banner__title">
            <div class="container-fluid">
                <div class="col-md-9 col-sm-8">
                    <div class="h1 pgs-banner__h1">
                        <a class="hidden-sm" href="/pages/default.aspx">
                            <img class="logo-bar-slot__img" src="https://www.dallascollege.edu//publishingimages/logos/dc-logo-master-white.svg" alt="Dallas College">
                        </a>
                        <a class="underline-inv text-cwhite site-title" href="default.aspx">PLA Portal Project</a></div>
                </div>
                <div class="col-md-3 col-sm-4 text-right">
                    <div class="nav-secondary">
                        <a class="button button-mn text-cwhite track-header" href="about.aspx"><span aria-hidden="true" class="ico fas fa-info-circle"></span>About</a>
                        <a class="button button-mn text-cwhite track-header" href="contact.aspx"><span aria-hidden="true" class="ico fas fa-phone"></span>Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pgs-banner__sub-nav bg-cprimary-lt">
        <div class="container-fluid">
            <nav class="pgs-navbar--banner">
                <div class="d-flex justify-content-center">
                    <!-- Desktop submenu -->
                    <ul class="level1 nav navbar-nav list-inline" role="menubar">
                        <li role="list-inline-item" class="static">
                            <a class="level1 selected static" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/training.aspx">PLA Training</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a>
                        </li>
                        <li role="list-inline-item" class="static">
                            <a class="level1 static" href="/grants/plaportal/Pages/resources.aspx">Resources</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--Mobile Header -->

<header id="l-header-mobile" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>

<style>
    .t4-navbar {
        display: flex;
        justify-content: space-between;
    }

</style>

        <div id="l-utility" class="bg-cprimary-dk navbar t4-navbar">
            <div class="col-6">
            <ul class="navbar-top-nav nav-left">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-end ms-0" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    I am a
                    <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Current Student</a></li>
                    <li><a href="#" class="dropdown-item">Future Student</a></li>
                    <li><a href="#" class="dropdown-item">Former Student</a></li>
                    <li><a href="#" class="dropdown-item">Employee</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="navbar-top-nav nav-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-end me-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Online Tools
                    <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Outlook</a></li>
                    <li><a href="#" class="dropdown-item">eCampus</a></li>
                    <li><a href="#" class="dropdown-item">eConnect</a></li>
                </ul>
            </li>
            </ul>
        </div>
    </div>






    <div id="l-utility" class="bg-cprimary-dk navbar">

        <ul class="navbar-top-nav">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-end me-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Explore Dallas College
                    <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/students/pages/default.aspx">For Students</a></li>
                    <li><a class="dropdown-item" href="/community/pages/default.aspx">For Community</a></li>
                    <li><a class="dropdown-item" href="/business-industry/pages/default.aspx">For Business or Workforce Partners</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/business-industry/pages/default.aspx">Locations</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <!-- logo and submenu -->
    <nav id="dc_mobileNavbar" class="navbar navbar-dark shadow-nav pgs-banner bg-cprimary" aria-label="Primary">
        <div class="container-fluid">
            <a class="navbar-brand mobile-logo" href="default.aspx">
                <img src="https://www.dallascollege.edu/publishingimages/logos/dc-logo-dmark-white.svg" alt="Dallas College">
                PLA Portal Project
            </a>

            <button class="navbar-toggler bg-cprimary-dk" type="button" data-bs-toggle="collapse" data-bs-target="#l-header-mobile__menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    
        <div class="collapse navbar-collapse bg-cprimary" id="l-header-mobile__menu">
            <ul id="mblNav" class="navbar-nav bg-cprimary text-center">
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/training.aspx">PLA Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/resources.aspx">Resources</a>
                </li>
            </ul>
    

            <ul class="navbar-nav navbar-secondary bg-cprimary-dk">
                <li class="nav-item">
                    <a class="nav-link level2" href="about.aspx">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level2" href="contact.aspx">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
</header>