<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="facebook-domain-verification" content="my3b6tigkq656bbfv3zx8w0wqx71q9">
  <meta property="og:site_name" content="Dallas College">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dallascollegetx">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    Dallas College: Education That Works in Dallas County
  </title>

  <link id="fontawesome_fonts__0" rel="stylesheet" type="text/css"
    href="{{ site.baseurl }}/assets/css/fontawesome/all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dcstyles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles-microsite.css">


  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="https://www.dallascollege.edu/icons/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.dallascollege.edu/icons/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.dallascollege.edu/icons/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.dallascollege.edu/icons/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.dallascollege.edu/icons/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.dallascollege.edu/icons/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dallascollege.edu/icons/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.dallascollege.edu/icons/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.dallascollege.edu/icons/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://www.dallascollege.edu/icons/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://www.dallascollege.edu/icons/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="shortcut icon" type="image/x-icon" href="https://www.dallascollege.edu/icons/favicons/favicon.ico">
  <meta property="og:title" content="Dallas College: Education That Works">
  <meta property="og:url" content="https://www.dallascollege.edu/pages/default.aspx">
  <meta property="og:image"
    content="https://www.dallascollege.edu/PublishingImages/banner-1600x512/2024-spring-1200x630.jpg">
  <meta property="og:description"
    content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!">

  <meta name="keywords" content="Dallas College, Dallas College Home, Home, Homepage">
  <meta name="description"
    content="The seven campuses of Dallas College include Brookhaven, Cedar Valley, Eastfield, El Centro, Mountain View, North Lake and Richland. Apply today!">

</head>

<body>