<style>
  .student-help li {
    font-size: .875rem;
    margin-right: 1.75rem;
  }

  footer#l-footer #l-footer__contact .social-icon li {
    margin-right: 1.875rem;
  }

  footer#l-footer #l-footer__contact .social-icon li:last-child {
    margin-right: auto;
  }

  footer#l-footer #l-footer__contact .social-icon-2 li {
    margin-right: 2rem;
  }

  footer#l-footer #l-footer__contact .social-icon-2 li:last-child {
    margin-right: auto;
  }

  footer#l-footer #l-footer__fine-print .small-print {
    margin-top: .375rem;
  }

  footer#l-footer #l-footer__fine-print .small-print li {
    margin-right: .5rem;
  }


  footer#l-footer #l-footer__fine-print .small-print li:last-child {
    margin-right: auto;
  }
</style>


<footer id="l-footer" class="bg-cprimary-dk">
  <h2 class="sr-only">Footer</h2>




  <!-- copy right + address + small links -->

  <div id="l-footer__fine-print" class="cblack">
    <div class="container">
      <div class="row">

        <div class="col-md-12 l-footer__fine-print__copyright text-center"> © <span id="masterpage_copyright_year" class="cpyyear">2025</span> <strong>Dallas College</strong>&#160; &#160;1601 Botham Jean Blvd., Dallas,&#160;TX 75215&#160;
          &#160;214-378-1500</div>

        <div class="col-md-12 l-footer__fine-print__links">
          <ul class="list-inline small-print text-center">
            <li class="list-inline-item"><a class="track-footer" href="/about/accessibility/pages/default.aspx">Report an Accessibility Issue</a></li>
            <li class="list-inline-item"><a class="track-footer" href="/about/legal/pages/default.aspx">Legal Notices</a></li>
            <li class="list-inline-item"><a class="track-footer" href="/about/financial/transparency/pages/default.aspx">Financial Transparency</a></li>
            <li class="list-inline-item"><a class="track-footer" href="/website/pages/privacy-security.aspx">Privacy &amp; Security Policy</a></li>
            <li class="list-inline-item"><a class="track-footer" href="https://www1.dcccd.edu/fraudhotline/index.cfm">Report Fraud</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- /copy right + address + small links -->

  <div id="l-footer__mobile" class="shadow-nav" data-spy="affix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4"> <a class="button bg-csecondary-dk button-sm button-block track-sticky-footer" href="/admissions/application/pages/default.aspx"><span class="ico fas fa-check-circle" aria-hidden="true"></span>Apply</a> </div>
        <div class="col-4"> <a class="button bg-csecondary-dk button-sm button-block track-sticky-footer" href="/maps/pages/default.aspx"><span class="ico fas fa-map-marker-alt" aria-hidden="true"></span>Maps</a> </div>
        <div class="col-4"> <a class="button bg-csecondary-dk button-sm button-block track-sticky-footer" href="/contact/pages/default.aspx"><span class="ico fas fa-phone-alt" aria-hidden="true"></span>Contact</a> </div>
      </div>
    </div>
  </div>
</footer>
</div>
