<header id="l-header-desktop" class="ms-dialogHidden l-header-desktop--microsite" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>
  <!-- Top Nav Bar -->
    <nav id="l-nav-utility" class="navbar navbar-expand-sm navbar-dark bg-cprimary-dk navbar--utility-nav" aria-label="Top navigation bar">
        <div class="container-fluid">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DCtopnavbar" aria-controls="DCtopnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="DCtopnavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Students
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a class="track-header" href="#">Future Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">Current Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">International Students</a></li>
                  <li><a class="dropdown-item track-header" href="#">High School Students &amp; Parents</a></li>
                  <li>
                    <hr class="dropdown-divider" >
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Alumni</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Community &amp; Business
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item track-header" href="#">Community</a></li>
                  <li>
                    <hr class="dropdown-divider" >
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Business &amp; Industry</a></li>
                  <li><a class="dropdown-item track-header" href="#">Suppliers</a></li>
                  <li>
                    <hr class="dropdown-divider" >
                  </li>
                  <li><a class="dropdown-item track-header" href="#">Donate</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right mb-2 mb-lg-0 dcflex-end">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Locations
                  <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu navbar-right">
                  <li class="BH">
                    <a class="dropdown-item track-header" href="/about/bhc/pages/default.aspx">
                      <strong>Brookhaven</strong> - Farmers Branch
                    </a>
                  </li>
                  <li class="CV">
                    <a class="dropdown-item track-header" href="/about/cvc/pages/default.aspx">
                      <strong>Cedar Valley</strong> - Lancaster
                    </a>
                  </li>
                  <li class="EF">
                    <a class="dropdown-item track-header" href="/about/efc/pages/default.aspx">
                      <strong>Eastfield</strong> - Mesquite
                    </a>
                  </li>
                  <li class="EC">
                    <a class="dropdown-item track-header" href="/about/ecc/pages/default.aspx">
                      <strong>El Centro</strong> - Downtown Dallas
                    </a>
                  </li>
                  <li class="MV">
                    <a class="dropdown-item track-header" href="/about/mvc/pages/default.aspx">
                      <strong>Mountain View</strong> - Oak Cliff
                    </a>
                  </li>
                  <li class="NL">
                    <a class="dropdown-item track-header" href="/about/nlc/pages/default.aspx">
                      <strong>North Lake</strong> - Irving
                    </a>
                  </li>
                  <li class="RL">
                    <a class="dropdown-item track-header" href="/about/rlc/pages/default.aspx">
                      <strong>Richland</strong> - North Dallas
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" >
                  </li>
                  <li><a class="dropdown-item track-header" href="/about/pages/locations.aspx">View all locations...</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- End Top Nav Bar -->


    <!-- Banner section -->
    <div class="pgs-banner pgs-banner--compact pgs-banner--microsite">
        <div class="pgs-banner__title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9 col-md-8">
                        <div class="h1 pgs-banner__h1 logo-bar-slot">
                            <a class="hidden-sm" href="/pages/default.aspx"><img src="{{ site.baseurl }}/assets/img/dc-logo-master-white.svg" alt="Dallas College"></a>
                            <span class="text-cwhite site-title">PLA Portal Project</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-4 text-end">
                      <nav class="nav-secondary" aria-label="Secondary Navigation">
                        <a class="button button-mn text-cwhite track-header" href="/about/pages/default.aspx">
                            <span class="ico fas fa-info-circle" aria-hidden="true"></span>
                            About
                        </a>
                        <a class="button button-mn text-cwhite track-header" href="/contact/pages/default.aspx">
                            <span class="ico fas fa-phone" aria-hidden="true"></span>
                            Contact
                        </a>
                        </nav>          
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pgs-banner__sub-nav bg-cprimary-lt">
        <div class="col-12">
            <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-md" aria-label="Student Quick Links">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse" aria-expanded="false" aria-label="Toggle navigation">
                        [Site] Quick Links<span class="ico-right ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                    </button>
    
                    <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
                      <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a></li>
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a></li>
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/training.aspx">PLA Training</a></li>
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a></li>
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a></li>
                            <li class="nav-item flex-fill"><a class="nav-link" href="/grants/plaportal/Pages/resources.aspx">Resources</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--Mobile Header -->

<header id="l-header-mobile" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0" data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>


<nav id="top-utility-nav" class="navbar navbar-utility bg-cprimary-dk" aria-label="Utility">
    <!-- Brand and toggle get grouped for better mobile display -->
  <ul class="nav navbar-nav navbar-right navbar-expand-sm bg-cprimary-dk">
    <li class="nav-item dropdown dropdown--tools">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Explore Dallas College
        <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li class="nav-item">
          <a class="dropdown-item track-header" href="/students/pages/default.aspx">For Students</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item track-header" href="/community/pages/default.aspx">For Community</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item track-header" href="/business-industry/pages/default.aspx">For Business or Workforce Partners</a>
        </li>
          <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <a class="dropdown-item track-header" href="/business-industry/pages/default.aspx">Locations</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>


    <!-- logo and submenu -->
    <nav id="dc_mobileNavbar" class="navbar navbar-dark shadow-nav pgs-banner bg-cprimary" aria-label="Primary">
        <div class="container-fluid">
            <a class="navbar-brand mobile-logo" href="default.aspx">
                <img src="{{ site.baseurl }}/assets/img/dc-logo-dmark-white.svg" alt="Dallas College">PLA Portal Project
            </a>

            <button class="navbar-toggler bg-cprimary-dk" type="button" data-bs-toggle="collapse" data-bs-target="#l-header-mobile__menu" aria-controls="l-header-mobile__menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Site Specific Menu Navigation -->
        <div class="collapse navbar-collapse bg-cprimary" id="l-header-mobile__menu">
            <ul id="mblNav" class="navbar-nav bg-cprimary text-center">
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/default.aspx">PLA Portal Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/guidance.aspx">Guidance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/training.aspx">PLA Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/cte.aspx">Career Technical Education (CTE)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/veterans.aspx">Military Transcript Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/grants/plaportal/Pages/resources.aspx">Resources</a>
                </li>
            </ul>   

            <ul class="navbar-nav navbar-secondary bg-cprimary-dk">
                <li class="nav-item">
                    <a class="nav-link level2" href="about.aspx">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level2" href="contact.aspx">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
</header>