<header id="l-header-desktop" class="ms-dialogHidden l-header-desktop--microsite" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0"
            data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>
    <!-- Top Nav Bar -->
    <nav id="l-nav-utility" class="navbar navbar-expand-sm navbar-dark bg-cprimary-lt navbar--utility-nav"
        aria-label="Top navigation bar">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#DCtopnavbar" aria-controls="DCtopnavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="DCtopnavbar">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown"
                            role="button" aria-expanded="false">
                            Explore
                            <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item track-header" href="/admissions">Admissions</a></li>
                            <li><a class="dropdown-item track-header" href="/paying-for-college">Paying for College</a></li>
                            <li><a class="dropdown-item track-header" href="/cd">Classes &amp; Degrees</a></li>
                            <li><a class="dropdown-item track-header" href="/resources">Student Resources</a></li>
                            <li><a class="dropdown-item track-header" href="/slife">Student Life</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item track-header" href="about.aspx">About</a></li>
                            <li><a class="dropdown-item track-header" href="contact.aspx">Contact</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right mb-2 mb-lg-0 dcflex-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle track-header" href="#" data-bs-toggle="dropdown"
                            role="button" aria-expanded="false">
                            Locations
                            <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu navbar-right">
                            <li class="BH">
                                <a class="dropdown-item track-header" href="/about/bhc">
                                    <strong>Brookhaven</strong> - Farmers Branch
                                </a>
                            </li>
                            <li class="CV">
                                <a class="dropdown-item track-header" href="/about/cvc">
                                    <strong>Cedar Valley</strong> - Lancaster
                                </a>
                            </li>
                            <li class="EF">
                                <a class="dropdown-item track-header" href="/about/efc">
                                    <strong>Eastfield</strong> - Mesquite
                                </a>
                            </li>
                            <li class="EC">
                                <a class="dropdown-item track-header" href="/about/ecc">
                                    <strong>El Centro</strong> - Downtown Dallas
                                </a>
                            </li>
                            <li class="MV">
                                <a class="dropdown-item track-header" href="/about/mvc">
                                    <strong>Mountain View</strong> - Oak Cliff
                                </a>
                            </li>
                            <li class="NL">
                                <a class="dropdown-item track-header" href="/about/nlc">
                                    <strong>North Lake</strong> - Irving
                                </a>
                            </li>
                            <li class="RL">
                                <a class="dropdown-item track-header" href="/about/rlc">
                                    <strong>Richland</strong> - North Dallas
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item track-header" href="/about/pages/locations.aspx">View all
                                    locations...</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Top Nav Bar -->


    <!-- Banner section -->
    <div class="pgs-banner pgs-banner--compact pgs-banner--microsite">
        <div class="pgs-banner__title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="pgs-banner__h1 logo-bar-slot pb-0">
                            <a href="">
                                <img src="{{ site.baseurl }}/assets/img/dc-logo-master-white.svg"
                                    alt="Dallas College" class="d-md-block d-lg-inline mb-3" >
                            </a>
                            <h1 class="text-cwhite site-title">Dallas College: Education That Works</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Mobile Header -->

<header id="l-header-mobile" aria-hidden="false">
    <div class="skiptocontent">
        <a style="color:#ffffff!important" href="#main__body">Skip to Main Content</a>
        <a style="color:#ffffff!important" href="#" data-ally-content-id="0" data-ally-content-ref="0"
            data-ally-invoke="alternativeformats">Open Alternative Formats of This Page</a>
    </div>


    <!-- logo and submenu -->
    <nav id="dc_mobileNavbar" class="navbar navbar-dark shadow-nav pgs-banner bg-cprimary" aria-label="Primary">
        <div class="container-fluid">
            <a class="navbar-brand mobile-logo" href="default.aspx">
                <img src="{{ site.baseurl }}/assets/img/dc-logo-master-white.svg" alt="Dallas College">
            </a>

            <button class="navbar-toggler bg-cprimary-dk" type="button" data-bs-toggle="collapse"
                data-bs-target="#l-header-mobile__menu" aria-controls="l-header-mobile__menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Site Specific Menu Navigation -->
        <div class="collapse navbar-collapse bg-cprimary" id="l-header-mobile__menu">
            <ul id="mblNav" class="navbar-nav bg-cprimary text-center">
                <li class="nav-item">
                    <a class="nav-link level1" href="/admissions">Admissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/paying-for-college">Paying for College</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/cd">Classes &amp; Degrees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/resources">Student Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level1" href="/slife">Student Life</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-secondary bg-cprimary-dk">
                <li class="nav-item">
                    <a class="nav-link level2" href="about.aspx">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level2" href="contact.aspx">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link level2" href="map.aspx">Locations</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
