<h2 id="action-links">Action Links</h2>

<h3>Action Link: Standard</h3>
<a class="pgs-action-link" href="#"><span class="ico fas fa-chevron-right"></span>Meet Tamera and other inspiring Dallas College students</a>

<div class="spacer-3"></div>

<h3>Action Link: Quiet</h3>
<a class="pgs-action-link pgs-action-link--quiet" href="#"><span class="ico fas fa-chevron-right"></span>Meet Tamera and other inspiring Dallas College students</a>

<div class="spacer-3"></div>

<h3>Action Link: List</h3>
<ul class="pgs-action-link-list fa-ul">
  <li><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Search All Programs of Study</a></li>
  <li><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Browse Class Schedules</a></li>
  <li><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Open Course Catalog</a></li>
</ul>

<div class="spacer-3"></div>

<h3>Action Link: List Inline</h3>
<ul class="list-inline pgs-action-link-list fa-ul">
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Search All Programs of Study</a></li>
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Browse Class Schedules</a></li>
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Open Course Catalog</a></li>
</ul>

<div class="spacer-3"></div>

<h3>Action Link: List Inline Centered</h3>
<ul class="list-inline pgs-action-link-list pgs-action-link-list--center fa-ul">
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Search All Programs of Study</a></li>
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Browse Class Schedules</a></li>
<li class="list-inline-item"><a class="pgs-action-link" href="#"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Open Course Catalog</a></li>
</ul>