<h2 id="award-card">Award Card</h2>
<h3>Award Card: Standard</h3>

        <div class="row">
            <div class="col-sm-6">
                <div class="card award-box shadow-1">
                    <div class="text-cprimary-dk card-header award-degree bg-cprimary-lt">
                        <div class="row">
                            <div class="col-xs-8 card-header-left">Card Header</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="height-sm-50">
                            <h3 class="h4 card-title">Award Title</h3>
                        </div>
                        <ul class="list-icons">
                            <li class="clock-o">
                                <strong>4 <a href="#semesters">semesters</a></strong> to complete<br></li>
                            <li class="money">
                                <strong>$3,540</strong> <a href="#tuition">tuition</a></li>
                        </ul>
                        <a class="button bg-cprimary  button-mn button-block" href="https://www1.dcccd.edu/catalog/programs/degree.cfm?degree=aas.acct&amp;loc=DCCCD">View Degree Plan<span class="sr-only"> for Accounting
                                AAS</span>
                            <span class="ico fas fa-arrow-circle-right ico-right" aria-hidden="true"></span></a>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-footer-title">Campuses:</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">Brookhaven</li>
                            <li class="list-inline-item">Cedar Valley</li>
                            <li class="list-inline-item">Eastfield</li>
                            <li class="list-inline-item">El Centro</li>
                            <li class="list-inline-item">Mountain View</li>
                            <li class="list-inline-item">North Lake</li>
                            <li class="list-inline-item">Richland</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <h3>Award Card: Certificates/CE</h3>

        <div class="row">
            <div class="col-sm-6">
            <div class="card award-box shadow-1">
                          <div class="csecondary-dk-font card-header award-certificate bg-csecondary-lt">
                             <div class="row">
                                <div class="col-xs-8 card-header-left">Certificate, Level 1 </div>
                             </div>
                          </div>
                          <div class="card-block">
                             <div class="height-sm-100 height-md-75 height-lg-50">
                                <h3 class="h4 card-title">Accounting Clerk Certificate</h3>
                             </div>
                             <ul class="list-icons">
                                <li class="briefcase">
                                   <a href="https://www1.dcccd.edu/catalog/programs/degree_gei.cfm?a=407&amp;loc=DCCCD">Gainful Employment Information <span class="sr-only">for Accounting Clerk Certificate</span></a></li>
                                <li class="clock-o">
                                   <strong>1 <a href="#semesters">semester</a></strong> to complete<br></li>
                                <li class="money">
                                   <strong>$1,062</strong> <a href="#tuition">tuition</a></li>
                             </ul>
                             <a class="button bg-cprimary  button-mn button-block" href="https://www1.dcccd.edu/catalog/programs/degree.cfm?degree=cert.acct.clerk&amp;loc=DCCCD">View Degree Plan<span class="sr-only"> for Accounting Clerk Certificate</span>
                                <span class="ico fas fa-arrow-circle-right ico-right" aria-hidden="true"></span></a> </div>
                          <div class="card-footer height-sm-100">
                             <h4 class="card-footer-title">Campuses:</h4>
                             <ul class="list-inline">
                                <li class="list-inline-item">Brookhaven</li>
                                <li class="list-inline-item">Cedar Valley</li>
                                <li class="list-inline-item">Eastfield</li>
                                <li class="list-inline-item">El Centro</li>
                                <li class="list-inline-item">Mountain View</li>
                                <li class="list-inline-item">North Lake</li>
                                <li class="list-inline-item">Richland</li>
                             </ul>
                          </div>
                       </div>
            </div>
            </div>

       
            <h3>Award Card: GPS</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card award-box award-card shadow-1">
                        <div class="card-header award-certificate bg-cgrey-05">
                            <div class="row">
                               <div class="col-xs-8 card-header-left">Guided Pathway</div>
                            </div>
                         </div>
                        <div class="card-block">
                            <div class="card-block-top height-sm-200">
                                <h2 class="h3">Associate Degree Nursing A.A.S.</h2>
                                <p>School of Health Science</p>
                            </div>
                            <a class="button-mn bg-cprimary button button-block" href="/cd/gps/pages/gpsmap.aspx?gpsId=1641">
                                <span class="sr-only">Associate Degree Nursing A.A.S.</span>Guided Pathway Map<span class="ico fas ico-right fa-arrow-circle-right" aria-hidden="true"></span></a>
                            </div>
                            <div class="card-footer height-sm-100">
                                <h4 class="card-footer-title">Campuses:</h4>
                                <ul class="list-inline">
                                   <li class="list-inline-item">Brookhaven</li>
                                   <li class="list-inline-item">Cedar Valley</li>
                                   <li class="list-inline-item">Eastfield</li>
                                   <li class="list-inline-item">El Centro</li>
                                   <li class="list-inline-item">Mountain View</li>
                                   <li class="list-inline-item">North Lake</li>
                                   <li class="list-inline-item">Richland</li>
                                </ul>
                             </div>
                            </div>
                        </div>

            </div>