<h2 id="buttons">Buttons</h2>
<p>Stand alone buttons can be a format in the WYSIWG editor. Groups will likely need to be content types.</p>
<h3>Buttons: Standard</h3>
<a href="#" class="button bg-cprimary">Button Text</a>

<a href="#" class="button bg-csecondary">Button Text</a>

<a href="#" class="button bg-cgrey">Button Text</a>

<h3>Buttons: With Icons</h3>

<a href="#" class="button bg-cprimary"><span aria-hidden="true" class="ico fab fa-twitter"></span>Button with Icon</a>

<a href="#" class="button bg-cprimary">Button with Icon Right<span aria-hidden="true" class="ico-right fas fa-chevron-right"></span></a>

<h3>Buttons: Sizes</h3>

<a href="#" class="button button-xl bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span>Extra Large Button with Icon</a>
<a href="#" class="button button-lg bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span>Large Button With Icon</a>
<a href="#" class="button button-sm bg-cprimary">Small Button With Icon<span aria-hidden="true" class="ico-right fas fa-chevron-right"></span></a>
<a href="#" class="button button-mn bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span>Mini Button With Icon</a>

<h3>Buttons: Block Button</h3>

<a href="#" class="button bg-cprimary button-block">Block Button</a>

<h3>Buttons: Ghost Button</h3>

<a href="#" class="button border-cprimary button-ghost">Ghost Button<span aria-hidden="true" class="ico-right fas fa-chevron-right"></span></a>

<h3>Buttons: Button Group</h3>

<ul class="button-group list-inline">
    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 1</a></li><li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 2</a></li><li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 3</a></li><li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 4</a></li><li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 5</a></li>
</ul>

<h3>Buttons: Justified Button Group</h3>
<ul class="button-group button-group--justified list-inline">
    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 1</a></li>
    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 2</a></li>
    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 3</a></li>
    <li class="list-inline-item"><a class="button bg-csecondary" href="#">Item 4</a></li>

  </ul>