<h2 id="colors">Colors</h2>
<p>Additional color variables can be found in <a href="https://www.dallascollege.edu/about/style/documents/pegasus/elements/colors.html">the PEGASUS documentation</a>.</p>

<div class="row extra-space">
    <div class="col-sm-4 text-center">
        <h3>cprimary</h3>
        <p>Dallas College Blue</p>
        <div class="bg-cprimary color-swatch rounded-circle width-100 d-flex justify-content-center align-items-center mx-auto">
            <p class="cb-title-lg">Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-cprimary</code><p></p>
            <code class="language-css">background:#003385;
color:#fffff;</code>
    </div>
    <div class="col-sm-4 text-center">
        <h3>csecondary</h3>
        <p>Dallas College Red</p>
        <div class="bg-csecondary color-swatch rounded-circle width-100 d-flex justify-content-center align-items-center mx-auto">
            <p class="cb-title-lg">Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-csecondary</code><p></p>
        <code class="language-css">background:#E52626;
color:#fffff;</code>
    </div>
    <div class="col-sm-4 text-center">
        <h3>cgrey</h3>
        <p>Dallas College Silver Adapted</p>
        <div class="bg-cgrey color-swatch rounded-circle width-100 d-flex justify-content-center align-items-center mx-auto">
            <p class="cb-title-lg">Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-cgrey</code><p></p>
      <code class="language-css">background:#E5E2D6;
color:#000000;</code>
    </div>
</div>

<h3>Color Variations</h3>

<div class="row extra-space">
    <div class="col-md-4 text-center">
        <h4 class="h3">cprimary-lt</h4>
        <div class="color-swatch img-circle bg-cprimary-lt">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cprimary-lt</code></p>
        <code class="language-css">background:#E9F2FF;
color:#000000;</code>
    </div>

    <div class="col-md-4 text-center">
        <h4 class="h3">cprimary-dk</h4>
        <div class="color-swatch img-circle bg-cprimary-dk">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cprimary-dk</code></p>
        <code class="language-css">background:#001E49;
color:#FFFFFF;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cprimary-gr</h4>
        <div class="color-swatch img-circle bg-cprimary-gr">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cprimary-gr</code></p>
        <code class="language-css">background: <span class="token function">linear-gradient( $cprimary, <span class="token function">darken($cprimary, 7%));
color:#FFFFFF;</code>
    </div>
</div>

<div class="row extra-space">
    <div class="col-md-4 text-center">
        <h4 class="h3">csecondary-lt</h4>
        <div class="color-swatch img-circle bg-csecondary-lt">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p><code class="lead">.bg-csecondary-lt</code></p>
        <code class="language-css">background:#FFE9E9;
color:#000000;</code>
    </div>

    <div class="col-md-4 text-center">
        <h4 class="h3">csecondary-dk</h4>
        <div class="color-swatch img-circle bg-csecondary-dk">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p><code class="lead">.bg-csecondary-dk</code></p>
        <code class="language-css">background:#6D0000;
color:#FFFFFF;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">csecondary-gr</h4>
        <div class="color-swatch img-circle bg-csecondary-gr">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-csecondary-gr</code></p>
        <code class="text-left language-css">background:linear-gradient ($csecondary, darken($csecondary, 7%));
            color:#FFFFFF;</code>
    </div>
</div>

<h3>Grey Spectrum</h3>

<div class="row extra-space">
    <div class="col-md-4 text-center">
        <h4 class="h3">cwhite</h4>
        <p>0% Dark</p>
        <div class="color-swatch img-circle bg-cwhite shadow-1">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cwhite</code></p>
        <code class=" text-start language-css">background:#FFFFFF;
color:#000000;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey-05</h4>
        <p>5% Dark</p>
        <div class="color-swatch img-circle bg-cgrey-05">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cgrey-05</code></p>
        <code class=" text-start language-css">background:#F7F3E8;
color:#000000;</code>
    </div>

    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey</h4>
        <p>10% Dark</p>
        <div class="color-swatch img-circle bg-cgrey">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cgrey</code></p>
        <code class=" text-start language-css">background:#E5E2D6;
color:#FFFFFF;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey-20</h4>
        <p>20% (17%) Dark</p>
        <div class="color-swatch img-circle bg-cgrey-20">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cgrey-20</code></p>
            <code class=" text-start language-css">background:#D6D2C4;
color:#000000;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey-40</h4>
        <p>40% Dark</p>
        <div class="color-swatch img-circle bg-cgrey-40">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p><code class="lead">.bg-cgrey-40</code></p>
        <code class=" text-start language-css">background:#99968D;
color:#000000;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey-60</h4>
        <p>60% Dark</p>
        <div class="color-swatch img-circle bg-cgrey-60">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p><code class="lead">.bg-cgrey-60</code></p>
        <code class=" text-start language-css">background:#66645E;
color:#FFFFFF;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cgrey-80</h4>
        <p>80% Dark</p>
        <div class="color-swatch img-circle bg-cgrey-80">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cgrey-80</code></p>
        <code class=" text-start language-css">background: #333333;
color:#FFFFFF;</code>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="h3">cblack</h4>
        <p>100% Dark</p>
        <div class="color-swatch img-circle bg-cblack">
            <p>Aa</p>
        </div>
        <div class="spacer-2"></div>
        <h5 class="h4">Apply as Background Color</h5>
        <p>
            <code class="lead">.bg-cblack</code></p>
        <code class=" text-start language-css">background: #000000;
color:#FFFFFF;</code>
    </div>
</div>
<h3>Contextual Colors</h3>
<div class="row">
<div class="col-3">
<h4>Success<br>.bg-success</h4>
<div class="color-swatch bg-success p-2">
    <p>There are seven campuses of Dallas College.</p>
</div>
</div>

<div class="col-3">
    <h4>Info<br>.bg-info</h4>
    <div class="color-swatch bg-info p-2">
        <p>There are seven campuses of Dallas College.</p>
    </div>
</div>

<div class="col-3">
    <h4>Warning<br>.bg-warning</h4>
    <div class="color-swatch bg-warning p-2">
        <p>There are seven campuses of Dallas College.</p>
    </div>
</div>

<div class="col-3">
    <h4>Danger<br>.bg-danger</h4>
    <div class="color-swatch bg-danger p-2">
        <p>There are seven campuses of Dallas College.</p>
    </div>
</div>

</div>