<h2 id="feature-cards">Feature Cards</h2>

<h3>Feature Card: Solid With Link</h3>
<div class="row">
    <div class="col-sm-4">    
        <div class="feature-card bg-cprimary">
            <a href="#">
                <div class="cb-mainico">
                    <span aria-hidden="true" class="ico fas fa-briefcase"></span>
                </div>
                <h3 class="cb-title">bg-cprimary</h3>
            </a>
            <p>Go from “higher ed” to “hired” with hands-on training that builds job-ready skills. You’ll learn from industry professionals in a small, supportive environment.</p>
        </div>
    </div>

    <div class="col-sm-4">    
        <div class="feature-card bg-csecondary">
            <a href="#">
                <div class="cb-mainico">
                    <span aria-hidden="true" class="ico fas fa-briefcase"></span>
                </div>
                <h3 class="cb-title">bg-csecondary</h3>
            </a>
            <p>Go from “higher ed” to “hired” with hands-on training that builds job-ready skills. You’ll learn from industry professionals in a small, supportive environment.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <a href="#">
                <div class="cb-mainico">
                    <span aria-hidden="true" class="ico fas fa-briefcase"></span>
                </div>
                <h3 class="cb-title">bg-cgrey-05</h3>
            </a>
            <p>Go from “higher ed” to “hired” with hands-on training that builds job-ready skills. You’ll learn from industry professionals in a small, supportive environment.</p>
        </div>
    </div>
</div>


<div class="row">
    <h3>Feature Card: Icon in Circle</h3>
    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-csecondary rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-cprimary rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-cgrey-80 rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cprimary">
            <div class="cb-mainico bg-cwhite rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="feature-card bg-csecondary">
            <div class="cb-mainico bg-cwhite rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey">
            <div class="cb-mainico bg-cwhite rounded-circle shadow-sm d-flex justify-content-center align-items-center width-125 height-125">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>
            </div>
            <h3 class="cb-title">Title</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

</div>


<div class="row">
 
    <h3>Feature Card: Image in Circle</h3>
    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <img class="cb-mainimg rounded-circle" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="feature-card bg-csecondary-lt">
            <img class="cb-mainimg rounded-circle" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>
</div>

<div class="row">
    <h3>Feature Card: Image in Square</h3>
    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <img class="cb-mainimg rounded" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>
  
    <div class="col-sm-4">
        <div class="feature-card bg-csecondary-lt">
            <img class="cb-mainimg rounded" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>     
</div>

<div class="row">
    <h3>Feature Card: Large Image in Square</h3>
    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <img class="cb-mainimg-lg rounded-circle" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-csecondary-lt">
            <img class="cb-mainimg-lg rounded-circle" src="https://via.placeholder.com/150x150">
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>
</div>

<div class="row">
    <h3>Feature Card: Icon in Full Block</h3>
    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-cprimary ico-block">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>​
            </div>
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-csecondary ico-block">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>​
            </div>
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-card bg-cgrey-05">
            <div class="cb-mainico bg-cgrey-80 ico-block">
                <span aria-hidden="true" class="ico fab fa-twitter"></span>​
            </div>
            <h3 class="cb-title">Training Close to Home</h3>
            <p>Spend less time ... completely online.</p>
        </div>
    </div>

</div>