<h2 id="full-width-row">Full Width Row</h2>

<h3>Full Width Row: bg-cprimary-lt</h3>
<div class="full-width-row bg-cprimary-lt">
    <div class="container">
        <div class="spacer-2"></div>
        <h2>Add a Nested Content Types or HTML</h2>
        <p>This module should allow users to add a full width background stripe on landing pages and add nested content types within it.</p>
        <div class="spacer-2"></div>
    </div>
</div>

<h3>Full Width Row: bg-csecondary-lt</h3>
<div class="full-width-row bg-csecondary-lt">
    <div class="container">
    <div class="spacer-2"></div>
        <h2>Add a Nested Content Types or HTML</h2>
        <p>This module should allow users to add a full width background stripe on landing pages and add nested content types within it.</p>
        <div class="spacer-2"></div>
    </div>
</div>

<h3>Full Width Row: bg-cgrey</h3>
<div class="full-width-row bg-cgrey">
    <div class="container">
    <div class="spacer-2"></div>
        <h2>Add a Nested Content Types or HTML</h2>
        <p>This module should allow users to add a full width background stripe on landing pages and add nested content types within it.</p>
        <div class="spacer-2"></div>
    </div>
</div>
