<h2 id="site-notices">Site Notices</h2>

<h3>Sites Notices: Success</h3>
<div class="site-notices bg-success">
    <div class="container">
        <div class="row min-height-100">
            <div class="col-2 d-flex justify-content-center align-items-center p-2">
                <span aria-hidden="true" class="ico fas fa-check-circle icon-3x"></span>
            </div>
            <div class="col-9 p-3">
                <p><strong>N Building at Dallas College Eastfield Campus</strong> is now open! The doors open at 8 a.m.</p>
            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                    <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>

<div class="spacer-2"></div>

<h3>Sites Notices: Info</h3>
<div class="site-notices bg-info">
    <div class="container">
        <div class="row min-height-100">
            <div class="col-3 d-flex justify-content-center align-items-center p-2">
                    <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
            </div>
            
            <div class="col-9 p-3">
                <p><strong>N Building at Dallas College Eastfield Campus</strong> is where you can find the Dallas College Police Station.</p>
            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>

<div class="spacer-2"></div>

<h3>Sites Notices: Warning</h3>
<div class="site-notices bg-warning">
    <div class="container">
        <div class="row min-height-100">
            <div class="col-2 d-flex justify-content-center align-items-center p-2">
                    <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
            </div>
            <div class="col-9 p-3">
                <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>

<div class="spacer-2"></div>

<h3>Sites Notices: Danger</h3>
<div class="site-notices bg-danger">
    <div class="container">
        <div class="row min-height-100">
            <div class="col-3 d-flex justify-content-center align-items-center p-2">
                <span aria-hidden="true" class="ico fas fa-exclamation-circle icon-3x"></span>
            </div>
            <div class="col-9 p-3">
                <p><strong>N Building at Dallas College Eastfield Campus</strong> is in lock-down. Please find a secure room. Lock the doors and do not attempt to leave or enter the building.</p>
            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>