<h2 id="testimonial">Testimonial</h2>

<style>
    blockquote {
        border:0
    }
    .t4-testimonial-photo img {
        max-width:125px
    }
    .t4-testimonial-name {
        font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        line-height: 1.7rem;
    }
    .t4-testimonial-title {
        font-size: .875em
      }
</style>

<div class="row">

    <div class="col-md-8 order-md-2">
      <div class="t4-testimonial-quote">
        <blockquote>
          <span class="visually-hidden">“</span>
          One of the most important decisions I pride myself with is earning an associate degree and certificate in Management. This was the foundation that provided me the opportunity to be competitive and have a successful career. Through education, I am living my dream.” <a href="/students/experiences/pages/story.aspx?storyid=212">Read Blanca's story</a>.
        </blockquote>
      </div>
    </div>
    <div class="col-md-3 order-md-1">
        <div class="t4-testimonial-photo text-center">
          <img class="rounded-circle" src="https://www.dallascollege.edu/students/PublishingImages/experiences/medium/BlancaPina160x160.jpg" alt="Photo of Blanca Piña">
          <div class="t4-testimonial-name">Blanca Piña</div>
          <div class="t4-testimonial-title">Director of Human Resources, Tuesday Morning, Inc.</div>
        </div>
      </div>
  </div>
  


  

<div class="row testimonial testimonial-small">
    <div class="">

        <div class="col-lg-8 offset-lg-1 order-1 order-lg-2">
        <div class="testimonial-quote">
            <div class="row">
            <div class="d-none block-lg col-lg-2">
            <img src="https://www.dallascollege.edu/publishingimages/icons/dc-quotes-open-cgrey-05.svg" clas="image-fluid">
            </div>
            <div class="col-lg-10">
          <blockquote>
            <span class="visually-hidden">“</span>
            One of the most important decisions I pride myself with is earning an associate degree and certificate in Management. This was the foundation that provided me the opportunity to be competitive and have a successful career. Through education, I am living my dream.” <a href="/students/experiences/pages/story.aspx?storyid=212">Read Blanca's story</a>.
          </blockquote>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="testimonial-photo text-center">
          <img class="rounded-circle" src="https://www.dallascollege.edu/students/PublishingImages/experiences/medium/BlancaPina160x160.jpg" alt="Photo of Blanca Piña">
          <div class="testimonial-name">Blanca Piña</div>
          <div class="testimonial-title">Director of Human Resources, Tuesday Morning, Inc.</div>
        </div>
      </div>

    </div>
  </div>
  