<h2 id="tiles">Tiles</h2>

<h3>Tiles: Default</h3>

<div class="row">
    <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="pgs-tile underline-inv shadow-1 height-sm-150 height-xxs-125">
            <span class="pgs-tile__title">Business, Hospitality and Global Trade</span>
        </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="pgs-tile underline-inv shadow-1 height-sm-150 height-xxs-125">
            <span class="pgs-tile__title">Creative Arts, Entertainment and Design</span>
        </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="pgs-tile underline-inv shadow-1 height-sm-150 height-xxs-125">
            <span class="pgs-tile__title">Education</span>
        </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="pgs-tile underline-inv height-sm-150 height-xxs-125">
            <span class="pgs-tile__title">Engineering, Technology, Mathematics and Sciences</span>
        </a>
    </div>
</div>

<h3>Tiles: Full Color and Overlay</h3>

<div class="row">
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/business/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--business shadow-1 height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Business, Hospitality and Global Trade</span> </a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/arts/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--arts shadow-1 height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Creative Arts, Entertainment and Design</span> </a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/education/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--education shadow-1 height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Education</span></a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/stem/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--stem height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Engineering, Technology, Mathematics and Sciences</span> </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a id="choose-health-sciences" href="/cd/schools/health-sciences/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--health shadow-1 height-sm-150 height-xxs-125"><span class="pgs-tile__title">Health Sciences</span> </a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/law-public-service/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--law shadow-1 height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Law and Public Service</span> </a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/schools/manufacturing-industrial-tech/pages/default.aspx" class="pgs-tile underline-inv pgs-tile--manufacturing height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Manufacturing and Industrial Technology</span> </a> 
    </div>
    <div class="col-lg-3 col-md-4 col-6"><a href="/cd/pages/ccl-free-training.aspx" class="pgs-tile underline-inv height-sm-150 height-xxs-125"> <span class="pgs-tile__title">Career-Connected Learning and Free Training </span> </a> 
    </div>
  </div>

  <div class="tile height-sm-150 height-xxs-125">
    <img src="/assets/img/students1.jpg" class="img-fluid">
    <div class="overlay">
        <h2 class="h3">Testing</h2>
    </div>
  </div>

  <div class="tile height-sm-150 height-xxs-125">
    <img src="/assets/img/students1.jpg" class="img-fluid">
    <div class="overlay">
        <h2 class="h3">Testing</h2>
    </div>
  </div>

  <style>
    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    .tile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 51, 133, 0.5); /* Adjust the color and opacity as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        text-align: center;
    }
    
  </style>