<!--Mobile Header -->
<header id="l-header-mobile" class="mobile_master" aria-hidden="false">

<!--
  <nav class="navbar navbar-expand-sm navbar-dark bg-cprimary-lt navbar--utility-nav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
-->
  <nav id="l-nav-utility" class="navbar navbar-expand-sm navbar-dark bg-cprimary-lt" aria-label="Eighth navbar example">
    <div class="container">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown dropdown--people bg-cprimary-lt">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">I am a... <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item track-header" href="/future-students/pages/default.aspx">Future Student</a></li>
            <li><a class="dropdown-item track-header" href="/students/pages/default.aspx">Current Student</a></li>
            <li><a class="dropdown-item track-header" href="/alumni/pages/default.aspx">Former Student (Alumni)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item track-header" href="/employees/pages/default.aspx">Employee</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item track-header" href="/community/pages/default.aspx">Community Member</a></li>
            <li><a class="dropdown-item track-header" href="/business-industry/pages/default.aspx">Business or Industry Partner</a></li>
            <li><a class="dropdown-item track-header" href="/business-industry/pages/do-business-with-us.aspx">Supplier or Vendor</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown dropdown--tools bg-cprimary-lt">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Online Tools <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
          <ul class="dropdown-menu row">
            <li class="col-4"><a class="dropdown-item track-header" href="https://econnect.dcccd.edu"><span class="ico fas fa-network-wired" aria-hidden="true"></span>eConnect</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://selfsrv.dcccd.edu/student"><span class="ico fas fa-laptop" aria-hidden="true"></span>Self Service</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://ecampus.dallascollege.edu/"><span class="ico fas fa-chalkboard-teacher" aria-hidden="true"></span>eCampus</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://dcccd.sharepoint.com/"><span class="ico fab fa-microsoft" aria-hidden="true"></span>SharePoint</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="http://outlook.dcccd.edu/"><span class="ico fas fa-envelope" aria-hidden="true"></span>Email</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://www.myworkday.com/dallascollege/login-saml2.htmld"><span class="ico tools-workday" aria-hidden="true"></span>Workday</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="/staff-directory/pages/default.aspx"><span class="ico fas fa-address-book" aria-hidden="true"></span><span class="hidden-ip5">Employee </span>Directory</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://dallascollege.navigate.eab.com/"><span class="ico fas fa-compass" aria-hidden="true"></span>Navigate</a></li>
            <li class="col-4"><a class="dropdown-item track-header" href="https://teams.microsoft.com"><span class="ico fas fa-users" aria-hidden="true"></span>Microsoft Teams</a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="col-12"><a class="dropdown-item track-header" href="http://myapps.dcccd.edu">View more online tools...</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <nav id="dc_mobileNavbar" class="navbar navbar-dark bg-secondary shadow" data-bs-spy="affix" data-bs-offset-top="45" aria-label="Primary Navigation">
    <div class="container-fluid d-block">
      <div class="navbar-header bg-cprimary-gr">
        <a class="mobile-logo" href="/"><img src="{{ site.baseurl }}/assets/img/logos/dc-logo-master-white.svg" alt="Dallas College"></a>
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#l-header-mobile__menu" aria-controls="l-header-mobile__menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse bg-cprimary" id="l-header-mobile__menu">
        <form class="d-flex">
          <div class="input-group search-component l-header-mobile__menu__search">
            <label for="srchBox" class="visually-hidden">Search this website</label>
            <input type="text" class="form-control bg-white text-cprimary" placeholder="Search this website" id="srchBox">
            <button class="btn btn-outline-secondary bg-white" type="button" id="mobileSrchBtn"><span class="ico fas fa-search"  aria-label="Search"></span></button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link track-header" href="/admissions/pages/default.aspx">Admissions</a></li>
          <li class="nav-item"><a class="nav-link track-header" href="/paying-for-college/pages/default.aspx">Paying for College</a></li>
          <li class="nav-item"><a class="nav-link track-header" href="/cd/pages/default.aspx">Classes & Degrees</a></li>
          <li class="nav-item"><a class="nav-link track-header" href="/resources/pages/support.aspx">Student Resources</a></li>
          <li class="nav-item"><a class="nav-link track-header" href="/slife/pages/default.aspx">Student Life</a></li>
        </ul>
        <ul class="navbar-nav bg-cprimary">
          <li class="nav-item"><a class="nav-link track-header" href="/about/pages/default.aspx">About</a></li>
          <li class="nav-item"><a class="nav-link track-header" href="/contact/pages/default.aspx">Contact</a></li>
          <li class="nav-item" lang="es"><a class="nav-link track-header" href="/espanol/pages/default.aspx">Español</a></li>
        </ul>
      </div>
    </div>
  </nav>


<!--
    <nav id="l-nav-utility" class="navbar navbar-expand-sm navbar-dark bg-cprimary-lt navbar--utility-nav" aria-label="Eighth navbar example">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown dropdown--people">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">I am a... <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="dropdown-menu">
          <li><a class="track-header" href="/future-students/pages/default.aspx">Future Student</a></li>
          <li><a class="track-header" href="/students/pages/default.aspx">Current Student</a></li>
          <li><a class="track-header" href="/alumni/pages/default.aspx">Former Student (Alumni)</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="track-header" href="/employees/pages/default.aspx">Employee</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="track-header" href="/community/pages/default.aspx">Community Member</a></li>
          <li><a class="track-header" href="/business-industry/pages/default.aspx">Business or Industry Partner</a></li>
          <li><a class="track-header" href="/business-industry/pages/do-business-with-us.aspx">Supplier or Vendor</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown dropdown--tools">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Online Tools <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span></a>
        <ul class="dropdown-menu row">
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://econnect.dcccd.edu"><span class="ico fas fa-network-wired" aria-hidden="true"></span>eConnect</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://selfsrv.dcccd.edu/student"><span class="ico fas fa-laptop" aria-hidden="true"></span>Self Service</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://ecampus.dallascollege.edu/"><span class="ico fas fa-chalkboard-teacher" aria-hidden="true"></span>eCampus</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://dcccd.sharepoint.com/"><span class="ico fab fa-microsoft" aria-hidden="true"></span>SharePoint</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="http://outlook.dcccd.edu/"><span class="ico fas fa-envelope" aria-hidden="true"></span>Email</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://www.myworkday.com/dallascollege/login-saml2.htmld"><span class="ico tools-workday" aria-hidden="true"></span>Workday</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="/staff-directory/pages/default.aspx"><span class="ico fas fa-address-book" aria-hidden="true"></span><span class="hidden-ip5">Employee </span>Directory</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://dallascollege.navigate.eab.com/"><span class="ico fas fa-compass" aria-hidden="true"></span>Navigate</a></li>
          <li class="col-xs-4 col-xxs-6"><a class="track-header" href="https://teams.microsoft.com"><span class="ico fas fa-users" aria-hidden="true"></span>Microsoft Teams</a></li>
          <li role="separator" class="divider"></li>
          <li class="col-xs-12"><a class="track-header" href="http://myapps.dcccd.edu">View more online tools...</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>
  <nav id="dc_mobileNavbar" class="navbar navbar-inverse shadow-nav bg-cprimary" data-spy="affix" data-offset-top="45" aria-label="Primary Navigation">
    <div class="navbar-header bg-cprimary-gr">
      <a class="mobile-logo" href="/"><img src="{{ site.baseurl }}/assets/img/logos/dc-logo-master-white.svg" alt="Dallas College"></a>
      <button class="navbar-toggle hamburger hamburger--squeeze navbar-toggle collapsed bg-cprimary-dk navbar-primary-toggle" type="button" data-bs-toggle="collapse" data-target="#l-header-mobile__menu" aria-expanded="false" aria-haspopup="true">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span><span class="sr-only">Toggle Menu</span>
        </span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="l-header-mobile__menu">
      <form>
        <div class="input-group search-component l-header-mobile__menu__search">
          <label for="srchBox" class="sr-only">Search this website</label>
          <input type="text" class="form-control bg-cwhite" placeholder="Search this website" id="srchBox">
          <span class="input-group-btn">
            <button class="navbar-toggle bg-cwhite text-cprimary track-header" type="button" id="mobileSrchBtn"><span class="ico fas fa-search" aria-label="Search"></span></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-primary">
        <li id="_m_Admissions"><a class="track-header" href="/admissions/pages/default.aspx">Admissions</a></li>
        <li id="_m_PayingForCollege"><a class="track-header" href="/paying-for-college/pages/default.aspx">Paying for College</a></li>
        <li id="_m_ClassesAndDegrees"><a class="track-header" href="/cd/pages/default.aspx">Classes &amp; Degrees</a></li>
        <li id="_m_StudentResources"><a class="track-header" href="/resources/pages/support.aspx">Student Resources</a></li>
        <li id="_m_StudentLife"><a class="track-header" href="/slife/pages/default.aspx">Student Life</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-secondary bg-cprimary-dk">
        <li><a class="track-header" href="/about/pages/default.aspx">About</a></li>
        <li><a class="track-header" href="/contact/pages/default.aspx">Contact</a></li>
        <li lang="es"><a class="track-header" href="/espanol/pages/default.aspx">Español</a></li>
      </ul>
    </div>
  </nav>

  -->

</header>
