<h2 id="cib">Content and Image Block</h2>

<style>
    #get-started-apply {
        background-image: url(https://www.dallascollege.edu/about/style/documents/pegasus/images/banner-test.jpg);
      }
</style>

<h3>Content and Image Block: Image Left (5/7 layout)</h3>

<div class="row">
    <div class="col-12">
        <div class="content-image-box bg-cprimary">
            <div class="col-sm-5 cib-left cib-img" id="get-started-apply"></div>
            <div class="col-sm-7 cib-right cib-content">
                <h2 class="cb-title-xl">Employee Success</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <h3>Subpoint</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <p><a href="#" class="button bg-cprimary-lt">Button</a></p>
            </div>
        </div>
    </div>
</div>

<h3>Content and Image Block: Image Right (8/4 layout)</h3>

<div class="row">
    <div class="col-12">
        <div class="content-image-box bg-cprimary">
            <div class="col-sm-8 cib-left cib-content">
                <h2 class="cb-title-xl">Employee Success</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <h3>Subpoint</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
                <p><a href="#" class="button bg-cprimary-lt">Button</a></p>
                <div class="col-sm-4 cib-right cib-img" id="get-started-apply"></div>
            </div>
        </div>
    </div>
</div>


<h3>Content and Image Block: Image Right (3/9 layout)</h3>

<div class="row">
    <div class="col-12">
        <div class="content-image-box bg-cgrey">
            <div class="col-sm-3 cib-left cib-img" id="get-started-apply"></div>
            <div class="col-sm-9 cib-right cib-content">
                <h2 class="cb-title-xl">Employee Success</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="content-image-box bg-cprimary">
            <div class="col-sm-3 cib-left cib-img" id="get-started-apply"></div>
            <div class="col-sm-9 cib-right cib-content">
                <h2 class="cb-title">Employee Success</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="content-image-box bg-cprimary-lt">
            <div class="col-sm-3 cib-left cib-img" id="get-started-apply"></div>
            <div class="col-sm-9 cib-right cib-content">
                <h2 class="cb-title">Employee Success</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed veniam.</p>
            </div>
        </div>
    </div>
</div>