<h2 id="dropdowns">Dropdowns</h2>

<h3>Dropdown: Standard</h3>
<div class="pgs-grand-dropdown">
    <h2>Heading for the dropdown</h2>
    <button class="bg-cwhite button button-lg pgs-grand-dropdown__btn dropdown-toggle shadow-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="dropdownStandard">
        This is a grand dropdown... <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownStandard">
        <li><a class="dropdown-item" href="#">Option A</a></li>
        <li><a class="dropdown-item" href="#">Option B</a></li>
        <li><a class="dropdown-item" href="#">Option C</a></li>
        <li><a class="dropdown-item" href="#">Option D</a></li>
        <li><a class="dropdown-item" href="#">Option E</a></li>
        <li><a class="dropdown-item" href="#">Option F</a></li>
        <li><a class="dropdown-item" href="#">Option G</a></li>
        <li><a class="dropdown-item" href="#">Option H</a></li>
    </ul>
</div>

<h3>Dropdown: Small</h3>
<div class="pgs-grand-dropdown pgs-grand-dropdown--sm">
    <h2 class="h3" id="dropdownSmall">Heading for the dropdown</h2>
    <button class="bg-cwhite button pgs-grand-dropdown__btn dropdown-toggle shadow-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="dropdownSmall">
        This is a grand dropdown... <span class="ico fas fa-chevron-circle-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownSmall">
        <li><a class="dropdown-item" href="#">Option A</a></li>
        <li><a class="dropdown-item" href="#">Option B</a></li>
        <li><a class="dropdown-item" href="#">Option C</a></li>
        <li><a class="dropdown-item" href="#">Option D</a></li>
        <li><a class="dropdown-item" href="#">Option E</a></li>
        <li><a class="dropdown-item" href="#">Option F</a></li>
        <li><a class="dropdown-item" href="#">Option G</a></li>
        <li><a class="dropdown-item" href="#">Option H</a></li>
    </ul>
</div>
