<h2 id="event-cards">Event Cards</h2>

<h3>Event Cards: Full Features</h3>
<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
         <div class="col-md-2 col-sm-3 event-time">
           <h3 class="h4">Noon <span>to 9 a.m.</span></h3></div>
         <div class="col-md-7 col-sm-9 event-card-title">
           <span class="h4">General Session</span> </div>
         <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
           <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a> </div>
       </div>
   </div>
   <div class="event-body">
       <div class="row">
         <div class="col-md-9 offset-md-2 col-sm-9 offset-sm-3">
           <ul class="row list-unstyled">
             <li class="col-md-6 event-participant">
               <img src="https://via.placeholder.com/100" class="rounded-circle float-left width-75" alt="">
               <div class="participant-name"><a href="#">Professer Bob Newhart</a> <span class="participant-title">CEO, Sustainable Business Consulting</span> </div>
             </li>
             <li class="col-md-6 event-participant">
               <img src="https://via.placeholder.com/100" class="rounded-circle float-left width-75" alt="">
               <div class="participant-name">Kevin Wilhelm <span class="participant-title">CEO, <a href="#">Sustainable Business Consulting</a></span> </div>
             </li>
           </ul>
           <div class="event-description">
             <p>Kevin is a thought leader in the field of sustainability, having taught at over seven different universities and written four acclaimed books, including: “Return on Sustainability: How Business Can Increase Profitability &amp; Address Climate Change in an Uncertain Economy,” “Making Sustainability Stick,” and “An Introduction to Sustainable Business.” He is on the cutting edge of online teaching, as he has successfully “flipped the classroom” with his multimedia online materials and videos that have made the online experience much more student-friendly.</p>
           </div>
           <div class="sub-event">
             <h4 class="h5 page-header">Greetings from the Dallas College Board of Trustees<br></h4>
             <ul class="row list-unstyled">
               <li class="col-md-12 event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                 <div class="participant-name">Diana Flores
                   <span class="participant-title">Chair, Dallas College Board of Trustees</span> </div>
               </li>
             </ul>
           </div>
           <div class="sub-event">
             <h4 class="h5 page-header">A Conversation with Dr. Joe May</h4>
             <ul class="row list-unstyled">
               <li class="col-md-12 event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                 <div class="participant-name">Dr. Joe May
                   <span class="participant-title">Chancellor, Dallas College</span> </div>
               </li>
               <li class="col-md-12 event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                 <div class="participant-name">Dr. Robert Mong
                   <span class="participant-title">President, UNT at Dallas</span> </div>
               </li>
             </ul>
           </div>
           <div class="sub-event">
             <h4 class="h5 page-header">Keynote Speaker</h4>
             <ul class="row list-unstyled">
               <li class="col-md-12 event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                 <div class="participant-name">
                   <a href="#">Wes Moore</a>
                   <span class="participant-title">CEO, Robin Hood</span> </div>
               </li>
             </ul>
           </div>
           <div class="sub-event">
             <h4 class="h5 page-header">Words from the Foundation Board</h4>
             <ul class="row list-unstyled">
               <li class="col-md-12 event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                 <div class="participant-name">Debbie Taylor
                   <span class="participant-title">Chair, Dallas College Foundation Board</span> </div>
               </li>
             </ul>
           </div>
           <div class="sub-event">
             <h4 class="h5 page-header">Chancellor's Award Presentation</h4></div>
           <div class="sub-event">
             <h4 class="h5 page-header">Employee Giving Campaign Announcement</h4></div>
           <div class="sub-event">
             <h4 class="h5 page-header">Closing Remarks</h4></div>
         </div>
       </div>
   </div>
   <div class="event-footer">
       <div class="row">
         <div class="ccol-md-9 offset-md-2 col-sm-9 offset-sm-3">
           <ul class="list-inline list-unstyled">
             <li>
               <a href="#"><span class="text-cprimary ico fas fa-download ico-left" aria-hidden="true"></span>Download Slides</a></li>
             <li>
               <a href="#"><span class="text-cprimary ico fas fa-play-circle ico-left" aria-hidden="true"></span>Watch Video Recording</a></li>
           </ul>
         </div>
       </div>
   </div>
</div>

<div class="spacer-3"></div>


<h3>Event Cards: Standard</h3>

<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
       <div class="col-md-2 col-sm-3 event-time">
           <h3 class="h4">9 a.m.</h3></div>
       <div class="col-md-7 col-sm-9 event-card-title">
           <span class="h4">Keynote Presentation: To Infinity And Beyond</span> </div>
       <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
           <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a> </div>
       </div>
   </div>
</div>

<div class="spacer-3"></div>

<h3>Event Cards: With Description</h3>

<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
           <div class="col-md-2 col-sm-3 event-time">
             <h3 class="h4">9 a.m.</h3></div>
           <div class="col-md-7 col-sm-9 event-card-title">
             <span class="h4">Keynote Presentation: To Infinity And Beyond</span> </div>
           <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
             <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a> </div>
           </div>
           </div>
           <div class="event-body">
           <div class="row">
           <div class="col-md-9 offset-md-2 col-sm-9 offset-sm-3">
             <div class="event-description">
               <p>Kevin is a thought leader...</p>
             </div>
           </div>
       </div>
   </div>
</div>

<div class="spacer-3"></div>

<h3>Event Cards: Speaker Info</h3>

<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
           <div class="col-md-2 col-sm-3 event-time">
             <h3 class="h4">9 a.m.</h3></div>
           <div class="col-md-7 col-sm-9 event-card-title">
             <span class="h4">Keynote Presentation: To Infinity And Beyond</span> </div>
           <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
             <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a> </div>
           </div>
           </div>
           <div class="event-body">
           <div class="row">
           <div class="col-md-9 offset-md-2 col-sm-9 offset-sm-3">
             <ul class="list-unstyled">
               <li class="event-participant">
                 <img src="https://via.placeholder.com/100" class="rounded-circle float-left width-75" alt="">
                 <div class="participant-name">Dr. Kevin Wilhelm <span class="participant-title">CEO, Sustainable Business Consulting</span> </div>
               </li>
             </ul>
           </div>
       </div>
   </div>
</div>

<div class="spacer-3"></div>


<h3>Event Cards: With Footer</h3>
<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
           <div class="col-md-2 col-sm-3 event-time">
             <h3 class="h4">9 a.m.</h3></div>
           <div class="col-md-7 col-sm-9 event-card-title">
             <span class="h4">Keynote Presentation: To Infinity And Beyond</span> </div>
           <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
               <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a>
           </div>
       </div>
   </div>
   <div class="event-footer">
       <div class="row">
           <div class="col-md-9 offset-md-2 col-sm-9 offset-sm-3">
             <ul class="list-inline list-unstyled">
               <li><a href="#"><span class="text-cprimary ico fas fa-download ico-left" aria-hidden="true"></span>Download Slides</a></li>
               <li><a href="#"><span class="text-cprimary ico fas fa-play-circle ico-left" aria-hidden="true"></span>Watch Video Recording</a></li>
             </ul>
           </div>
       </div>
   </div>
</div>


<div class="spacer-3"></div>

<h3>Event Cards: Sub-Events</h3>

<div class="event-card shadow">
   <div class="event-head">
       <div class="row bg-cprimary-lt">
           <div class="col-md-2 col-sm-3 event-time">
               <h3 class="h4">Noon</h3></div>
           <div class="col-md-7 col-sm-9 event-card-title">
               <span class="h4">General Session</span> </div>
           <div class="col-md-3 offset-md-0 col-sm-9 offset-sm-3 event-location">
                 <a href="#"><span class="text-cprimary ico fas fa-map-marker-alt ico-left" aria-label="Location"></span>Lone Star Lobby</a> </div>
           </div>
       </div>
       <div class="event-body">
       <div class="row">
           <div class="col-md-9 offset-md-2 col-sm-9 offset-sm-3">
                 <div class="sub-event">
                       <h4 class="h5 page-header">A Conversation with Dr. Joe May</h4>
                       <ul class="row list-unstyled">
                           <li class="col-md-12 event-participant">
                               <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                               <div class="participant-name">Dr. Joe May <span class="participant-title">Chancellor, Dallas College</span> </div>
                           </li>
                           <li class="col-md-12 event-participant">
                               <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                               <div class="participant-name">Dr. Robert Mong <span class="participant-title">President, UNT at Dallas</span> </div>
                         </li>
                   </ul>
             </div>
             <div class="sub-event">
               <h4 class="h5 page-header">Keynote Speaker</h4>
               <ul class="row list-unstyled">
                 <li class="col-md-12 event-participant">
                   <img src="https://via.placeholder.com/100" class="rounded-circle float-left" alt="">
                   <div class="participant-name">
                     <a href="#">Wes Moore</a>
                     <span class="participant-title">CEO, Robin Hood</span> </div>
                 </li>
               </ul>
             </div>
             <div class="sub-event">
               <h4 class="h5 page-header">Chancellor's Award Presentation</h4></div>
             <div class="sub-event">
               <h4 class="h5 page-header">Closing Remarks</h4></div>
           </div>
       </div>
   </div>
</div>