<h2 id="org-cards">Organizational Cards</h2>

<h3>Org Card: Standard</h3>

<div class="row">
    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-cprimary"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-csecondary"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-cgrey-80"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>


<h2>Org Card: Centered With Buttons</h2>

<div class="row">
    <div class="col-md-5 offset-sm-1 col-sm-6 col-sm-offset-0">
      <div class="pgs-org-card bg-cgrey-05 height-md-225">
        <h2 class="pgs-org-card__heading bg-cprimary text-center">Drop-in Service</h2>
        <div class="pgs-org-card__body">
          <p style="text-align:center;">
            <strong>Walk-ins are welcome!</strong>
          </p>
          <br class="hidden-xs">
          <div class="text-center">
            <a href="#contact" class="button button-mn bg-cprimary">Find campus Health Center locations</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-6">
      <div class="pgs-org-card bg-cgrey-05 height-md-225">
        <h2 class="pgs-org-card__heading bg-csecondary text-center">Appointments</h2>
        <div class="pgs-org-card__body">
          <p style="text-align:center;">
            <strong>Current students</strong> can schedule an appointment using Navigate.<br>
          </p>
          <div class="text-center">
            <a href="/resources/pages/appointment.aspx" class="button button-mn bg-csecondary">Schedule an Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<h3>Org Card: With Button</h3>

<div class="row">
    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-cprimary"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            <a href="/police-safety/Pages/default.aspx#campus-info" class="pgs-org-card__btn button button-mn bg-cprimary">See Campus Police Info</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-csecondary"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            <a href="/police-safety/Pages/default.aspx#campus-info" class="pgs-org-card__btn button button-mn bg-csecondary">See Campus Police Info</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="pgs-org-card bg-cgrey-05">
            <h2 class="pgs-org-card__heading bg-cgrey-80"><a href="#">
            <span class="ico fa fa-life-ring" aria-hidden="true"></span>Get Help</a></h2>
            <div class="pgs-org-card__body--w-btn height-sm-350">
            <ul class="pgs-org-card__list fa-ul">
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Frequently Asked Questions (FAQ)</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Technical Support</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Chat/Text ​With Us</a></li>
                <li>
                    <span class="fa-li"><span class="ico fas fa-chevron-right" aria-hidden="true"></span></span><a href="#">Request Information</a></li>
            </ul>
            <a href="/police-safety/Pages/default.aspx#campus-info" class="pgs-org-card__btn button button-mn bg-cgrey-80">See Campus Police Info</a>
            </div>
        </div>
    </div>
</div>


<h3>Org Card: Heading Link Only</h3>

<div class="row">
    <div class="col-sm-5">
        <div class="pgs-org-card bg-cgrey-05">
            <a class="h2 pgs-org-card__heading bg-cprimary-lt" href="/contact/pages/social-media.aspx">
            <span class="ico fab fa-facebook" aria-hidden="true"></span>Social Media Directory</a> 
        </div>
    </div>
    <div class="col-sm-5">
        <div class="pgs-org-card bg-cgrey-05">
            <a class="h2 pgs-org-card__heading bg-cprimary" href="/contact/pages/social-media.aspx">
            <span class="ico fab fa-facebook" aria-hidden="true"></span>Social Media Directory</a> 
        </div>
    </div>
    <div class="col-sm-5">
        <div class="pgs-org-card bg-cgrey-05">
            <a class="h2 pgs-org-card__heading bg-csecondary" href="/contact/pages/social-media.aspx">
            <span class="ico fab fa-facebook" aria-hidden="true"></span>Social Media Directory</a> 
        </div>
    </div>
    <div class="col-sm-5">
        <div class="pgs-org-card bg-cgrey-05">
            <a class="h2 pgs-org-card__heading bg-cgrey-80" href="/contact/pages/social-media.aspx">
            <span class="ico fab fa-facebook" aria-hidden="true"></span>Social Media Directory</a> 
        </div>
    </div>
</div>
