<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include head.html %}

<body>

     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDGX39L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% include header.html %}



     <header>
        <style>
            .pgs-banner__image{
                background-image: url("https://www.dallascollege.edu/cd/credit/world-languages/PublishingImages/world-lang-banner-1200x300.jpg");
            }
        </style>

        <!-- site notice -->
        <div class="site-notices bg-info">
            <div class="container">
                <div class="row min-height-100">
                    <div class="col-2 d-flex justify-content-center align-items-center p-2">
                            <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
                    </div>
                    <div class="col-9 p-3">
                        <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
                    </div>
                    <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end site notice -->

            <div class="pgs-banner pgs-banner--double">
                <div class="container-fluid">
                    <div class="row row--flex-md">
                        {% include interior/content_featured-breadcrumb.html %}

                        <div class="col-md-6 order-md-2 pgs-banner__image">
                        </div>
            
                        <div class="col-md-6 order-md-1 pgs-banner__title">
                            <div class="row row--flex-md align-items-center" style="">
                                <div class="offset-1 col-10 pgs-banner__inner">
                                    <h1 class="pgs-banner__h1">Functional Layouts</h1>
                                    <p class="pgs-banner__lead">At Dallas Community Colleges, we keep tuition costs low and financial aid high. We also offer hundreds of scholarships and student discounts to save you even more. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               

            
      </div>



        <!-- sub level nav -->
        <div class="pgs-banner__sub-nav bg-cgrey-05">
            <div class="offset-lg-1 col-lg-10">
                <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-lg" aria-label="Student Quick Links">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse" aria-expanded="false" aria-label="Toggle navigation">
                            [Site] Quick Links<span aria-hidden="true" class="ico-right ico fas fa-chevron-circle-down "></span>
                        </button>
        
                        <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
                          <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
                              <li class="nav-item flex-fill"><a class="nav-link" href="landing-page.html">Landing Page</a></li>
                                <li class="nav-item flex-fill"><a class="nav-link" href="top-landing-page.html">Top Landing Page</a></li>
                                <li class="nav-item flex-fill"><a class="nav-link" href="landing-page-sidebar.html">Landing Page Sidebar</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end sub level nav -->

                </div>
            </div>
        </div>
    </header>
    <div id="t4-bodyContainer">
        

            <main id="main__body">
                <article>
                <div class="container">


                    <!-- start sample content -->

                    <ul>
                        <li><a href="staff-directory.html">Staff Directory</a></li>
                        <li><a href="news-search.html">News Search</a></li>
                        <li><a href="news-article.html">News Article</a></li>
                        <li><a href="calendar-search.html">Calendar Search</a></li>
                        <li><a href="calendar-event.html">Calendar Event</a></li>
                        <li><a href="gps-map.html">Guided Pathway Map</a></li>
                        <li><a href="program-search.html">Program/Area of Study Search</a></li>
                        <li>Credential Overview Page (TBD Dec. 2025)</li>

                    </ul>


                  
                     <!-- end sample content-->

                </div>
            </article>
            </main>

        </div>
    </div>

  {% include footer.html %}

</body>
</html>
