{% include head.html %}

{% include header.html %}

<div id="pgs-bodyContainer">  

<header>
  <div class="pgs-banner pgs-banner--grand shadow-2">
    <div class="pgs-banner__image" style="background-image: url('https://www.dallascollege.edu/PublishingImages/banner-1600x512/2024-summer-fall-v5-1600x512.jpg');">
    </div>
    <div class="pgs-banner__title">
      <h2 class="pgs-banner__h1 h1">Spring Registration Is Open for All Students</h2>
      <p class="pgs-banner__p">Don’t wait! Sign up early to get the classes you want.</p>
      <p class="pgs-banner__p text-end">
      <a href="/admissions/registration/Pages/default.aspx" class="button button-sm cwhite pgs-banner__button button-md cta">Register Now</a>
      </p>
    </div>
  </div>
</header>

      {% include content_homepage.html %}

    </div>
  <!-- </div> -->

  {% include footer.html %}

</body>
</html>
