{% include head.html %}

{% include header.html %}


<!-- site notice -->
<div class="site-notices bg-danger">
    <div class="container">
        <div class="row min-height-100 flex-nowrap">
            <div class="col-2 d-flex justify-content-center align-items-center p-2">
                <span aria-hidden="true" class="ico fas fa-exclamation-circle icon-3x"></span>
            </div>
            <div class="col-9 p-3 my-3">
                <p>Good morning. In less than an hour, aircraft from here will join others from around the world. And you will be launching the largest aerial battle in this history of mankind.</p>
                <a class="button bg-cwhite shadow-2" href="#">Read More <span class="visually-hidden">About This Notice</span></a>


            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing pgs-banner--fw">
    <div class="pgs-banner__image"
        style="background-image: url('{{ site.baseurl }}/assets/img/world-lang-banner-1200x300.jpg');">
        {% include interior/content_featured-breadcrumb.html %}
    </div>


    <div class="pgs-banner__title">
        <div class="container">
            <h1 class="pgs-banner__h1"><!-- title -->Landing Page With Sidebar</h1>
        </div>
    </div>
</div>


<div id="t4-bodyContainer">
    <main id="main__body" class="with-sidebar">


                {% include interior/content_landing-page-sidebar.html %}


    </main>
</div>

{% include footer.html %}

</body>

</html>
