{% include head.html %}

{% include header.html %}

<div class="site-notices bg-info">
  <div class="container">
    <div class="row min-height-100">
      <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
      </div>

      <div class="col-9 p-3">
        <p><strong>This is an info site notice</strong>. It should close similar to the functionality that's on the <a
            href="https://samplesite-01-us-east-1.terminalfour.net/home-alternate/">Terminalfour sample site</a>. It
          should appear above
          the breadcrumbs on each layout when activated.</p>
      </div>
      <div class="col-1 p-3 d-flex justify-content-center align-items-center">
        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
      </div>
    </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing pgs-banner--fw">
  <div class="pgs-banner__image"
    style="background-image: url('https://www.dallascollege.edu/cd/credit/world-languages/PublishingImages/world-lang-banner-1200x300.jpg');">
    {% include interior/content_featured-breadcrumb.html %}
  </div>


  <div class="pgs-banner__title">
    <div class="container">
      <h1 class="pgs-banner__h1">
        <!-- title -->Landing Page
      </h1>
    </div>
  </div>
</div>



<!-- sub level nav -->
<div class="pgs-banner__sub-nav bg-cgrey-05">
  <div class="offset-lg-1 col-lg-10">
    <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-lg" aria-label="Student Quick Links">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse"
          aria-expanded="false" aria-label="Toggle navigation">
          [Site] Quick Links<span aria-hidden="true" class="ico-right ico fas fa-chevron-circle-down "></span>
        </button>

        <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
          <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
            <li class="nav-item flex-fill"><a class="nav-link" href="landing-page.html">Landing Page</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="top-landing-page.html">Top Landing Page</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="landing-page-sidebar.html">Landing Page Sidebar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- end sub level nav -->


<div id="t4-bodyContainer">

  <main id="main__body">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <article> <!-- Content Area Begin -->
            <!-- site announcement -->
            <div class="site-notices bg-info">
              <div class="container">
                <div class="row min-height-100">
                  <div class="col-2 d-flex justify-content-center align-items-center p-2">
                    <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
                  </div>

                  <div class="col-8 p-3">
                    <p><strong>This is a site announcement.</strong> This is where departments and groups can post
                      scheduled
                      announcements that appear on all the pages for their area. Areas like Financial Aid might want to
                      post a
                      link to <a href="#">FAFSA information</a> or dates for filing for fiancial aid.</p>
                  </div>
                </div>
              </div>
            </div>



            
          </div>
        </article>
      </div>
    </div>
  </div>
</main>

</div>

{% include footer.html %}

</body>

</html>