{% include head.html %}

{% include header.html %}

<div class="site-notices bg-info">
  <div class="container">
    <div class="row min-height-100">
      <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
      </div>

      <div class="col-9 p-3">
        <p><strong>This is an info site notice</strong>. It should close similar to the functionality that's on the <a
            href="https://samplesite-01-us-east-1.terminalfour.net/home-alternate/">Terminalfour sample site</a>. It
          should appear above
          the breadcrumbs on each layout when activated.</p>
      </div>
      <div class="col-1 p-3 d-flex justify-content-center align-items-center">
        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
      </div>
    </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing pgs-banner--fw">
  <div class="pgs-banner__image"
    style="background-image: url('https://www.dallascollege.edu/cd/credit/world-languages/PublishingImages/world-lang-banner-1200x300.jpg');">
    {% include interior/content_featured-breadcrumb.html %}
  </div>


  <div class="pgs-banner__title">
    <div class="container">
      <h1 class="pgs-banner__h1">
        <!-- title -->Landing Page
      </h1>
    </div>
  </div>
</div>



<!-- sub level nav -->
<div class="pgs-banner__sub-nav bg-cgrey-05">
  <div class="offset-lg-1 col-lg-10">
    <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-lg" aria-label="Student Quick Links">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse"
          aria-expanded="false" aria-label="Toggle navigation">
          [Site] Quick Links<span aria-hidden="true" class="ico-right ico fas fa-chevron-circle-down "></span>
        </button>

        <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
          <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
            <li class="nav-item flex-fill"><a class="nav-link" href="landing-page.html">Landing Page</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="top-landing-page.html">Top Landing Page</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="landing-page-sidebar.html">Landing Page Sidebar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- end sub level nav -->


<div id="t4-bodyContainer">

  <main id="main__body">
    <div class="container">

      <!-- site announcement -->
      <div class="site-notices bg-info">
        <div class="container">
          <div class="row min-height-100">
            <div class="col-2 d-flex justify-content-center align-items-center p-2">
              <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
            </div>

            <div class="col-8 p-3">
              <p><strong>This is a site announcement.</strong> This is where departments and groups can post scheduled
                announcements that appear on all the pages for their area. Areas like Financial Aid might want to post a
                link to <a href="#">FAFSA information</a> or dates for filing for fiancial aid.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h2>Dallas College&nbsp;Student Email</h2>
          <p>Use Dallas College&nbsp;Student Email (Microsoft Outlook) to communicate with other students, faculty,
            staff and anyone else who has an email address. It's free for students.<br></p>
          <p>And as of Dec. 2022,
            <strong>it's the official way Dallas College will communicate with you</strong>.<br>
          </p>
          <p>Once you're registered for classes you can log in<strong>&nbsp;with your Dallas College&nbsp;username and
              <a href="/resources/online-services/password/Pages/default.aspx">password</a></strong> and start using
            Dallas College&nbsp;Student Email right away.</p>
          <p>Access your Dallas College&nbsp;student email:</p>
          <ul>
            <li>
              <a href="http://outlook.dcccd.edu/">outlook.dcccd.edu</a>
            </li>
            <li>the email link at the top of
              <a href="/">dallascollege.edu</a><br>
            </li>
            <li>
              <a href="https://dcccd.sharepoint.com/">SharePoint</a>
            </li>
          </ul>
        </div>
        <div class="col-md-5 extra-padding">
          <div class="spacer-2">&nbsp;</div>
          <img
            src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/students-laptops.jpg"
            class="img-rounded center-block img-responsive" alt=""> &nbsp;
        </div>
      </div>

      <div class="full-width-row bg-cprimary-lt extra-padding">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-md-1 col-md-7 order-md-2">
              <h2 id="office365">Office 365</h2>
              <p>Office 365 works like you: everywhere.<br> There's no install required.<br> With Office 365 you can
                take advantage of the same Office tools you're used to using, from anywhere with an internet connection
                and a web browser.</p>
              <p>Simply
                <strong>log in</strong><strong>&nbsp;with your eConnect username and password</strong> to get
                started.<br><span class="small">(If prompted, select "Sign in with a work or school account.")</span>
              </p>
              <a class="bg-cprimary button button-sm" href="https://www.office.com/">Access all Office 365 Tools</a>
              <div class="spacer-1">&nbsp;</div>
            </div>
            <div class="col-12 col-md-4 order-2 order-md-1">
              <div class="spacer-2">&nbsp;</div>
              <div class="row extra-padding-1">
                <div class="col-4 text-center">
                  <a
                    href="https://outlook.office.com/owa/?realm=dcccd.edu&amp;exsvurl=1&amp;ll-cc=en-US&amp;modurl=1&amp;lc=1033&amp;auth=2&amp;path=/calendar/view/Week">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/calendar.jpg"
                      alt="Calendar"></a>
                  <br>
                </div>
                <div class="col-4 text-center">
                  <a href="https://dcccd-my.sharepoint.com/">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/onedrive.jpg"
                      alt="OneDrive"></a>
                  <br>
                </div>
                <div class="col-4 text-center">
                  <a href="https://office.live.com/start/Word.aspx">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/word.jpg"
                      alt="Word"></a>
                  <br>
                </div>
              </div>
              <div class="row extra-padding-1">
                <div class="col-4 text-center">
                  <a href="https://office.live.com/start/Excel.aspx">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/excel.jpg"
                      alt="Excel"></a>
                </div>
                <div class="col-4 text-center">
                  <a href="https://office.live.com/start/PowerPoint.aspx">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/powerpoint.jpg"
                      alt="PowerPoint"></a>
                </div>
                <div class="col-4 text-center">
                  <a href="https://www.onenote.com/hrd">
                    <img
                      src="https://www.dallascollege.edu/resources/online-services/email-ms-office/PublishingImages/onenote.jpg"
                      alt="OneNote"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 offset-xl-3 col-xl-6">
          <h2 class="text-center">Get Help</h2>
          <div class="col-12">
            <div class="pgs-people-card pgs-people-card--quiet pgs-people-card--compact">
              <div class="row">
                <div class="col-2 d-none d-sm-block pgs-people-card__col d-none d-lg-block" style="padding-left: 0;">
                  <img src="https://www.dallascollege.edu/about/style/documents/pegasus/assets/ccregg-100x100.jpg"
                    class="pgs-people-card__photo mx-auto rounded-circle width-50" alt="">
                </div>
                <div class="col-6 col-sm-4 col-md-5 pgs-people-card__col" style="padding-left: 0;">
                  <h3 class="pgs-people-card__name">C.J. Cregg</h3>
                  <ul class="list-unstyled">
                    <li>White House Press Secretary</li>
                  </ul>
                </div>
                <div class="col-6 col-sm-4 col-md-5 pgs-people-card__col" style="padding-left: 0;">
                  <ul class="fa-ul">
                    <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-university"></span></span>White
                      House, Press Room</li>
                    <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>202-555-9876
                    </li>
                    <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                        href="mailto:ccregg@whitehouse.gov">Email C.J.</a></li>
                    <li><a href="#"><span class="fa-li"><span
                            class="ico fab fa-linkedin icon"></span></span>LinkedIn</a></li>
                    <li><a href="#"><span class="fa-li"><span aria-hidden="true"
                            class="ico fas fa-id-card"></span></span><span class="sr-only"></span>Credentials</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </main>

</div>

{% include footer.html %}

</body>

</html>