{% include head.html %}

{% include header.html %}

<link rel="stylesheet" href="https://catalog.dallascollege.edu/widget-api/widget-api.min.css">
<script src="{{ site.baseurl }}/assets/js/lightcast.js"></script>

<div class="pgs-banner pgs-banner--double">
  <div class="container-fluid">
    <div class="row row--flex-md">

      <div class="col-md-6 pgs-banner__image"
        style="background-image: url('https://www.dallascollege.edu/cd/credit/world-languages/PublishingImages/world-lang-banner-1200x300.jpg');">
      </div>

      <div class="col-md-6 pgs-banner__title">
        <div class="row row--flex-md align-items-center">
          <div class="offset-1 col-10 pgs-banner__inner">
            <h1 class="pgs-banner__h1">Digital Art and Design</h1><br>
            <span class="badge rounded-pill border-cprimary border-1 bg-cwhite text-cprimary p-3 m-2">5 Certificates</span>
              <span class="badge rounded-pill border-cwhite border-1 bg-cprimary p-3 m-2">2 Associate Degrees</span>
              <span class="badge rounded-pill border-cwhite border-1 bg-cprimary-dk p-3 m-2">1 Bachelor's Degree</span>
            <br>
            <a id="RMIbutton" href="#" class="button bg-csecondary mt-5" data-bs-toggle="modal" data-bs-target="#RMIModal">Request More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Request More Info modal -->
<div class="modal fade" id="RMIModal" tabindex="-1" aria-labelledby="RMIModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content extra-padding-1">
      <div class="modal-header border-0 pb-0">
        <h1 class="modal-title fs-5 mt-0" id="RMIModalLabel">Find Out More About Digital Art and Design</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Sign up to receive additional information.</p>
        <div id="modal-form-content">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- sub level nav -->
<div class="pgs-banner__sub-nav bg-cgrey-05">
  <div class="offset-lg-1 col-lg-10">
    <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-lg" aria-label="Student Quick Links">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse"
          aria-expanded="false" aria-label="Toggle navigation">
          [Site] Quick Links<span aria-hidden="true" class="ico-right ico fas fa-chevron-circle-down "></span>
        </button>

        <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
          <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
            <li class="nav-item flex-fill"><a class="nav-link" href="#overview">Overview</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="#jobs">Career Outlook</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="#pathways">Program Paths</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="#get-started">Contact Us</a></li>
            <li class="nav-item flex-fill"><a class="nav-link" href="#get-started">Get Started</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- end sub level nav -->

<div id="t4-bodyContainer">
  <main id="main__body" class="no-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article>

            <!-- Content Area Begin -->

            <div class="row">
              <div class="offset-sm-1 col-sm-10">

                <p class="lead">Are you artistic and creative? A visual problem-solver? Would you like to learn how to
                  merge high-tech computer skills with your artistic vision? Consider Digital Art and Design to train
                  for an exciting career that lets you make a good living.</p>


              </div>
            </div>


            <div class="row my-5" id="jobs">
              <div class="col-12">
                {% include_relative pop-sandbox/jobs-lightcast-api.html %}
              </div>
            </div>

            <div class="spacer-2"></div>

            <div class="full-width-row bg-cgrey p-5" id="get-started">
              <div class="container">

                <div class="row">
                  <div class="col-12 col-md-6">
                    {% include_relative pop-sandbox/rfi-content.html %}
                  </div>
                  <div id="popformcontainer" class="col-12 col-md-6 offset-lg-1 col-lg-5 p-4">
                    {% include_relative pop-sandbox/ppc-form.html %}
                  </div>
                </div>

              </div>
            </div>


            <div class="row my-5" id="related">
              <div class="col-12">
                <h2>You Might Also Like</h2>

                {% include_relative pop-sandbox/related.html %}
              </div>
            </div>

            <div class="row my-5" id="footnote">
              <div class="offset-1 col-10">

                {% include_relative pop-sandbox/footnote.html %}

              </div>
            </div>


            <!-- end Content Area-->

          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}

<script src="{{ site.baseurl }}/assets/js/pop-sandbox.js"></script>

</body>
</html>
