{% include head.html %}

{% include header.html %}



<div class="pgs-banner pgs-banner--sub-landing pgs-banner--fw">
    <div class="pgs-banner__image"
        style="background-image: url('{{ site.baseurl }}/assets/img/landing-banner-gps-education.jpg');">
        {% include interior/content_featured-breadcrumb.html %}
    </div>


    <div class="pgs-banner__title">
        <div class="container">
            <h1 class="pgs-banner__h1">
                <!-- title -->Locations
            </h1>
        </div>
    </div>
</div>



<div id="t4-bodyContainer">

    <main id="main__body" class="no-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article>
                        <!-- Content Area Begin -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Brookhaven</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-map-marker-alt"></span></span>3939 Valley
                                                    View Lane<br> Farmers Branch, TX 75244
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/bhmaplink">View an
                                                        Interactive Map of Brookhaven</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-phone"></span></span>972-860-4700</li>
                                                <li><span class="fa-li"><span aria-hidden="true"
                                                            class="ico fas fa-globe"></span></span><a
                                                        href="https://www.dallascollege.edu/about/bhc">Brookhaven
                                                        Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Madeline Burillo-Hopkins</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Cedar Valley</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>3030 North Dallas Avenue<br> Lancaster, TX 75134
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/cvmaplink">View an Interactive Map of Cedar Valley</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8201</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/cvc">Cedar Valley Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Joseph Seabrooks</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Eastfield</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>3737 Motley Drive<br> Mesquite, TX 75150
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/efmaplink">View an Interactive Map of Eastfield</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-7100</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/efc">Eastfield Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Eddie Tealer</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">El Centro</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>801 Main Street<br> Dallas, TX 75202
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/ecmaplink">View an Interactive Map of El Centro</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-860-2000</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/ecc">El Centro Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Jose Adames</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Mountain View</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>4849 West Illinois Avenue<br> Dallas, TX 75211
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/mvmaplink">View an Interactive Map of Mountain View</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-860-8680</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/mvc">Mountain View Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Angelica M. Ruiz</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">North Lake</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>5001 North MacArthur Boulevard<br> Irving, TX 75038
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/nlmaplink">View an Interactive Map of North Lake</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-273-3000</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/nlc">North Lake Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Christa Slejko</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Richland</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>12800 Abrams Road<br> Dallas, TX 75243
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/rlmaplink">View an Interactive Map of Richland</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-238-6100</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/rlc">Richland Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Kay Eggleston</h3>
                                            <ul class="fa-ul">
                                                <li>President</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Admin Office</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>1601 Botham Jean Blvd.<br> Dallas, TX 75215
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/maps/pages/do.aspx">View an Interactive Map of Admin Office</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-378-1500</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Adolphus Tower Gallery</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>1412 Main St.<br> Dallas, TX 75202
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Bill J. Priest Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>1402 Corinth St.<br> Dallas, TX 75215
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/bjpmap">View an Interactive Map of Bill J. Priest Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-860-5900</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/bjp">Bill J. Priest Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Cedar Hill Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>207 N Cannady Dr.<br> Cedar Hill, TX 75104
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/maps/pages/cedar-hill-center.aspx">View an Interactive Map of Cedar Hill Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-293-5416</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Tikera Chisley</h3>
                                            <ul class="fa-ul">
                                                <li>Senior Director</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Coppell Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>101 S. Royal Lane<br> Coppell, TX 75019
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/coppellmap">View an Interactive Map of Coppell Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-4400</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/cc">Coppell Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Culinary, Pastry and Hospitality Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>11830 Webb Chapel Road, Suite 1200<br> Dallas, TX 75234
                                                </li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-391-1466</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/cphc">Culinary, Pastry and Hospitality Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Dallas College at Forney</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>680 Innovation Blvd, Room 279<br> Forney, TX 75126
                                                </li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/partnerships/forney/">Dallas College at Forney Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Jaleah Williams, M.Ed.</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:jaleah.williams@dallascollege.edu">Email Jaleah Williams, M.Ed.</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Downtown Health Sciences Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>301 N. Market St.<br> Dallas, TX 75202
                                                </li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-5001</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/dhsc">Downtown Health Sciences Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Garland Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>675 W. Walnut St.<br> Garland, TX 75040
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/garlandmap">View an Interactive Map of Garland Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-360-1201</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/gc/pages/default.aspx">Garland Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Gabriella Zuniga-Jairala</h3>
                                            <ul class="fa-ul">
                                                <li>Managing Director</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:jgzunigajairala@dallascollege.edu">Email Gabriella Zuniga-Jairala</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Irving Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>1081 W. Shady Grove Rd.<br> Irving, TX 75060
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/irvingmap">View an Interactive Map of Irving Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-860-2000</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/ic/">Irving Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Erica Lopez</h3>
                                            <ul class="fa-ul">
                                                <li>Managing Director</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:eglopez@dallascollege.edu">Email Erica Lopez</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Lancaster Workforce Development Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>4315 S Lancaster Rd<br> Dallas, TX 75216
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/lancastermap">View an Interactive Map of Lancaster Workforce Development Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/lwdc">Lancaster Workforce Development Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Katina Hamilton</h3>
                                            <ul class="fa-ul">
                                                <li>Manager</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:cswood@dallascollege.edu">Email Katina Hamilton</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">LeCroy Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>9596 Walnut St.<br> Dallas, TX 75243
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/lcmaplink">View an Interactive Map of LeCroy Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-669-6403</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/maps/pages/lcet.aspx">LeCroy Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Pegasus Park</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>3000 Pegasus Park Dr<br> Dallas, TX 75247
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Pleasant Grove Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>802 S. Buckner Blvd.<br> Dallas, TX 75217
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/pgmap">View an Interactive Map of Pleasant Grove Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-5300</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/pgc">Pleasant Grove Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Gabriella Zuniga-Jairala</h3>
                                            <ul class="fa-ul">
                                                <li>Managing Director</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:gzunigajairala@dallascollege.edu">Email Gabriella Zuniga-Jairala</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Service Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>4343 IH-30<br> Mesquite, TX 75150
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/maps/Pages/dsc-maps.aspx#area">View an Interactive Map of Service Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-7700</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/maps/pages/dsc.aspx">Service Center Website</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">South Dallas Training Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>4915 Brashear St.<br> Dallas, TX 75210
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/sdtcmap">View an Interactive Map of South Dallas Training Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>214-360-1264</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/sdtc">South Dallas Training Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Shelli Misher</h3>
                                            <ul class="fa-ul">
                                                <li>Manager</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:shellimisher@dallascollege.edu">Email Shelli Misher</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">West Dallas Center</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>3330 N. Hampton Rd.<br> Dallas, TX 75212
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/westmap">View an Interactive Map of West Dallas Center</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-391-1400</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/wdc">West Dallas Center Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Erica Lopez</h3>
                                            <ul class="fa-ul">
                                                <li>Managing Director</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:eglopez@dallascollege.edu">Email Erica Lopez</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet">
                                    <h2 class="pgs-dept-card__title">Workforce Center at RedBird</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Visit Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-map-marker-alt"></span></span>3662 W. Camp Wisdom Rd., Suite 2065<br> Dallas, TX 75237
                                                </li>
                                                <li><a href="https://www.dallascollege.edu/redbirdmap">View an Interactive Map of Workforce Center at RedBird</a></li>
                                            </ul>
                                        </div>
                        
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-238-6061</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/about/rb">Workforce Center at RedBird Website</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Dr. Luis Lucio</h3>
                                            <ul class="fa-ul">
                                                <li>Senior Director</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:llucio@dallascollege.edu">Email Dr. Luis Lucio</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- End Content Area -->
                    </article>
                </div>
            </div>
        </div>
    </main>

</div>

{% include footer.html %}

</body>

</html>