{% include microsite-head.html %}

{% include microsite-header.html %}

<!-- site notice -->
<div class="site-notices bg-warning">
  <div class="container">
    <div class="row min-height-100">
      <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
      </div>
      <div class="col-9 p-3">
        <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
      </div>
      <div class="col-1 p-3 d-flex justify-content-center align-items-center">
        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
      </div>
    </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing">
  <div class="pgs-banner__image"
    style="background-image:url('https://www.dallascollege.edu/grants/dhsi/PublishingImages/title-v-1600x350.jpg');">
  </div>
</div>

<div id="t4-bodyContainer">
  <main id="main__body">
    <article>
      <h1 class="visually-hidden">[Page Title: Developing Hispanic-Serving Institutions Project]</h1>

      <div class="container">


        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p class="lead">The PLA project provides training for personnel from over 50 colleges and universities
              throughout the state of Texas-based on surveyed feedback from personnel of educational institutions and
              organizations regarding areas of need in professional development regarding competency-based education and
              prior learning assessment.</p>
          </div>
        </div>


        <div class="content-image-box cprimary-lt mb-0">
          <div class="col-sm-5 cib-left cib-img">
            <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" class="cib-image"
              alt="Insert Alt Description">
          </div>
          <div class="col-sm-7 cib-right cib-content">
            <p class="lead">As a result of limited practices associated with the assessment of prior learning at
              institutions of higher education, opportunities to increase participation and success of low skilled
              individuals, military veterans, and/or workers needing credentials to maintain or increase their
              employability are many times lost.</p>
          </div>
        </div>
        <div class="content-image-box bg-cwhite">
          <div class="col-sm-7 cib-left cib-content">
            <p class="cb-title-lg text-center text-cprimary extra-padding-2">
              <span style="font-size:2em;">32 million</span> Americans, aged 25-64, have some credit but no degree<br>
            </p>
          </div>
          <div class="col-sm-5 cib-right cib-img">
            <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" class="cib-image"
              alt="Insert Alt Description">
          </div>
        </div>
        <div class="content-image-box cprimary-lt mb-0">
          <div class="col-sm-5 cib-left cib-img">
            <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" class="cib-image"
              alt="Insert Alt Description">
          </div>
          <div class="col-sm-7 cib-right cib-content">
            <p class="lead">Where employment or financial barriers are more likely to shrink persistence among
              low-income, minority, and/or working student populations, the knowledge and development of prior learning
              assessment (PLA) methods for credit and acceleration is essential.</p>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-6">
            <ul class="list-inline pgs-action-link-list fa-ul">
              <li>
                <a class="pgs-action-link"
                  href="https://www.cael.org/news-and-resources/new-research-from-cael-and-wiche-on-prior-learning-assessment-and-adult-student-outcomes"><span
                    class="fa-li"><span class="ico fas fa-chevron-right ico-left"></span></span>CAEL Study</a>
              </li>
              <li>
                <a class="pgs-action-link"
                  href="https://www.acenet.edu/Programs-Services/Pages/Credit-Transcripts/Institutional-CPL-Best-Practices.aspx"><span
                    class="fa-li"><span class="ico fas fa-chevron-right  ico-left"></span></span>ACE Credit for Prior
                  Learning: Charting Institutional Practice for Sustainability</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-inline pgs-action-link-list fa-ul">
              <li>
                <a class="pgs-action-link"
                  href="https://www.acenet.edu/Programs-Services/Pages/Credit-Transcripts/Institutional-CPL-Best-Practices.aspx"><span
                    class="fa-li"><span class="ico fas fa-chevron-right  ico-left"></span></span>ACE Credit for Prior
                  Learning: Implementation Matrix</a>
              </li>
              <li>
                <a class="pgs-action-link" href="https://www.highered.texas.gov/"><span class="fa-li"><span
                      class="ico fas fa-chevron-right  ico-left"></span></span>THECB</a><br><br>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12 offset-xl-3 col-xl-6">
            <h2 class="text-center">Get Help</h2>
            <div class="col-12">
              <div class="pgs-people-card pgs-people-card--quiet pgs-people-card--compact">
                <div class="row">
                  <div class="col-2 text-center d-none d-sm-block d-lg-block pgs-people-card__col pgs-people-card__img">
                    <img src="https://www.dallascollege.edu/about/style/documents/pegasus/assets/ccregg-100x100.jpg"
                      alt="">
                  </div>
                  <div class="col-6 col-sm-4 col-md-5 pgs-people-card__col" style="padding-left: 0;">
                    <h3 class="pgs-people-card__name">C.J. Cregg</h3>
                    <ul class="list-unstyled">
                      <li>White House Press Secretary</li>
                    </ul>
                  </div>
                  <div class="col-6 col-sm-4 col-md-5 pgs-people-card__col" style="padding-left: 0;">
                    <ul class="fa-ul">
                      <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-university"></span></span>White
                        House, Press Room</li>
                      <li><span class="fa-li"><span aria-hidden="true"
                            class="ico fas fa-phone"></span></span>202-555-9876</li>
                      <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                          href="mailto:ccregg@whitehouse.gov">Email C.J.</a></li>
                      <li><a href="#"><span class="fa-li"><span
                              class="ico fab fa-linkedin icon"></span></span>LinkedIn</a></li>
                      <li><a href="#"><span class="fa-li"><span aria-hidden="true"
                              class="ico fas fa-id-card"></span></span><span class="sr-only"></span>Credentials</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>

{% include microsite-footer.html %}

</body>

</html>