{% include microsite-head.html %}

{% include microsite-header.html %}

<!-- site notice -->
<div class="site-notices bg-warning">
  <div class="container">
    <div class="row min-height-100">
      <div class="col-2 d-flex justify-content-center align-items-center p-2">
        <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
      </div>
      <div class="col-9 p-3">
        <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
      </div>
      <div class="col-1 p-3 d-flex justify-content-center align-items-center">
        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
      </div>
    </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing">
  <div class="pgs-banner__image" style="background-image:url('https://www.dallascollege.edu/grants/dhsi/PublishingImages/title-v-1600x350.jpg');">
  </div>
</div>

<div id="t4-bodyContainer">
  <main id="main__body">
    <article>
      <div class="container">
        <h1 class="page-header--xl">Developing Hispanic-Serving Institutions Project</h1>
              
      
      </div> <!-- end page container -->
    </article>
  </main>
</div>

{% include microsite-footer.html %}

</body>

</html>
