{% include microsite-head.html %}

{% include microsite-header.html %}

<!-- site notice -->
<div class="site-notices bg-warning">
  <div class="container">
      <div class="row min-height-100 flex-nowrap">
          <div class="col-2 d-flex justify-content-center align-items-center p-2">
              <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
          </div>
          <div class="col-9 p-3 my-3">
              <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
              <a class="button bg-cwhite shadow-2" href="#">Read More <span class="visually-hidden">About This Notice</span></a>
          </div>
          <div class="col-1 p-3 d-flex justify-content-center align-items-center">
              <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
          </div>
      </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing">
  <div class="pgs-banner__image"
    style="background-image:url('{{ site.baseurl }}/assets/img/title-v-1600x350.jpg');">
  </div>
</div>

<div id="t4-bodyContainer">
  <main id="main__body" class="no-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article>

            <h1 class="page-header--xl">Developing Hispanic-Serving Institutions Project</h1>
            <!-- Content Area Begin -->

            <!-- section announcement -->
            <div class="site-notices">
              <div class="container bg-cprimary-lt">
                <div class="row min-height-100">
                  <div class="col-2 d-flex justify-content-center align-items-center p-2">
                    <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
                  </div>

                  <div class="col-10 p-3">
                    <h2>Don't Miss the Application Deadline</h2>
                    <p>All applications must be submitted by Dec. 23, 2024 to be considered. <a href="#">Submit your application today</a>.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end section announcement -->
          
            
            <!-- End Content Area-->

          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{% include microsite-footer.html %}

</body>

</html>