{% include head.html %}

{% include header.html %}

<!-- site notice -->
<div class="site-notices bg-info">
    <div class="container">
        <div class="row min-height-100 flex-nowrap">
            <div class="col-2 d-flex justify-content-center align-items-center p-2">
                <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
            </div>
            <div class="col-9 p-3 my-3">
                <p><strong>N Building at Dallas College Eastfield Campus</strong> is where you can find the Dallas
                    College Police Station.</p>
            </div>
            <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
            </div>
        </div>
    </div>
</div>
<!-- end site notice -->
{% include interior/content_featured-breadcrumb.html %}


<div id="t4-bodyContainer">

    {% include interior/news-search-content.html %}

</div>

{% include footer.html %}

</body>

</html>