{% include head.html %}

{% include header.html %}

{% include interior/content_featured-breadcrumb.html %}

<div class="pgs-banner pgs-banner--interior"
    style="background-image: url('{{ site.baseurl }}/assets/img/student-banner-image.jpg');">
</div>

<div id="t4-bodyContainer">


    <main id="main__body" class="sidebar">
        <div class="container">
            <div class="row">

                {% include interior/content_featured-sidebar.html %}

                <div class="col-md-8 order-md-first">
                    <article>
                        {{ content }}
                    </article>
                </div>

            </div>
        </div>

    </main>

</div>

{% include footer.html %}

</body>

</html>
