<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include head.html %}

<style>
    hr {margin:3rem}
</style>
<body>

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDGX39L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  {% include header.html %}
  {% include interior/content_featured-breadcrumb.html %}

  <div id="t4-bodyContainer">
    <div data-spy="affix" data-offset-top="45">

        <main id="main__body">
            <div class="container">
              <div class="row">
                {% include interior/content_featured-sidebar.html %}

                <div class="col-md-8 order-md-first">

                <h2>Table of Contents</h2>
                <ul>
                   <li><a href="#typography">Typography</a></li>
                   <li><a href="#action-links">Action Links</a></li>
                   <li><a href="#award-card">Award Card</a></li>
                   <li><a href="#dept-card">Department Card</a></li>
                   <li><a href="#buttons">Buttons</a></li>
                   <li><a href="#event-cards">Event Cards</a></li>
                   <li><a href="#feature-cards">Feature Cards</a></li>
               
                </ul>
                


      {% include pegasus/typography.html %}
      <hr>
      {% include pegasus/action-links.html %}
      <hr>
      {% include pegasus/award-cards.html %}
      <hr>
      {% include pegasus/dept-cards.html %}
      <hr>
      {% include pegasus/buttons.html %}

    </div>
  </div>
</div>
</div>
</div>
</main>

  {% include footer.html %}

</body>
</html>
