{% include head.html %}

{% include header.html %}

{% include interior/content_featured-breadcrumb.html %}

<div class="pgs-banner pgs-banner--interior"
  style="background-image: url('{{ site.baseurl }}/assets/img/student-banner-image.jpg');">
</div>

<div id="t4-bodyContainer">

  <main id="main__body">
    <div class="container">
      <div class="row">

        {% include interior/content_featured-sidebar.html %}

        <div class="col-md-8 order-md-first">
          <article>
            <h1 class="page-header--xl">Pegasus Elements</h1>

            <h2>Table of Contents</h2>
            <ol>
              <li><a href="pegasus/typography.html">Typography</a></li>
              <li><a href="pegasus/action-links.html">Action Links</a></li>
              <li><a href="pegasus/accordion.html">Accordions</a></li>
              <li><a href="pegasus/award-cards.html"><s>Award Card</s></a></li>
              <li><a href="pegasus/award-cards-new.html">Award Card - New</a></li>
              <li><a href="pegasus/buttons.html">Buttons</a></li>
              <li><a href="pegasus/cta.html">Calls to Action Stripe</a></li>
              <li><a href="pegasus/colors.html">Colors</a></li>
              <li><a href="pegasus/cib.html">Content & Image Boxes</a></li>
              <li><a href="pegasus/data-box.html">Data Boxes</a></li>
              <li><a href="pegasus/dept-cards.html">Department Card</a></li>
              <li><a href="pegasus/dropdowns.html">Dropdowns</a></li>
              <li><a href="pegasus/event-cards.html">Event Cards</a></li>
              <li><a href="pegasus/feature-cards.html">Feature Cards</a></li>
              <li><a href="pegasus/flexbox-card.html"><s>Flexbox Cards</s></a></li>
              <li><a href="pegasus/flexbox-card-new.html">Flexbox Cards - New</a></li>
              <li><a href="pegasus/grand-buttons.html">Grand Buttons</a></li>
              <li><a href="pegasus/image-caption.html">Images With Caption</a></li>
              <li><a href="pegasus/org-cards.html"><s>Org Cards</s></a></li>
              <li><a href="pegasus/org-cards-new.html">Org Cards - New</a></li>
              <li><a href="pegasus/people-cards.html">People Cards</a></li>
              <li><a href="pegasus/related-news.html">Related News</a></li>
              <li><a href="pegasus/site-notices.html">Site Notices</a></li>
              <li><a href="pegasus/testimonial.html">Testimonials</a></li>
              <li><a href="pegasus/cib-wide.html">Two Column Content</a></li>
              <li><a href="pegasus/tiles.html">Tiles</a></li>
              <li><a href="pegasus/video.html">Video Embeds</a></li>
            </ol>
          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}

</body>

</html>