{% include ppc-head.html %}

{% include ppc-header.html %}

<!-- site notice -->
<div class="site-notices bg-warning">
  <div class="container">
      <div class="row min-height-100 flex-nowrap">
          <div class="col-2 d-flex justify-content-center align-items-center p-2">
              <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
          </div>
          <div class="col-9 p-3 my-3">
              <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
          </div>
          <div class="col-1 p-3 d-flex justify-content-center align-items-center">
              <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
          </div>
      </div>
  </div>
</div>
<!-- end site notice -->

<div class="pgs-banner pgs-banner--sub-landing">
  <div class="pgs-banner__image"
    style="background-image:url('https://www.dallascollege.edu/grants/dhsi/PublishingImages/title-v-1600x350.jpg');">
  </div>
</div>

<div id="t4-bodyContainer">
  <main id="main__ppc_body" class="ppc-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article>

          

            <div class="container">
              <div class="row">
          
                  <div class="col-md-7">
                      <div class="main-content">
                          <h2 class="cb-title-lg">Win With Dallas College</h2>
                      </div>
                  </div>
          
                  <div class="col-md-5">
                     
                    {% include ppc-form.html %}
                    </div>
          
          
              </div> <!-- /row -->
          
          
          
          
          <h2 class="cb-title-xl text-center">Why Dallas College?</h2>
          <div class="spacer-1">&nbsp;</div>
          
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                  <div class="feature-card bg-cgrey height-sm-375 height-md-350 height-lg-450">
                      <div class="cb-mainico bg-cprimary ico-block">
                          <span aria-hidden="true" class="ico fas fa-book"></span>
                      </div>
                      <h3 class="cb-title">Free Learning Materials</h3>
                      <p>The cost of most required materials—including textbooks, software, and lab kits—is covered by your tuition, saving you hundreds of dollars each semester.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">
                  <div class="feature-card bg-cgrey height-sm-375 height-md-350 height-lg-450">
                      <div class="cb-mainico bg-cprimary ico-block">
                          <span aria-hidden="true" class="ico fas fa-hand-holding-usd"></span>
                      </div>
                      <h3 class="cb-title">Incredible<br>Value</h3>
                      <p>Dallas College offers one of the lowest tuition rates in the state, and provides free student services such as food pantries, health centers, counseling, tutoring and career advising.
                      </p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">
                  <div class="feature-card bg-cgrey height-sm-375 height-md-350 height-lg-450">
                      <div class="cb-mainico bg-cprimary ico-block">
                          <span aria-hidden="true" class="ico fas fa-map-marker-alt"></span>
                      </div>
                      <h3 class="cb-title">Convenient Locations</h3>
                      <p>With multiple campuses across Dallas County and online courses, there’s a Dallas College location near you. Free parking and public transit passes are available to simplify your commute.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">
                  <div class="feature-card bg-cgrey height-sm-375 height-md-350 height-lg-450">
                      <div class="cb-mainico bg-cprimary ico-block">
                          <span aria-hidden="true" class="ico fas fa-clock"></span>
                      </div>
                      <h3 class="cb-title">Flexible<br>Classes</h3>
                      <p>Choose between traditional and accelerated courses, plus classes that take place on weekends, in the evenings or during non-traditional times like the winter holidays.</p>
                  </div>
              </div>
          </div> <!-- /row -->
          <div class="spacer-2">&nbsp;</div>
          
          <div class="text-center extra-padding-1">
              <a role="button" id="btnrequestinfo" class="button button-lg bg-csecondary shadow-2 btnrequestinfo cta-sign-up">Sign Up Now To Learn More</a>
          </div>
          
          <div>
              <ul class="list-inline pgs-action-link-list pgs-action-link-list--center fa-ul">
                  <li>
                      <a class="pgs-action-link cta-schedule" href="/cd/schedules/pages/default.aspx"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Check Out Our Class Schedule</a>
                  </li>
                  <li>
                      <a class="pgs-action-link cta-apply" href="/admissions/application/pages/default.aspx"><span class="fa-li"><span class="ico fas fa-chevron-right"></span></span>Apply Today</a>
                  </li>
              </ul>
          </div>
          
          <div class="spacer-2">&nbsp;</div>
          
          </div>


            <!-- End Content Area-->

          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{% include microsite-footer.html %}

</body>

</html>