{% include ppc-head.html %}

{% include ppc-header.html %}


<div class="pgs-banner pgs-banner--sub-landing">
  <div class="pgs-banner__title">
    <div class="container">
      <div class="h1 pgs-banner__h1">
        <a href="/"><img class="logo-bar-slot__img" src="https://www.dallascollege.edu/publishingimages/logos/dc-logo-master-white.svg" alt="Dallas College"></a>
        <h1 class="underline-inv text-cwhite site-title">Dallas College: Education That Works </h1>
      </div>
    </div>
  </div>
  <div class="pgs-banner__image" style="background-image:url('https://www.dallascollege.edu/grants/dhsi/PublishingImages/title-v-1600x350.jpg');">
  </div>
</div>

<div id="t4-bodyContainer">
  <main id="main__ppc_body" class="ppc-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <article class="mb-0">

            <div class="container">
              <div class="row">

                <div class="col-md-7">
                  <div class="main-content">
                    <h2 class="cb-title-lg">Win With Dallas College</h2>
                  </div>
                </div>

                <div class="col-md-5">
                  {% include ppc-form.html %}
                </div>

              </div>

              <h2 class="text-center mb-4">More information about Dallas College</h2>

          
            </div>


            <!-- End Content Area-->

          </article>
        </div>
      </div>
    </div>
  </main>
</div>

{% include ppc-footer.html %}

</body>

</html>
