{% include head.html %}

{% include header.html %}



<div class="pgs-banner pgs-banner--sub-landing pgs-banner--fw">
    <div class="pgs-banner__image"
        style="background-image: url('{{ site.baseurl }}/assets/img/landing-banner-gps-education.jpg');">
        {% include interior/content_featured-breadcrumb.html %}
    </div>


    <div class="pgs-banner__title">
        <div class="container">
            <h1 class="pgs-banner__h1">
                <!-- title -->School of Education
            </h1>
        </div>
    </div>
</div>



<div id="t4-bodyContainer">

    <main id="main__body" class="no-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article>
                        <!-- Content Area Begin -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-business">
                                    <h2 class="pgs-dept-card__title">School of Business, Hospitality & Global Trade</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:PathwaySuccess@DallasCollege.edu">Email PathwaySuccess@DallasCollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8912</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/business">School of Business, Hospitality & Global Trade Website</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>Mike Walker Ed.D</li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:MWalker@dallascollege.edu">Email MWalker@dallascollege.edu</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-arts">
                                    <h2 class="pgs-dept-card__title">School of Creative Arts, Entertainment & Design</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:CAEDInfo@DallasCollege.edu">Email CAEDInfo@DallasCollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8912</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/arts">School of Creative Arts, Entertainment & Design Website</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>Ahava Silkey-Jones
                                                </li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:asilkeyjones@dallascollege.edu">Email asilkeyjones@dallascollege.edu
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-education">
                                    <h2 class="pgs-dept-card__title">School of Education</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:SOEAdvising@DallasCollege.edu">Email SOEAdvising@DallasCollege.edu
                                                    </a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8912</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/education">School of Education Website</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>D. Robert DeHaas, Ed.D</li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:RobDeHaas@DallasCollege.edu">Email RobDeHaas@DallasCollege.edu</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-etms">
                                    <h2 class="pgs-dept-card__title">School of Engineering, Technology, Mathematics & Sciences</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:AskETMS@dallascollege.edu">Email AskETMS@dallascollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-238-6248</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/stem">School of Engineering, Technology, Mathematics & Sciences Website</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>Dr. Raghunath Kanakala</li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:RobDeHaas@DallasCollege.edu">Email rkanakala@dallascollege.edu</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-health">
                                    <h2 class="pgs-dept-card__title">School of Health Sciences</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:AskSOHS@DallasCollege.edu">Email AskSOHS@DallasCollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-669-6400</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/health-sciences">School of Health Sciences Website</a></li>
                                            </ul>
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-lps">
                                    <h2 class="pgs-dept-card__title">School of Law & Public Service</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:asklps@dallascollege.edu">Email asklps@dallascollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8912</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/law-public-service">School of Law & Public Service Website</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>Mike Walker Ed.D</li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:MWalker@dallascollege.edu">Email MWalker@dallascollege.edu</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pgs-dept-card pgs-dept-card--quiet border-manufacturing">
                                    <h2 class="pgs-dept-card__title">School of Manufacturing & Industrial Technology</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 pgs-dept-card__col">
                                            <h3 class="pgs-dept-card__subhead">Contact Us</h3>
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a
                                                        href="mailto:askmit@dallascollege.edu">Email askmit@dallascollege.edu</a>
                                                </li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-phone"></span></span>972-860-8912</li>
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-globe"></span></span><a href="https://www.dallascollege.edu/cd/schools/manufacturing-industrial-tech">School of Manufacturing & Industrial Technology</a></li>
                                            </ul>
                                            <h3 class="pgs-dept-card__subhead">Vice Provost</h3>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><span aria-hidden="true" class="ico fas fa-user"></span></span>Dr. Veronique Tran</li>
                                                <li>
                                                    <span class="fa-li"><span aria-hidden="true" class="ico fas fa-envelope"></span></span><a href="mailto:askmit@dallascollege.edu">Email askmit@dallascollege.edu</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- End Content Area -->
                    </article>
                </div>
            </div>
        </div>
    </main>

</div>

{% include footer.html %}

</body>

</html>