{% include head.html %}

{% include header.html %}

          <!-- site notice -->
          <div class="site-notices bg-info">
            <div class="container">
                <div class="row min-height-100 flex-nowrap">
                    <div class="col-2 d-flex justify-content-center align-items-center p-2">
                        <span aria-hidden="true" class="ico fas fa-info-circle icon-3x"></span>
                    </div>
                    <div class="col-9 p-3 my-3">
                        <p><strong>N Building at Dallas College Eastfield Campus</strong> is where you can find the Dallas
                            College Police Station.</p>
                            <a class="button bg-cwhite shadow-2" href="#">Read More <span class="visually-hidden">About This Notice</span></a>
                    </div>
                    <div class="col-1 p-3 d-flex justify-content-center align-items-center">
                        <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end site notice -->

        <div class="l-breadcrumb-bar">
            <div class="container">
              <div class="row">
              <nav aria-label="Breadcrumb" class="col-9 pgs-breadcrumb">
                <ol>
                  <li><a href="/TerminalBS/index.html">
                      <span class="ico fas fa-home" aria-hidden="true"></span><span class="sr-only">Home</span></a></li>
                  <li><a href="{{ site.baseurl }}/staff-directory.html">
                      Employee Directory</a></li>          
                      <li><a href="{{ site.baseurl }}/staff-directory-profile.html">
                        Employee Profile</a></li>     
          
                </ol>
              </nav>
              <div class="col-3 pgs-shortcut d-none d-lg-block text-end">
                <span>Shortcut: </span>dallascollege.edu/StaffDirectory
              </div>
              </div>
            </div>
          </div>


    <div id="t4-bodyContainer">

      {% include interior/content_staff-directory-profile.html %}

    </div>

  {% include footer.html %}

</body>
</html>
