{% include head.html %}

{% include header.html %}

    <!-- site notice -->
    <div class="site-notices bg-info">
      <div class="container">
        <div class="row min-height-100">
          <div class="col-2 d-flex justify-content-center align-items-center p-2">
            <span aria-hidden="true" class="ico fas fa-exclamation-triangle icon-3x"></span>
          </div>
          <div class="col-9 p-3">
            <p><strong>N Building at Dallas College Eastfield Campus</strong> is closing at 3 p.m. today.</p>
          </div>
          <div class="col-1 p-3 d-flex justify-content-center align-items-center">
            <span aria-hidden="true" class="ico fas fa-times-circle icon-lg"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- end site notice -->


    <div class="pgs-banner pgs-banner--double">
      <div class="container-fluid">
        <div class="row row--flex-md">

          <div class="col-md-6 order-md-2 pgs-banner__image" style="background-image: url('https://www.dallascollege.edu/cd/credit/world-languages/PublishingImages/world-lang-banner-1200x300.jpg');">
          </div>

          <div class="col-md-6 order-md-1 pgs-banner__title">
            <div class="row row--flex-md align-items-center">
              <div class="offset-1 col-10 pgs-banner__inner">
                <h1 class="pgs-banner__h1">Top Level Landing Page</h1>
                <p class="pgs-banner__lead">At Dallas Community Colleges, we keep tuition costs low and financial aid high. We also offer hundreds of scholarships and student discounts to save you even more. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- sub level nav -->
        <div class="pgs-banner__sub-nav bg-cgrey-05">
          <div class="offset-lg-1 col-lg-10">
              <nav class="navbar pgs-navbar--banner pgs-navbar--home navbar-expand-lg" aria-label="Student Quick Links">
                  <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pgs-navbar--banner__collapse" aria-controls="pgs-navbar--banner__collapse" aria-expanded="false" aria-label="Toggle navigation">
                          [Site] Quick Links<span aria-hidden="true" class="ico-right ico fas fa-chevron-circle-down "></span>
                      </button>
      
                      <div class="navbar-collapse justify-content-sm-center collapse" id="pgs-navbar--banner__collapse">
                        <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-wrap text-center">
                            <li class="nav-item flex-fill"><a class="nav-link" href="landing-page.html">Landing Page</a></li>
                              <li class="nav-item flex-fill"><a class="nav-link" href="top-landing-page.html">Top Landing Page</a></li>
                              <li class="nav-item flex-fill"><a class="nav-link" href="landing-page-sidebar.html">Landing Page Sidebar</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
      <!-- end sub level nav -->

    <main id="main__body">
      <div class="container">

<div class="row">
  <div class="offset-md-1 col-md-10">

<h2 class="text-center">Enroll Today in Government 1101: Understanding American Government at Dallas College</h2>
<p class="lead text-center"><strong>Taught by Josh Lyman, former chief of staff for President Matthew Santos.</strong></p>
<p class="lead text-center">Dive into the intricacies of American government and politics at Dallas College's Eastfield Campus!</p>
  </div>

</div>

<div class="row">
<div class="offset-md-3 col-md-6">
  <figure>
    <blockquote>
        <p>We hold these truths to be self-evident, that all men are created equal..."</p>
    </blockquote>
    <figcaption class="blockquote-footer">Declaration of Independence</cite>
    </figcaption>
</figure>

</div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">

<div class="content-image-box bg-cprimary">
  <div class="col-sm-8 cib-left cib-content">
    <h2>Don't Miss This Unique Opportunity</h2>
    <ul>
      <li><strong>Unique Perspective:</strong> Learn from Josh Lyman, known for his deep understanding of political strategy and governance.</li>
      <li><strong>Evening Classes:</strong> Convenient evening classes at the Eastfield Campus, perfect for working students.</li>
      <li><strong>Engaging Curriculum:</strong> Explore the foundations of American government, including the Constitution, civil rights, and the electoral process.</li>
      <li><strong>Interactive Learning:</strong> Participate in discussions, debates, and simulations that bring government concepts to life.</li>
      <li><strong>Networking Opportunities:</strong> Connect with fellow students and professionals in the field of political science.</li>
  </ul>

  <a href="/admissions/pages/default.aspx" class="button button-lg bg-csecondary shadow-2">Enroll Today</a>
  </div>
  <div class="col-sm-4 cib-right cib-img">
      <img src="https://dallascollege.github.io/TerminalBS/assets/img/students1.jpg" class="cib-image" alt="Insert Alt Description">
  </div>
</div>



<div class="content-image-box bg-cprimary-lt">

  <div class="col-sm-8 cib-right cib-content">
    <h2>Who is Josh Lyman?</h2>
    <p>Josh Lyman is a highly regarded political strategist with an impressive resume:</p>
    <ul>
        <li>Graduated cum laude from Harvard University and earned a law degree from Yale Law School.</li>
                <li>Chief of Staff for President Matt Santos.</li>
                <li>Deputy Chief of Staff for President Jed Bartlet.</li>
                <li>Campaign Manager for Santos/McGarry for a Brighter America.</li>
                <li>Legislative Director in the House of Representatives.</li>
                <li>Floor Manager to the House Minority Whip.</li>
            </ul>
        </li>
        <p>Lyman is well known for his sharp political mind, strategic thinking, and ability to navigate complex political landscapes. He has also played a key role in significant legislative victories and was instrumental in the presidential campaigns of John Hoynes, Jed Bartlet and Matthew Santos.</p>
    </ul>
  </div>
  <div class="col-sm-4 cib-left cib-img">
    <img src="https://dallascollege.github.io/TerminalBS/assets/img/josh-lyman-lg.jpg" class="cib-image" alt="Josh Lyman">
</div>

</div>

</div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-10">


<h3>Course Details</h3>
<p>This course is designed for anyone interested in understanding the mechanics of government and the role of citizens in a democracy. Whether you're pursuing a degree in political science or just want to be an informed citizen, this class is for you!</p>

</div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-6">

<figure>
  <blockquote>
      <p>"The Constitution is the guide which I never will abandon."</p>
  </blockquote>
  <figcaption class="blockquote-footer">President George Washington</cite>
  </figcaption>
</figure>

</div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
      <div class="pgs-cta bg-cgrey-05 border-cprimary mt-3 mb-5">
          <p class="pgs-cta__headline text-cprimary-dk">Winter/Spring registration opens Nov. 16 for continuing students and Nov. 22 for all students.<br></p>
          <a href="/admissions/pages/default.aspx" class="button button-lg bg-csecondary shadow-2 button-off">Get Started Now</a>
     </div>
  </div>
</div>



</div>


      </div>
    </main>

  {% include footer.html %}

</body>
</html>
